# -*- mode: config -*-

[config]
include: LQtaub-lephad/config/common/master/analyze-common.cfg

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-LQtaub-lephad-ZCR-FF-closure-NOMINAL.root
cuts: LQtaub-lephad/config/ZCR/cuts/cuts-FF.def

histograms: LQtaub-lephad/config/ZCR/histograms/histograms.txt

# To turn on remove data from joblists or uncomment data lines in pathc files
#ntuples: LQtaub-lephad/config/ZCR/ntuples/ntuples-FF.txt


aliases.ApplyMultiJetsLFF = true
aliases.MultiJetsLFFPeriod: Combined

aliases.ApplyOtherJetsTFF: false

aliases.ApplyOtherJetsSF: false

aliases.ApplyMCFakesSF: true

aliases.ApplyTopSF: true

aliases.ApplyZjetsSF: true
