# -*- mode: config -*-

[config]
include: LQtaub-lephad/config/common/master/visualize-common.cfg

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-LQtaub-lephad-ZCR-FF-NOMINAL.root
outputDir: results/LQtaub-lephad-ZCR-FF-os
histogramProcesses: LQtaub-lephad/config/ZCR/visualization/processes/histogram-processes-FF-os.txt
cutflowProcessFiles: LQtaub-lephad/config/ZCR/visualization/processes/cutflow-processes-FF-os.txt
cutflowCutFiles: LQtaub-lephad/config/ZCR/visualization/cuts/cuts-FF-os.txt
channels: lephad
plotlabel.region: "ZCR"
makePlots: CutZVisMass/*
