# -*- mode: config -*-

config.Include: configCommon/htautau_lephad_common_mc16a.cfg, configWjetsFakeRegion/htautau_lephad_wfr_mc16a.cfg, configWjetsFakeRegion/htautau_lephad_wfr_contid.cfg


##########################################################################
#runAnalysis.inputFile: input/htautau_lephad_wfr_contid_mc16a.root:samples
#runAnalysis.outputFile: output/htautau_lephad_wfr_contid_mc16a/nominal.root:samples


##########################################################################
#readAnalysis.inputFile: output/htautau_lephad_wfr_contid_mc16a/nominal.root:samples
readAnalysis.outputDir: results/htautau_lephad_wfr_contid_mc16a
