# -*- mode: config -*-

#########################################
##
##  Configuration file for TCR.
##  This includes all regions that require
##      full fake factor knowledge:
##      SR, VR, TCR, WCR-(test FF)
##
#########################################

[config]
include: lqtaub_lephad/config-Common/master/master.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-lqtaub_lephad_tcr.root
cuts: lqtaub_lephad/config-TopControlRegion/cuts/cuts.def
histograms: lqtaub_lephad/config-TopControlRegion/histograms/histograms.txt
aliases.UseLeptonFF: true
aliases.UseQCDSF: true
aliases.UseWjetsFF: true
aliases.UseWjetsSF: true

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-lqtaub_lephad_tcr.root
outputDir: results/lqtaub_lephad_tcr
histogramProcesses: lqtaub_lephad/config-TopControlRegion/visualization/processes/plot-processes.txt
cutflowProcessFiles: lqtaub_lephad/config-TopControlRegion/visualization/processes/plot-processes.txt
cutflowCutFiles: lqtaub_lephad/config-TopControlRegion/visualization/cuts/cutflow-cuts.txt
plotlabel.region: "TCR"
makePlots: CutTCRBt*/*
