# -*- mode: config -*-

#########################################
##
##  Configuration file for SR.
##  This includes all regions that require
##      full fake factor knowledge:
##      SR, VR, TCR, WCR-(test FF)
##
#########################################

[config]
include: bsmtautau_lephad/config-SignalControlRegion/master/master.cfg

[prepare]

[initialize]

[analyze]
cuts: bsmtautau_lephad/config-SignalControlRegion/syst-old/cuts/cuts.def
histograms: bsmtautau_lephad/config-SignalControlRegion/syst-old/histograms/histograms.txt
aliases.UseLeptonFF: true
aliases.UseQCDSF: true
aliases.UseWjetsFF: true
aliases.UseWjetsSF: true
aliases.UseTopSF: true

[visualize]
