# -*- mode: config -*-

[analyze]
aliases.SignalProcess: LQtaub

########################
# Object Working Point #
########################
# electron isolation
# -- Preliminary R21 recommendation: FCLoose FCTight FCHighPtCaloOnly
# -- Coming: Loose_VarRad Tight_VarRad TightTrackOnly_VarRad  TightTrackOnly_FixedRad HighPtCaloOnly

aliases.ElectronIsoWP: FCTight

# muon isolation
# -- Most recommended: PflowLoose_FixedRad PflowLoose_VarRad PflowTight_FixedRad PflowTight_VarRad
# -- Recommended: TightTrackOnly_FixedRad TightTrackOnly_VarRad
aliases.MuonIsoWP: PflowTight_FixedRad

# TauID
# -- Recommended: rnn_loose rnn_medium rnn_tight
aliases.TauIDWP: rnn_medium
aliases.TauIDScore: tau_0_jet_rnn_score_trans 
aliases.TauIDScoreCut: "0.01"

# btagging
# -- Recommended: DL1r_FixedCutBEff_60/70/77/85
aliases.BtaggingWP: DL1r_FixedCutBEff_70

#########################
# Background parameterization #
#########################
aliases.ApplyMultiJetsLFF: false
aliases.MultiJetsLFFPeriod: Combined  #Combined/Separated
aliases.MultiJetsLFF: "{$(ApplyMultiJetsLFF) ? [MultiJetsLFF] : 1}"

aliases.ApplyMultiJetsSF: false
aliases.MultiJetsSFSYSPeriod: Combined  #Combined/Separated
aliases.MultiJetsSFSYS: "{$(ApplyMultiJetsSF) ? [MultiJetsSF] : 1}"

aliases.ApplyOtherJetsTFF: false
aliases.OtherJetsTFFPeriod: Combined
aliases.OtherJetsTFF: "{$(ApplyOtherJetsTFF) ? [OtherJetsTFF] : 1}"

aliases.ApplyOtherJetsSF: false
aliases.OtherJetsSFPeriod: Combined
aliases.OtherJetsSFParam: LeptonPt
aliases.OtherJetsSF: "{$(ApplyOtherJetsSF) ? [OtherJetsSF] : 1}"

aliases.ApplyTopSF: false
aliases.TopSFPeriod: Combined
aliases.TopSF: "[TopSF]"

aliases.ApplyMCOtherJetsTFF: false

aliases.ApplyMCFakesSF: false
aliases.MCFakesSF: "{$(ApplyMCFakesSF) ? [MCFakesSF] : 1}"

aliases.ApplyExtrapolationSF: false
aliases.ExtrapolationSF: "{$(ApplyExtrapolationSF) ? [ExtrapolationSys] : 1}"

aliases.ApplyTopResidualSF: false
aliases.TopResidualSF: "{$(ApplyTopResidualSF) ? [TopResidualSys] : 1}"


aliases.ApplyISRLoWeight: false
aliases.ApplyISRHiWeight: false
aliases.ApplyFSRLoWeight: false
aliases.ApplyFSRHiWeight: false
aliases.ISRLoWeight: "{$(ApplyISRLoWeight) ? pmg_truth_weight_ISRLo : 1}"
aliases.ISRHiWeight: "{$(ApplyISRHiWeight) ? pmg_truth_weight_ISRHi : 1}"
aliases.FSRLoWeight: "{$(ApplyFSRLoWeight) ? pmg_truth_weight_FSRLo : 1}"
aliases.FSRHiWeight: "{$(ApplyFSRHiWeight) ? pmg_truth_weight_FSRHi : 1}"


#####################
# Other corrections #
#####################
aliases.ApplyMaterialCorrection: true
aliases.ApplyLPXKfactor: true

#########################
# alias for convenience #
#########################
aliases.isElectron: "(lep_0 == 2)"
aliases.isMuon: "(lep_0 == 1)"

aliases.ElectronISO: "lep_0_iso_$(ElectronIsoWP)"
aliases.MuonISO: "lep_0_iso_$(MuonIsoWP)"
aliases.isPassISO: "(($(isElectron) && $(ElectronISO) == 1) || ($(isMuon) && $(MuonISO) == 1))"
aliases.isFailISO: "(($(isElectron) && $(ElectronISO) == 0) || ($(isMuon) && $(MuonISO) == 0))"
aliases.LeptonFakeNom: "($(isMC) ? -1 : 1)"

aliases.TauID: "tau_0_jet_$(TauIDWP)"
aliases.isPassID: "($(TauID) == 1)"
aliases.isFailID: "($(TauID) == 0 && $(TauIDScore) > $(TauIDScoreCut))"
aliases.TauFakeNom: "(($(isMC) || $(isMultiJetsFake)) ? -1 : 1)"

aliases.NbJets: "n_bjets_$(BtaggingWP)"

aliases.LepTauDphi: "TVector2::Phi_mpi_pi(lep_0_p4.Phi() - tau_0_p4.Phi())" 
aliases.LepJetDphi: "TVector2::Phi_mpi_pi(lep_0_p4.Phi() - bjet_0_p4.Phi())"
aliases.LepMETDphi: "TVector2::Phi_mpi_pi(lep_0_p4.Phi() - met_reco_p4.Phi())"
aliases.TauJetDphi: "TVector2::Phi_mpi_pi(tau_0_p4.Phi() - bjet_0_p4.Phi())"
aliases.TauMETDphi: "TVector2::Phi_mpi_pi(tau_0_p4.Phi() - met_reco_p4.Phi())"
aliases.JetMETDphi: "TVector2::Phi_mpi_pi(bjet_0_p4.Phi() - met_reco_p4.Phi())"

aliases.LepTauDeta: "(lep_0_p4.Eta() - tau_0_p4.Eta())"
aliases.LepJetDeta: "(lep_0_p4.Eta() - bjet_0_p4.Eta())"
aliases.TauJetDeta: "(tau_0_p4.Eta() - bjet_0_p4.Eta())"

aliases.LepTauDr: "TMath::Sqrt($(LepTauDphi)*$(LepTauDphi) + $(LepTauDeta)*$(LepTauDeta))"
aliases.LepJetDr: "TMath::Sqrt($(LepJetDphi)*$(LepJetDphi) + $(LepJetDeta)*$(LepJetDeta))"
aliases.TauJetDr: "TMath::Sqrt($(TauJetDphi)*$(TauJetDphi) + $(TauJetDeta)*$(TauJetDeta))"

aliases.St: "(lep_0_p4.Pt() + tau_0_p4.Pt() + bjet_0_p4.Pt())"
aliases.StMET: "(lep_0_p4.Pt() + tau_0_p4.Pt() + bjet_0_p4.Pt() + met_reco_p4.Et())"
aliases.Ht: "(lep_0_p4.Pt() + tau_0_p4.Pt() + jets_scalar_sum_pt)"
aliases.HtMET: "(lep_0_p4.Pt() + tau_0_p4.Pt() + jets_scalar_sum_pt + met_reco_p4.Et())"
