# -*- mode: config -*-

[config]
include: configSignalControlRegion/htautau_lephad_tcr.cfg, configSignalControlRegion/syst/htautau_lephad_sr_sys.cfg

[prepare]

[initialize]

[analyze]

[visualize]
outputDir: results/htautau_lephad_tcr_sys
