# -*- mode: config -*-

[config]
include: AHZ-lephad/config/common/master/analyze-common.cfg

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-AHZ-lephad-TCR-opt.root
cuts: AHZ-lephad/config/TCR/cuts/cuts-opt.def
histograms: AHZ-lephad/config/TCR/histograms/histograms-opt.txt

aliases.ApplyMultiJetsLFF = true
aliases.MultiJetsLFFPeriod: Combined
