# -*- mode: config -*-

[config]
include: AHZ-lephad/config/common/master/analyze-common.cfg

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-AHZ-lephad-TCR-SF.root
cuts: AHZ-lephad/config/TCR/cuts/cuts-SF.def
histograms: AHZ-lephad/config/TCR/histograms/histograms-SF.txt

aliases.ApplyMultiJetsLFF: true
aliases.MultiJetsLFFPeriod: Combined

aliases.ApplyTopSF: false
