# -*- mode: config -*-

[config]
include: common/config/master/visualize-default.cfg

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-AHZ-lephad-TCR-SF-closure.root
outputDir: results/AHZ-lephad-TCR-SF-closure
histogramProcesses: AHZ-lephad/config/TCR/visualization/processes/plot-processes-SF.txt
cutflowProcessFiles: AHZ-lephad/config/TCR/visualization/processes/cutflow-processes-SF.txt
cutflowCutFiles: AHZ-lephad/config/TCR/visualization/cuts/cuts-TCR-SF.txt
plotlabel.region: "TCR"
makePlots: CutTCR*MT/*
