# -*- mode: config -*-

[config]
include: bsmtautau_lephad/config-WjetsFakeRegion/master/master.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_wfr.root
cuts: bsmtautau_lephad/config-WjetsFakeRegion/cuts/cuts.def
histograms: bsmtautau_lephad/config-WjetsFakeRegion/histograms/histograms.txt
aliases.UseLeptonFF: true
aliases.UseQCDSF: true

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_wfr.root
outputDir: results/bsmtautau_lephad_os_wfr
histogramProcesses: bsmtautau_lephad/config-WjetsFakeRegion/visualization/processes/plot-processes.txt
cutflowProcessFiles: bsmtautau_lephad/config-WjetsFakeRegion/visualization/processes/plot-processes.txt
cutflowCutFiles: bsmtautau_lephad/config-WjetsFakeRegion/visualization/cuts/cutflow-cuts-os.txt
plotlabel.region: "OS WFR"
makePlots: CutOSB*p*ID/*
