# -*- mode: config -*-

[config]
include: AHZ-lephad/config/common/aliases/aliases.cfg

[analyze]
inputFile: sampleFolders/initialized/samples-initialized-AHZ-lephad-common.root
customObservables.directories: AHZ-lephad/observables
customObservables.snippets: BSMTriggerDecision, ScaleFactor, TruthTauSelector, TopTheorySys, HiggsPt, MTtot, Pzeta, LPXKfactor, MatTransCorrection, MultiJetsLFF, LeptonFakesReweight, OtherJetsTFF, MCOtherJetsTFF, OtherJetsSF, TopSF, ExtrapolationSys, QCDJetFakeTau
channels: ehad, muhad
doData: true
printObservables: false
printCuts: false
useMultiChannelVisitor: true
purgeRemainder: true
patches: AHZ-lephad/config/common/patches/analyze-sample-patch.txt 
