# -*- mode: config -*-

[c16a]
dataFileList: AHZ-lephad/config/common/samples/inputFileLists/FileList_data1516.txt
mcFileList: AHZ-lephad/config/common/samples/inputFileLists/FileList_nom_mc16a.txt
luminosity: 36207.66


[c16d]
dataFileList: AHZ-lephad/config/common/samples/inputFileLists/FileList_data17.txt
mcFileList: AHZ-lephad/config/common/samples/inputFileLists/FileList_nom_mc16d.txt
luminosity: 44307.4


[c16e]
dataFileList: AHZ-lephad/config/common/samples/inputFileLists/FileList_data18.txt
mcFileList: AHZ-lephad/config/common/samples/inputFileLists/FileList_nom_mc16e.txt
luminosity: 58450.1
