# -*- mode: config -*-

[config]
include: common/config/master/initialize-default.cfg

[initialize]
inputFile: sampleFolders/prepared/samples-prepared-AHZ-lephad-common.root
outputFile: sampleFolders/initialized/samples-initialized-AHZ-lephad-common.root
campaignsConfig: AHZ-lephad/config/common/master/campaigns-nominal.cfg
channels: ehad, muhad
campaigns: c16a, c16d, c16e
postInit_patches: AHZ-lephad/config/common/patches/initialize-post-pool-patch.txt, AHZ-lephad/config/common/patches/initialize-post-FF-patch.txt 
