# -*- mode: config -*-

[config]
include: common/config/master/prepare-default.cfg

[prepare]
outputFile: sampleFolders/prepared/samples-prepared-AHZ-lephad-common.root
campaignsConfig: AHZ-lephad/config/common/master/campaigns-nominal.cfg
campaigns: c16a, c16d, c16e
channels: ehad, muhad
patches: common/config/patches/prepare-xsec-patch.txt, AHZ-lephad/config/common/patches/prepare-patch.txt 
