# -*- mode: config -*-

[visualize]
channelConfig: bsmtautau_lephad/config-Common/channels/channels.txt
visualizeCampaignConfig: bsmtautau_lephad/config-Common/campaigns/campaigns.txt
visualizeCampaigns: c16ade
#, c16a, c16d, c16e
patches: bsmtautau_lephad/config-Common/visualization/style/style.txt
channels: ehad, muhad
#, lephad
makePlots: *
skipPlotsSilent: true
plotformat: pdf
makeLogPlots: True
makeCutflows: True
cutflowFormats: html, tex, txt
cutprinter.standalone: True
plotter: TQHWWPlotter
plotter.style.min: 0.9
plotter.style.showUnderflow: False
plotter.style.showOverflow: True
plotter.style.showEventYields: True
plotter.style.showEventYields.showErrors: False
plotter.style.nLegendCols: 2
plotter.style.legend.textSize: 0.015
plotter.style.showRatio: True
plotter.style.forceRatioLimits: True
plotter.style.ratioMin: 0.81
plotter.style.ratioMax: 1.19
plotter.geometry.sub.margins.bottom: 0.12
plotter.geometry.sub.xAxis.titleOffset: 0.7
plotter.labels.drawInfo: True
plotter.labels.atlas: "Work In Progress"
plotter.labels.atlas.xOffset: 0.13
plotter.labels.atlas.scale: 0.9
plotlabel.analysis: "BSM #rightarrow $(channel)"
lumiDigit: 3
