# -*- mode: config -*-

[config]
include: bsmtautau_lephad/config-QCDTauFakeRegion/master/master_ss.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_qcdtfr_applyff.root
aliases.UseWjetsFF: true

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_qcdtfr_applyff.root
outputDir: results/bsmtautau_lephad_ss_qcdtfr_applyff
histogramProcesses: bsmtautau_lephad/config-QCDTauFakeRegion/applyFF/visualization/processes/plot-processes.txt
cutflowProcessFiles: bsmtautau_lephad/config-QCDTauFakeRegion/applyFF/visualization/processes/plot-processes.txt
