# -*- mode: config -*-

[config]
include: bsmtautau_lephad/config-SignalControlRegion/master/master_vr.cfg, bsmtautau_lephad/config-SignalControlRegion/syst/master/master.cfg

[prepare]

[initialize]

[analyze]

[visualize]
outputDir: results/bsmtautau_lephad_vr_sys
