# -*- mode: config -*-

#########################################
##
##  Configuration file for SR.
##  This includes all regions that require
##      full fake factor knowledge:
##      SR, VR, TCR, WCR-(test FF)
##
#########################################

[config]
include: bsmtautau_lephad/config-SignalControlRegion/syst/master/master.cfg

[prepare]

[initialize]

[analyze]
inputFile: sampleFolders/initialized/samples-initialized-bsmtautau_lephad_common_sys.root
outputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_sr_sys_weight.root
sfSystematics: weight

[visualize]
