# -*- mode: config -*-

#########################################
##
##  Configuration file for SR.
##  This includes all regions that require
##      full fake factor knowledge:
##      SR, VR, TCR, WCR-(test FF)
##
#########################################

[config]
include: bsmtautau_lephad/config-SignalControlRegion/master/master.cfg

[prepare]

[initialize]
outputFile: sampleFolders/initialized/samples-initialized-bsmtautau_lephad_common_sys.root
campaignsConfig: bsmtautau_lephad/config-Common/master/master_campaigns_sys.cfg
#postInit_patches: bsmtautau_lephad/config-Common/bsmtautau_lephad_common_postinit.tags, bsmtautau_lephad/config-Common/bsmtautau_lephad_common_postinit_clean.tags
#initialize: false

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_sr_sys.root
doNominal: false
doData: false
showChannels: true
sfSystematicsList.lff: bsmtautau_lephad/config-SignalControlRegion/syst/lists/sf-lff.tq
sfSystematicsList.lsf: bsmtautau_lephad/config-SignalControlRegion/syst/lists/sf-lsf.tq
sfSystematicsList.wff: bsmtautau_lephad/config-SignalControlRegion/syst/lists/sf-wff.tq
sfSystematicsList.wsf: bsmtautau_lephad/config-SignalControlRegion/syst/lists/sf-wsf.tq
sfSystematicsList.vsf: bsmtautau_lephad/config-SignalControlRegion/syst/lists/sf-vsf.tq
sfSystematicsList.material: bsmtautau_lephad/config-SignalControlRegion/syst/lists/sf-material.tq
sfSystematicsList.lpx: bsmtautau_lephad/config-SignalControlRegion/syst/lists/sf-lpx.tq
sfSystematicsList.top: bsmtautau_lephad/config-SignalControlRegion/syst/lists/sf-top.tq
sfSystematicsList.weight: bsmtautau_lephad/config-SignalControlRegion/syst/lists/sf-weight.tq
p4SystematicsList.all: bsmtautau_lephad/config-SignalControlRegion/syst/lists/p4-all.tq

[visualize]
outputDir: results/bsmtautau_lephad_sr_sys

#systematicsBands: systematicsBands/SRsys_band_c16ade_ehad.root:systematics>>::ehad, systematicsBands/SRsys_band_c16ade_muhad.root:systematics>>::muhad
systematicsBands: systband_ehad_iso.root:systematics>>::ehad
