# -*- mode: config -*-

[config]
include: lqtaub_lephad/config-SignalControlRegion/master/master.cfg

[prepare]

[initialize]

[analyze]

[visualize]
outputDir: results/lqtaub_lephad_vr_wjetsqcd
histogramProcesses: lqtaub_lephad/config-Common/visualization/processes/plot-processes_wjetsqcd.txt
cutflowProcessFiles: lqtaub_lephad/config-Common/visualization/processes/plot-processes_wjetsqcd.txt
plotlabel.region: "VR: W+jets QCD"
