# -*- mode: config -*-

#########################################
##
##  Configuration file for SR.
##  This includes all regions that require
##      full fake factor knowledge:
##      SR, VR, TCR, WCR-(test FF)
##
#########################################

[config]
include: lqtaub_lephad/config-Common/master/master.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-lqtaub_lephad_sr.root
cuts: lqtaub_lephad/config-SignalControlRegion/cuts/cuts.def
histograms: lqtaub_lephad/config-SignalControlRegion/histograms/histograms.txt
aliases.UseLeptonFF: true
aliases.UseQCDSF: true
aliases.UseWjetsFF: true
aliases.UseWjetsSF: true
aliases.UseTopSF: true

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-lqtaub_lephad_sr.root
outputDir: results/lqtaub_lephad_sr
histogramProcesses: lqtaub_lephad/config-SignalControlRegion/visualization/processes/plot-processes_sr.txt
cutflowProcessFiles: lqtaub_lephad/config-SignalControlRegion/visualization/processes/plot-processes_sr.txt
cutflowCutFiles: lqtaub_lephad/config-SignalControlRegion/visualization/cuts/cutflow-cuts.txt
plotlabel.region: "SR"
makePlots: CutBv*/*, CutBt*/*
#makePlots: CutBv*/Tau*, CutBv*/Lep*, CutBv*/*Pt
