# -*- mode: config -*-

[config]
include: lqtaub_lephad/config-SignalControlRegion/master/master.cfg

[prepare]

[initialize]

[analyze]

[visualize]
outputDir: results/lqtaub_lephad_vr_qcd
histogramProcesses: lqtaub_lephad/config-Common/visualization/processes/plot-processes_qcd.txt
cutflowProcessFiles: lqtaub_lephad/config-Common/visualization/processes/plot-processes_qcd.txt
plotlabel.region: "VR: QCD"
