# -*- mode: config -*-

[config]
include: lqtaub_lephad/config-SignalControlRegion/master/master.cfg

[prepare]

[initialize]

[analyze]

[visualize]
outputDir: results/lqtaub_lephad_vr
histogramProcesses: lqtaub_lephad/config-SignalControlRegion/visualization/processes/plot-processes.txt
cutflowProcessFiles: lqtaub_lephad/config-SignalControlRegion/visualization/processes/plot-processes.txt
plotlabel.region: "VR"
makePlots: CutVRBv*/*
