# -*- mode: config -*-

[config]
include: AHZ-lephad/config/SR/master/analyze-FF.cfg


[analyze]
inputFile: sampleFolders/initialized/samples-initialized-AHZ-lephad-common_sys.root
doNominal: false
doData: false
showChannels: true

aliases.ApplyExtrapolationSF: False
aliases.ApplyMultiJetsSF: true
