# -*- mode: config -*-

[config]
include: LQtaub-lephad/config/common/master/initialize-FF-common.cfg

[initialize]
outputFile: sampleFolders/initialized/samples-initialized-LQtaub-lephad-common_sys.root
campaignsConfig: LQtaub-lephad/config/common/master/campaigns-nominal_sys.cfg

