# -*- mode: config -*-

[analyze]

# name of the input file
inputFile: sampleFolders/initialized/samples-run2-initialized-ZjetsFF-Example.root

# name of the output file
outputFile: sampleFolders/analyzed/samples-run2-analyzed-ZjetsFF-Example.root

# channels to run over
channels: ee,mm

#maxEvents: 1

#progressInterval: 5.

# experiminetal on-the-fly initialization (used for grid production)
#initializerLists: files.txt

useMultiChannelVisitor: true


# global properties
#useTransientTree: false
#useAthenaAccessMode: true
#loadStore: false

#doData: false

#MVA:

#xAODdumping.cuts

#memoryGraph

#initializerLists:

#purgeSamples: true

purgeRemainder: true

#showChannels: true

#checkRun: false

#printCounterValues: true
#printHistogramsASCII:

#reduceMCVObservables: true

#restrict:

# define the cuts
cuts: example/config/definitions/cuts/run2-ZjetsFF-Example.def
#templatedCuts.templateFilepath: 
#templatedCuts.inputsDir: 
#nullifyCuts:
#cutbased.makeCutflow: false

patches: example/config/patches/analyzeZjetsFF-patch.txt

# add any observables
#addObservables: 

#printObservables: true

#algorithms:

#xAODdumping.outputDir:

# book histograms
histograms: example/config/definitions/histograms/run2-histograms-ZjetsFF-Example.cfg
#multidimHistograms: 
#makeHistograms: false
#printHistograms: true

# book graphs
#graphs:
#makeGraphs: false
#printGraphs: true

# book event lists
#eventlists:
#makeEventLists: false

# book ntuple dumping
#ntuples:
#dumpNtuples: false
#printNtuples: true

# include aliases
[config]
include: example/config/definitions/aliases/run2-aliases-ZjetsFF-Example.cfg