# -*- mode: config -*-

[config]
include: configSignalControlRegion/htautau_lephad_sr.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_sr_applysf.root
cuts: configSignalControlRegion/syst/htautau_lephad_sr_sys_cuts.def
customObservables.snippets: BSMTriggerDecision, ScaleFactor, TruthSelector, isoReweight, ptReweight, BSMLepHad_TopSys, mTtot, higgsPt, QCDReweight, extrapolationReweight, TopReweight
#, Pzeta

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_sr_applysf.root
outputDir: results/htautau_lephad_sr_applysf
