*.pyc
Root/LinkDef.h
python/__init__.py
setup/setupLocal.sh
setup/setupAnalysis.sh
build
*/sampleFolders
*/results
*/batchOutput
*/htcondorWorkloadTemp
*/submissionWorkloadTemp
*/jobslist.txt
*/logs
*/backups
*/configFailIDSignalControlRegion
*/configApplyBackLeptonFakeRegion
*/configApplyBackWjetsFakeRegion
*.tex
*.pdf
*.log
*.aux
*.jpg
*.png
*.root
*.tar
*.tgz
*.tar.gz
*~
#*#
.asetup.save
*.DS_Store
