*.pyc
Root/LinkDef.h
python/__init__.py
setup/setupLocal.sh
build
*/sampleFolders
*/results
*/batchOutput
*/htcondorWorkloadTemp
*/submissionWorkloadTemp
*/jobslist.txt
*/logs
*/backups
*.tex
*.pdf
*.log
*.aux
*.jpg
*.png
*.root
*.tar
*.tgz
*.tar.gz
*~
#*#
.asetup.save
*.DS_Store
*.isDone
share/inputs/*
!share/inputs/.keep
!share/Systematics/*.root
.envBefore_asetup.sh*
jobs-*.tmp
htautau_lephad_common_xsec.csv-*
