# -*- mode: config -*-

[config]
include: configCommon/htautau_lephad_common.cfg

[prepare]
#patches: configApplyBackLeptonFakeRegion/htautau_lephad_lfr_applyff.tags
channels: ehad, muhad

[initialize]
preMCInit_patches: configApplyBackLeptonFakeRegion/htautau_lephad_lfr_applyff.tags
channels: ehad, muhad

[analyze]
inputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_lfr_applyff.root
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_lfr_applyff-nominal.root
cuts: configApplyBackLeptonFakeRegion/htautau_lephad_lfr_applyff_cuts.def
histograms: configApplyBackLeptonFakeRegion/htautau_lephad_lfr_applyff_histograms.txt
customObservables.snippets: BSMTriggerDecision, ScaleFactor, TruthSelector, isoReweight, BSMLepHad_TopSys, mTtot
channels: ehad, muhad
aliases.isovar: nominal
### select lepton fake factor:
# FFETA (default) for eta parametrization
# FFPT for pt parametrization
# FF2DPTDPHI for pt par and dphi corr
myLeptonFF: FF2DPTDPHI


[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_lfr_applyff-nominal.root
cutflowCutFiles: configApplyBackLeptonFakeRegion/htautau_lephad_lfr_applyff_cuts.txt
channels: ehad, muhad
plotlabel: "H/A#rightarrow#tau_{lep}#tau_{had} LFR ($(channel))"
makePlots: CutB*BDTSLPassISO/*
