# -*- mode: config -*-

[config]
include: AHZ-lephad/config/common/master/analyze-common.cfg

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-AHZ-lephad-SR-nominal.root
cuts: AHZ-lephad/config/SR/cuts/cuts-nominal.def
histograms: AHZ-lephad/config/SR/histograms/histograms-nominal.txt
#ntuples: AHZ-lephad/config/SR/ntuples/ntuples-nominal.txt

aliases.ApplyMultiJetsLFF: true
aliases.MultiJetsLFFPeriod: Combined

aliases.ApplyTopSF: true
aliases.TopSFPeriod: Combined
