# -*- mode: config -*-

[config]
include: common/config/master/visualize-default.cfg

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-AHZ-lephad-SR-opt.root
outputDir: results/AHZ-lephad-SR-opt-btag
histogramProcesses: AHZ-lephad/config/SR/visualization/processes/histogram-processes-opt.txt
cutflowProcessFiles: AHZ-lephad/config/SR/visualization/processes/cutflow-processes-opt.txt
cutflowCutFiles: AHZ-lephad/config/SR/visualization/cuts/cuts-opt-btag.txt
plotlabel.region: "Btag SR"
makePlots: Cut*Btag*MT/*
