# -*- mode: config -*-

[config]
include: common/config/master/visualize-default.cfg

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-AHZ-lephad-SR-alternateFR.root
outputDir: results/AHZ-lephad-SR-alternateFR-ss
histogramProcesses: AHZ-lephad/config/SR/visualization/processes/histogram-processes-alternateFR-ss.txt
cutflowProcessFiles: AHZ-lephad/config/SR/visualization/processes/cutflow-processes-alternateFR-ss.txt
cutflowCutFiles: AHZ-lephad/config/SR/visualization/cuts/cuts-alternateFR-ss.txt
plotlabel.region: "SS SR"
makePlots: CutSS*MT/*
