# -*- mode: config -*-

[config]
include: bsmtautau_lephad/config-SystematicVariations/master/analyze-systematics-base.cfg

[analyze]
doNominal: false
doData: false
showChannels: true
useMultiChannelVisitor: false

patches: bsmtautau_lephad/config-Common/patches/analyze_systematics_clean-CP.txt 
inputFile: sampleFolders/initialized/samples-initialized-bsmtautau_lephad_common_sys.root
sysFileName: bsmtautau_lephad/auxData/variations/systematics-CP-p4.txt
outputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_sr-CP-p4.root 
