# -*- mode: config -*-

#########################################
##
##  Configuration file for LFR studies.
##
#########################################

[config]
include: configCommon/htautau_lephad_common.cfg


################################################################################
[prepare]
patches: configLeptonFakeRegion/htautau_lephad_lfr.tags
channels: muhad, ehad


[initialize]
channels: muhad, ehad
postInit_patches: configLeptonFakeRegion/htautau_lephad_lfr.tags


################################################################################
[analyze]
inputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_lfr.root
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_lfr-nominal.root
customObservables.directories: configCommon/observables
customObservables.snippets: BSMTriggerDecision, ScaleFactor
cuts: configLeptonFakeRegion/htautau_lephad_lfr_cuts.def
channels: muhad, ehad
histograms: configLeptonFakeRegion/htautau_lephad_lfr_histograms.txt


################################################################################
[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_lfr-nominal.root
makePlots: Cut*BDTSL*/*
channels: muhad, ehad
plotter.labels.process: "H#rightarrow#tau_{lep}#tau_{had} LFR"
#" (e#tau_{had})"
cutflowCutFiles: configLeptonFakeRegion/htautau_lephad_lfr_cuts.txt
plotter.style.showUnderflow: True
plotter.style.showOverflow: True
