# -*- mode: config -*-

[config]
include: configCommon/htautau_lephad_common.cfg

[prepare]
patches: configLeptonFakeRegion/htautau_lephad_lfr.tags
channels: ehad, muhad

[initialize]
postInit_patches: configLeptonFakeRegion/htautau_lephad_lfr.tags
channels: ehad, muhad

[analyze]
inputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_lfr.root
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_lfr-nominal.root
cuts: configLeptonFakeRegion/htautau_lephad_lfr_cuts.def
histograms: configLeptonFakeRegion/htautau_lephad_lfr_histograms.txt
customObservables.snippets: BSMTriggerDecision, ScaleFactor
channels: ehad, muhad

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_lfr-nominal.root
cutflowCutFiles: configLeptonFakeRegion/htautau_lephad_lfr_cuts.txt
channels: ehad, muhad
plotlabel: "H/A#rightarrow#tau_{lep}#tau_{had} LFR ($(channel))"
makePlots: CutB*BDTSL*ISO/*
