# -*- mode: config -*-

[config]
include: configCommon/htautau_lephad_common_mc16a.cfg, configLeptonFakeRegion/htautau_lephad_lfr.cfg

[prepare]
outputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_lfr_mc16a.root

[initialize]
inputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_lfr_mc16a.root
outputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_lfr_mc16a.root

[analyze]

[visualize]
outputFile: sampleFolders/visualized/samples-visualized-htautau_lephad_lfr_mc16a.root
outputDir: results/htautau_lephad_lfr_mc16a
histogramProcesses: configLeptonFakeRegion/htautau_lephad_lfr_processes_mc16a.style
cutflowProcessFiles: configLeptonFakeRegion/htautau_lephad_lfr_processes_mc16a.style
