# -*- mode: config -*-

[config]
include: configCommon/htautau_lephad_common.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_lfr.root
cuts: configLeptonFakeRegion/htautau_lephad_lfr_cuts.def
histograms: configLeptonFakeRegion/htautau_lephad_lfr_histograms.txt
#customObservables.snippets: BSMTriggerDecision, TruthTauSelector, ScaleFactor, MTtot, MatTransCorrection, LPXKfactor
#aliases.UseTopSF: true

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_lfr.root
outputDir: results/htautau_lephad_lfr
histogramProcesses: configLeptonFakeRegion/htautau_lephad_lfr_processes.style
cutflowProcessFiles: configLeptonFakeRegion/htautau_lephad_lfr_processes.style
cutflowCutFiles: configLeptonFakeRegion/htautau_lephad_lfr_cuts.txt
plotlabel: "H/A#rightarrow#tau_{lep}#tau_{had} ($(channel)) LFR"
makePlots: CutB*BDTSL*ISO/*
