# -*- mode: config -*-

#########################################
##
##  Configuration file for SR.
##  This includes all regions that require
##      full fake factor knowledge:
##      SR, VR, TCR, WCR-(test FF)
##
#########################################

[config]
include: configCommon/htautau_lephad_common.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_sr.root
cuts: configSignalControlRegion/htautau_lephad_sr_cuts.def
histograms: configSignalControlRegion/htautau_lephad_sr_histograms.txt
aliases.UseLeptonFF: true
aliases.UseQCDSF: true
aliases.UseWjetsFF: true
aliases.UseWjetsSF: true
aliases.UseTopSF: true

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_sr.root
outputDir: results/htautau_lephad_sr
histogramProcesses: configSignalControlRegion/htautau_lephad_sr_processes_sr.style
cutflowProcessFiles: configSignalControlRegion/htautau_lephad_sr_processes_sr.style
cutflowCutFiles: configSignalControlRegion/htautau_lephad_sr_cuts.txt
plotlabel.region: "SR"
makePlots: CutBv*/*, CutBt*/*
#makePlots: CutBv*/Tau*, CutBv*/Lep*, CutBv*/*Pt
