# -*- mode: config -*-

[config]
include: bsmtautau_lephad/config-QCDTauFakeRegion/master/master.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_qcdtfr.root
cuts: bsmtautau_lephad/config-QCDTauFakeRegion/cuts/cuts.def
histograms: bsmtautau_lephad/config-QCDTauFakeRegion/histograms/histograms.txt
aliases.UseLeptonFF: true
aliases.UseQCDSF: true

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_qcdtfr.root
outputDir: results/bsmtautau_lephad_os_qcdtfr
histogramProcesses: bsmtautau_lephad/config-QCDTauFakeRegion/visualization/processes/plot-processes.txt
cutflowProcessFiles: bsmtautau_lephad/config-QCDTauFakeRegion/visualization/processes/plot-processes.txt
cutflowCutFiles: bsmtautau_lephad/config-QCDTauFakeRegion/visualization/cuts/cutflow-cuts-os.txt
plotlabel.region: "OS QCDTFR"
makePlots: CutOSB*p*ID/*
