# -*- mode: config -*-

[initialize]

# name of the input file
inputFile: sampleFolders/prepared/samples-prepared-flatNTuple-Example.root

# name of the output file
outputFile: sampleFolders/initialized/samples-initialized-flatNTuple-Example.root

# paths and names of the input mc files to initialize
mcFileList: flatNTuple/config/samples/inputFileLists/flatNTuple-Example-mcFileList.txt
mcFileListTreeName: CAFExampleTree

#mcPaths: /afs/cern.ch/user/d/dshope/public/forCAFExample/flatNTuple_Example/mc/:CAFExampleTree
#mcFilenameSuffix: *.root*
#mcFilenamePrefix: *

# paths and names of the input data files
dataFileList: flatNTuple/config/samples/inputFileLists/flatNTuple-Example-dataFileList.txt
dataFileListTreeName: CAFExampleTree

#dataPaths: /afs/cern.ch/user/d/dshope/public/forCAFExample/flatNTuple_Example/data/:CAFExampleTree
#dataFilePattern: *.root*
#dataFolderPattern: data/$(channel)/all

# some debugging options for the sample initializer
# initialize: false
printSamplesFailed: true
verbose: true

initializer.useCountHistogram: true

# purgeSamples: true

# channels to run over
channels: ee,mm
channelPlaceholder: channel

# preInit patch files to apply
preInit_patches: flatNTuple/config/patches/flatNTuple-Example-preinitialize-patch.txt

# postInit patch files to apply
postInit_patches: flatNTuple/config/patches/flatNTuple-Example-postinitialize-patch.txt
