# -*- mode: config -*-

[visualize]

# name of the input file
inputFile: sampleFolders/analyzed/samples-analyzed-flatNTuple-Example.root

# name of the output file
outputFile: sampleFolders/visualized/samples-visualized-flatNTuple-Example.root

# name of the output folder
outputDir: results/flatNTuple_Example

# channels to run over
channels: ee,mm, sf

patches: flatNTuple/config/visualization/style/flatNTuple-Example-style.txt

#verbose: true

#showData: false

#fakeData.source:
#fakeData.channels:
#fakeData.target:

#doNFs: false
#nfConfig:
#NF.doNFplots: true
#NF. ... :

makePlots: *
#morePlots:
#summaryCuts:
#plotter. ... :
#useEXIF:
#embedPDFfonts:
#plotFormats:
#histogramScheme:
histogramProcesses: flatNTuple/config/visualization/processes/flatNTuple-Example-plot-processes.txt
plotter.style.showRatio: true
#skipAllPlots: true
#skipPlotsSilent: true
#showPlotLabels:
#plotlabel:
#makeLinPlots:
#summaryLinearOnly:
makeLogPlots: false

#makeComparePlots:
#plotFormats:
#compPlotter. ... :

#cutprinter. ... :

makeCutflows: true
cutflowFormats: txt, tex, html
#cutflowprinter.style.precision: 3
#cutflowprinter.style.default.showRaw: true

cutflowProcessFiles: flatNTuple/config/visualization/processes/flatNTuple-Example-cutflow-processes.txt
cutflowCutFiles: flatNTuple/config/visualization/cuts/flatNTuple-Example-cutflow-cuts.txt

#makeEventlists: true
#eventlistProcessFiles:

#eventlistprinter. ... :

#variation:

#systematicBands: