# -*- mode: config -*-

[config]
include: LQtaub-lephad/config/common/master/analyze-common.cfg

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-LQtaub-lephad-OtherJetsTFR-opt-score.root
cuts: LQtaub-lephad/config/OtherJetsTFR/cuts/cuts-opt-score.def
histograms: LQtaub-lephad/config/OtherJetsTFR/histograms/histograms-opt-score.txt
ntuples: LQtaub-lephad/config/OtherJetsTFR/ntuples/ntuples-opt-score.txt

aliases.ApplyMultiJetsLFF: true
aliases.MultiJetsLFFPeriod: Combined
