# -*- mode: config -*-

[config]
include: LQtaub-lephad/config/common/master/analyze-common.cfg

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-LQtaub-lephad-OtherJetsTFR-MC-closure.root
cuts: LQtaub-lephad/config/OtherJetsTFR/cuts/cuts-MC.def
histograms: LQtaub-lephad/config/OtherJetsTFR/histograms/histograms-MC.txt

aliases.ApplyTopSF: true

aliases.ApplyMCOtherJetsTFF: true
aliases.MCOtherJetsTFFPeriod: Combined
