# -*- mode: config -*-

[config]
include: LQtaub-lephad/config/common/master/analyze-common.cfg

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-LQtaub-lephad-OtherJetsTFR-FF.root
cuts: LQtaub-lephad/config/OtherJetsTFR/cuts/cuts-FF.def
histograms: LQtaub-lephad/config/OtherJetsTFR/histograms/histograms-FF.txt

aliases.ApplyTopSF: true

aliases.ApplyMultiJetsLFF: true
aliases.MultiJetsLFFPeriod: Combined
