# -*- mode: config -*-

[config]
include: LQtaub-lephad/config/common/master/analyze-common.cfg

[analyze]
inputFile: sampleFolders/initialized/samples-initialized-LQtaub-lephad-FakeComposition.root
outputFile: sampleFolders/analyzed/samples-analyzed-LQtaub-lephad-OtherJetsTFR-FakeComposition-NOMINAL.root
cuts: LQtaub-lephad/config/OtherJetsTFR/cuts/cuts-TFR-FakeComposition.def
histograms: LQtaub-lephad/config/OtherJetsTFR/histograms/histograms-FakeComposition.txt

aliases.TauIDWP: rnn_loose
