# -*- mode: config -*-

[config]
include: LQtaub-lephad/config/common/master/visualize-common.cfg

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-LQtaub-lephad-OtherJetsTFR-FF.root
outputDir: results/LQtaub-lephad-OtherJetsTFR-FF-os
histogramProcesses: LQtaub-lephad/config/OtherJetsTFR/visualization/processes/histogram-processes-FF.txt
cutflowProcessFiles: LQtaub-lephad/config/OtherJetsTFR/visualization/processes/cutflow-processes-FF.txt
cutflowCutFiles: LQtaub-lephad/config/OtherJetsTFR/visualization/cuts/cuts-FF-os.txt
plotlabel.region: "Tau Fake Region, OS"
makePlots: CutT*R*ID/*
