# -*- mode: config -*-

[config]
include: configWjetsFakeRegion/htautau_lephad_wfr.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_wfr_applysf.root
cuts: configWjetsFakeRegion/applySF/htautau_lephad_wfr_applysf_cuts.def
#customObservables.snippets: BSMTriggerDecision, ScaleFactor, TruthTauSelector, LeptonFakes, JetFakes, MTtot, LeptonFakesReweight, MatTransCorrection, LPXKfactor, TopReweight
UseWjetsFF: true
UseTopSF: true

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_wfr_applysf.root
#outputFile: sampleFolders/visualized/samples-visualized-htautau_lephad_wfr_applysf.root
outputDir: results/htautau_lephad_wfr_applysf
histogramProcesses: configWjetsFakeRegion/applySF/htautau_lephad_wfr_applysf_processes.style
cutflowProcessFiles: configWjetsFakeRegion/applySF/htautau_lephad_wfr_applysf_processes.style
cutflowCutFiles: configWjetsFakeRegion/applySF/htautau_lephad_wfr_applysf_cuts.txt

makePlots: CutBveto*OSPass*/*, CutBtag*OSPass*/*


#################################################################################
#createSystematics.weightSystematicsFile: systematics/plot.systematics
#createSystematics.inputDir: output/fake_july
#createSystematics.nominalFile: nominal.root
#createSystematics.sampleFolder: :samples
#createSystematics.channel: lephad
#createSystematics.cuts: CutVBFCBSR,CutBOOSTCBSR
#createSystematics.outputDir: systematics
#createSystematics.outputFile: systematics_july.root
#createSystematics.tableName: systematics_table_july
