# -*- mode: config -*-

[config]
include: configCommon/htautau_lephad_common_mc16c.cfg, configFailIDSignalControlRegion/htautau_lephad_sr_failID.cfg

[prepare]
outputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_sr_failID_mc16c.root
XsecMap: configCommon/htautau_lephad_common_mc16c_sr_failID.map

[initialize]
inputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_sr_failID_mc16c.root
outputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_sr_failID_mc16c.root

[analyze] 

[visualize]
outputFile: sampleFolders/visualized/samples-visualized-htautau_lephad_sr_failID_mc16c.root
outputDir: results/htautau_lephad_sr_failID_mc16c
histogramProcesses: configFailIDSignalControlRegion/htautau_lephad_sr_failID_processes_mc16c.style
cutflowProcessFiles: configFailIDSignalControlRegion/htautau_lephad_sr_failID_processes_mc16c.style
#showData: false
