# -*- mode: config -*-

[config]
include: configFailIDSignalControlRegion/htautau_lephad_sr_lffcheck.cfg

[prepare]

[initialize]

[analyze]

[visualize]
#outputFile: sampleFolders/visualized/samples-visualized-htautau_lephad_wcr_lffcheck.root
outputDir: results/htautau_lephad_wcr_lffcheck
histogramProcesses: configFailIDSignalControlRegion/htautau_lephad_sr_lffcheck_processes.style
cutflowProcessFiles: configFailIDSignalControlRegion/htautau_lephad_sr_lffcheck_processes.style
plotlabel: "H/A#rightarrow#tau_{lep}#tau_{had} WCR ($(channel))"
makePlots: CutWCRB*/*
