# -*- mode: config -*-

#########################################
##
##  Configuration file for SR.
##  This includes all regions that require
##      full fake factor knowledge:
##      SR, VR, TCR, WCR-(test FF)
##
#########################################

[config]
include: configCommon/htautau_lephad_common.cfg

[prepare]
#outputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_sr_lffcheck.root
#XsecWhitelist: configCommon/htautau_lephad_common_whitelist_sr_lffcheck.txt
#channels: ehad, muhad

[initialize]
#inputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_sr_lffcheck.root
#outputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_sr_lffcheck.root
#postInit_patches: configFailIDSignalControlRegion/htautau_lephad_sr_lffcheck.tags
#channels: ehad, muhad

[analyze]
#inputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_sr_lffcheck.root
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_sr_lffcheck.root
cuts: configFailIDSignalControlRegion/htautau_lephad_sr_lffcheck_cuts.def
histograms: configFailIDSignalControlRegion/htautau_lephad_sr_lffcheck_histograms.txt
#customObservables.snippets: BSMTriggerDecision, ScaleFactor, TruthSelector, isoReweight, BSMLepHad_TopSys, mTtot, QCDReweight, TopReweight
customObservables.snippets: BSMTriggerDecision, ScaleFactor, TruthSelector, isoReweight, BSMLepHad_TopSys, mTtot
channels: ehad, muhad

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_sr_lffcheck.root
#outputFile: sampleFolders/visualized/samples-visualized-htautau_lephad_sr_lffcheck.root
outputDir: results/htautau_lephad_sr_lffcheck
histogramProcesses: configFailIDSignalControlRegion/htautau_lephad_sr_lffcheck_processes.style
cutflowProcessFiles: configFailIDSignalControlRegion/htautau_lephad_sr_lffcheck_processes.style
cutflowCutFiles: configFailIDSignalControlRegion/htautau_lephad_sr_lffcheck_cuts.txt
#nfConfig: normalization/normVBF.txt
channels: ehad, muhad
plotlabel: "H/A#rightarrow#tau_{lep}#tau_{had} SR ($(channel))"
makePlots: CutBv*FailID*/*, CutBt*FailID*/*

################################################################################
#createSystematics.weightSystematicsFile: systematics/plot.systematics
#createSystematics.inputDir: output/fake_july
#createSystematics.nominalFile: nominal.root
#createSystematics.sampleFolder: :samples
#createSystematics.channel: lephad
#createSystematics.cuts: CutVBFCBSR,CutBOOSTCBSR
#createSystematics.outputDir: systematics
#createSystematics.outputFile: systematics_july.root
#createSystematics.tableName: systematics_table_july
