# -*- mode: config -*-

[config]
include: configCommon/htautau_lephad_common_mc16a.cfg, configFailIDSignalControlRegion/htautau_lephad_sr_failID.cfg

[prepare]
outputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_sr_failID_mc16a.root
XsecMap: configCommon/htautau_lephad_common_mc16a_sr_failID.map

[initialize]
inputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_sr_failID_mc16a.root
outputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_sr_failID_mc16a.root

[analyze]

[visualize]
outputFile: sampleFolders/visualized/samples-visualized-htautau_lephad_sr_failID_mc16a.root
outputDir: results/htautau_lephad_sr_failID_mc16a
histogramProcesses: configFailIDSignalControlRegion/htautau_lephad_sr_failID_processes_mc16a.style
cutflowProcessFiles: configFailIDSignalControlRegion/htautau_lephad_sr_failID_processes_mc16a.style
#showData: false
