# -*- mode: config -*-

[config]
include: bsmtautau_lephad/config-LeptonFakeRegion/master/master.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_lfr_applyff.root
aliases.UseLeptonFF: true

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_lfr_applyff.root
outputDir: results/bsmtautau_lephad_lfr_applyff
histogramProcesses: bsmtautau_lephad/config-LeptonFakeRegion/applyFF/visualization/processes/plot-processes.txt
cutflowProcessFiles: bsmtautau_lephad/config-LeptonFakeRegion/applyFF/visualization/processes/plot-processes.txt
