# -*- mode: config -*-

[config]
include: lqtaub_lephad/config-Common/aliases/aliases.cfg

[prepare]
outputFile: sampleFolders/prepared/samples-prepared-lqtaub_lephad_common.root
XsecMap: lqtaub_lephad/config-Common/samples/maps/map.map
#XsecWhitelist: lqtaub_lephad/config-Common/samples/whitelists/whitelist.txt
XsecFiles: lqtaub_lephad/config-Common/samples/XSec/XS.csv
XsecUnit: pb
luminosityUnit: pb
energy: 13
energyUnit: TeV
sampleFolderName: samples
channelPlaceholder: channel
channels: ehad, muhad
campaignsConfig: lqtaub_lephad/config-Common/master/master_campaigns.cfg
campaigns: c16a, c16d, c16e
patches: lqtaub_lephad/config-Common/patches/prepare-patch.txt, lqtaub_lephad/config-Common/patches/prepare_xsec-patch.txt
printFolderTags: tdr2


[initialize]
inputFile: sampleFolders/prepared/samples-prepared-lqtaub_lephad_common.root
outputFile: sampleFolders/initialized/samples-initialized-lqtaub_lephad_common.root
channelPlaceholder: channel
channels: ehad, muhad
campaignsConfig: lqtaub_lephad/config-Common/master/master_campaigns.cfg
campaigns: c16a, c16d, c16e
mcFilenamePrefix: *
mcFilenameSuffix: */*.root*
dataFolderPattern: data/$(channel)/$(campaign)
dataFilePattern: */*.root*
treeName: NOMINAL
initialize: true
initializer.useCountHistogram: True
initializer.countHistogramName: h_metadata
initializer.countHistogramBinNumber: 8
initializer.verbose: True
verbose: True
printSamplesFailed: True
postInit_patches: lqtaub_lephad/config-Common/patches/postinitialize-patch.txt, lqtaub_lephad/config-Common/patches/postinitialize_fakes_iso-patch.txt, lqtaub_lephad/config-Common/patches/postinitialize_fakes_id-patch.txt, lqtaub_lephad/config-Common/patches/postinitialize_fakes_truth-patch.txt
printFolderTags: tdr2


[analyze]
inputFile: sampleFolders/initialized/samples-initialized-lqtaub_lephad_common.root
customObservables.directories: lqtaub_lephad/observables
customObservables.snippets: BSMTriggerDecision, ScaleFactor, TruthTauSelector, TopTheorySys, HiggsPt, MTtot, Pzeta, LPXKfactor, MatTransCorrection, LeptonFakes, LeptonFakesReweight, JetFakes, JetFakesReweight, TopReweight, ExtrapolationSys
channels: ehad, muhad
doData: true
printObservables: false
printCuts: false
useMultiChannelVisitor: true


[visualize]
channelConfig: lqtaub_lephad/config-Common/channels/channels.txt
visualizeCampaignConfig: lqtaub_lephad/config-Common/campaigns/campaigns.txt
visualizeCampaigns: c16ade
#, c16a, c16d, c16e
patches: lqtaub_lephad/config-Common/visualization/style/style.txt
channels: ehad, muhad
#, lephad
makePlots: *
skipPlotsSilent: true
plotformat: pdf
makeLogPlots: True
makeCutflows: True
cutflowFormats: html, tex, txt
cutprinter.standalone: True
plotter: TQHWWPlotter
plotter.style.min: 0.9
plotter.style.showUnderflow: False
plotter.style.showOverflow: True
plotter.style.showEventYields: True
plotter.style.showEventYields.showErrors: False
plotter.style.nLegendCols: 2
plotter.style.legend.textSize: 0.015
plotter.style.showRatio: True
plotter.style.forceRatioLimits: True
plotter.style.ratioMin: 0.81
plotter.style.ratioMax: 1.19
plotter.geometry.sub.margins.bottom: 0.12
plotter.geometry.sub.xAxis.titleOffset: 0.7
plotter.labels.drawInfo: True
plotter.labels.atlas: "Work In Progress"
plotter.labels.atlas.xOffset: 0.13
plotter.labels.atlas.scale: 0.9
plotlabel.analysis: "BSM #rightarrow $(channel)"
lumiDigit: 3


############ leftover useful stuff ############
# consider using this method as alternative simpler way of applying fake/scale factors
#nfConfig: normalization/normVBF.txt

# some other alternative way of creating systematics (useless?)
#createSystematics.weightSystematicsFile: systematics/plot.systematics
#createSystematics.inputDir: output/fake_july
#createSystematics.nominalFile: nominal.root
#createSystematics.sampleFolder: :samples
#createSystematics.channel: lephad
#createSystematics.cuts: CutVBFCBSR,CutBOOSTCBSR
#createSystematics.outputDir: systematics
#createSystematics.outputFile: systematics_july.root
#createSystematics.tableName: systematics_table_july
