# -*- mode: config -*-

[analyze]

########################
# Object Working Point #
########################
# electron isolation
# -- Preliminary R21 recommendation: FCLoose FCTight FCHighPtCaloOnly
# -- Coming: Loose_VarRad Tight_VarRad TightTrackOnly_VarRad  TightTrackOnly_FixedRad HighPtCaloOnly
aliases.ElectronIsoWP: Gradient

# muon isolation
# -- Most recommended: PflowLoose_FixedRad PflowLoose_VarRad PflowTight_FixedRad PflowTight_VarRad
# -- Recommended: TightTrackOnly_FixedRad TightTrackOnly_VarRad
aliases.MuonIsoWP: FCTight_FixedRad

# TauID
# -- Recommended: rnn_loose rnn_medium rnn_tight
aliases.TauIDWP: rnn_medium
aliases.TauIDScore: tau_0_jet_rnn_score_trans 
aliases.TauIDScoreCut: "0.01"

# btagging
# -- Recommended: DL1r_FixedCutBEff_60/70/77/85
aliases.BtaggingWP: DL1r_FixedCutBEff_70

#########################
# Fake parameterization #
#########################
aliases.ApplyMultiJetsLFF: false
aliases.ApplyOtherJetsFF: false

# Year_Charge_Bjets_Region_LeptonTau_Param
# mc16ade_OS_Bveto_MutliJetsLFR_ehad_LeptonPtLeptonEta

#####################
# Other corrections #
#####################
aliases.ApplyMaterialCorrection: true
aliases.ApplyLPXKfactor: true
aliases.ApplyTopCorrection: false

#########################
# alias for convenience #
#########################
aliases.isElectron: "(lep_0 == 2)"
aliases.isMuon: "(lep_0 == 1)"

aliases.ElectronISO: "lep_0_iso_$(ElectronIsoWP)"
aliases.MuonISO: "lep_0_iso_$(MuonIsoWP)"
aliases.isPassISO: "(($(isElectron) && $(ElectronISO) == 1) || ($(isMuon) && $(MuonISO) == 1))"
aliases.isFailISO: "(($(isElectron) && $(ElectronISO) == 0) || ($(isMuon) && $(MuonISO) == 0))"
aliases.MultiJetsLFF: "[LeptonFakes]"

aliases.TauID: "tau_0_jet_$(TauIDWP)"
aliases.isPassID: "$(TauID) == 1"
aliases.isFailID: "$(TauID) == 0 && $(TauIDScore) > $(TauIDScoreCut)"
aliases.MultiJetsTFF: "[QCDJetFakeTau]"
aliases.OtherJetsFF: "[JetFakes]"

aliases.NbJets: "n_bjets_$(BtaggingWP)"
