# -*- mode: config -*-

[config]
include: configLeptonFakeRegion/applyFF/applySF/htautau_lephad_lfr_applyffsf.cfg, configLeptonFakeRegion/applyFF/htautau_lephad_lfr_applyff_qcd.cfg

[prepare]

[initialize]

[analyze]

[visualize]
outputDir: results/htautau_lephad_lfr_applyffsf_qcd
