# -*- mode: config -*-

[config]
include: configWjetsFakeRegion/applyFF/htautau_lephad_wfr_applyff.cfg

[prepare]

[initialize]

[analyze]

[visualize]
outputDir: results/htautau_lephad_wfr_applyff_wjetsqcd
histogramProcesses: configCommon/htautau_lephad_common_processes_wjetsqcd.style
cutflowProcessFiles: configCommon/htautau_lephad_common_processes_wjetsqcd.style
plotlabel.region: "WFR: W+jets QCD"
