# -*- mode: config -*-

#########################################
##
##  Configuration file for SR.
##  This includes all regions that require
##      full fake factor knowledge:
##      SR, VR, TCR, WCR-(test FF)
##
#########################################

[config]
include: configCommon/htautau_lephad_common.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_sr_failid.root
cuts: configFailIDRegion/htautau_lephad_sr_cuts.def
histograms: configFailIDRegion/htautau_lephad_sr_histograms.txt
#customObservables.snippets: BSMTriggerDecision, ScaleFactor, TruthTauSelector, LeptonFakes, JetFakes, TopTheorySys, MTtot, HiggsPt, LeptonFakesReweight,TopReweight
#, Pzeta
UseLeptonFF: true
UseQCDSF: false
UseWjetsFF: true
UseTopSF: false

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_sr_failid.root
outputDir: results/htautau_lephad_sr_failid
histogramProcesses: configFailIDRegion/htautau_lephad_sr_processes.style
cutflowProcessFiles: configFailIDRegion/htautau_lephad_sr_processes.style
cutflowCutFiles: configFailIDRegion/htautau_lephad_sr_cuts.txt
plotlabel: "H/A#rightarrow#tau_{lep}#tau_{had} ($(channel)) SR"
makePlots: CutBv*/*, CutBt*/*

#nfConfig: normalization/normVBF.txt

################################################################################
#createSystematics.weightSystematicsFile: systematics/plot.systematics
#createSystematics.inputDir: output/fake_july
#createSystematics.nominalFile: nominal.root
#createSystematics.sampleFolder: :samples
#createSystematics.channel: lephad
#createSystematics.cuts: CutVBFCBSR,CutBOOSTCBSR
#createSystematics.outputDir: systematics
#createSystematics.outputFile: systematics_july.root
#createSystematics.tableName: systematics_table_july
