# -*- mode: config -*-

[config]
include: LQtaub-lephad/config/common/master/analyze-common.cfg

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-LQtaub-lephad-TCR-SF.root
cuts: LQtaub-lephad/config/TCR/cuts/cuts-SF.def
histograms: LQtaub-lephad/config/TCR/histograms/histograms-SF.txt

#aliases.ApplyMultiJetsLFF: true
#aliases.MultiJetsLFFPeriod: Combined

aliases.ApplyTopSF: false
