# -*- mode: config -*-

[config]
include: LQtaub-lephad/config/common/master/visualize-common.cfg 

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-LQtaub-lephad-TCR-ISRup-SF.root
outputDir: results/LQtaub-lephad-TCR-ISRup-SF
histogramProcesses: LQtaub-lephad/config/TCR/visualization/processes/plot-processes-ISRup-SF.txt
cutflowProcessFiles: LQtaub-lephad/config/TCR/visualization/processes/cutflow-processes-ISRup-SF.txt
cutflowCutFiles: LQtaub-lephad/config/TCR/visualization/cuts/cuts-TCR-SF.txt
plotlabel.region: "TCR(ISRup)"
makePlots: CutTCRPassTauID/*
