# -*- mode: config -*-

[config]
include: common/config/master/visualize-default.cfg

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-LQtaub-lephad-TCR-SF-closure.root
outputDir: results/LQtaub-lephad-TCR-SF-closure
histogramProcesses: LQtaub-lephad/config/TCR/visualization/processes/plot-processes-SF.txt
cutflowProcessFiles: LQtaub-lephad/config/TCR/visualization/processes/cutflow-processes-SF.txt
cutflowCutFiles: LQtaub-lephad/config/TCR/visualization/cuts/cuts-TCR-SF.txt
plotlabel.region: "TCR"
makePlots: CutTCR*MT/*
