# -*- mode: config -*-

[config]
include: AHZ-lephad/config/common/master/analyze-common.cfg

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-AHZ-lephad-OtherJetsTCR-opt.root
cuts: AHZ-lephad/config/OtherJetsTCR/cuts/cuts-opt.def
histograms: AHZ-lephad/config/OtherJetsTCR/histograms/histograms-opt.txt

aliases.ApplyTopSF: true
