# -*- mode: config -*-

[config]
include: common/config/master/visualize-default.cfg

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-AHZ-lephad-OtherJetsTCR-SF.root
outputDir: results/AHZ-lephad-OtherJetsTCR-SF-os
histogramProcesses: AHZ-lephad/config/OtherJetsTCR/visualization/processes/OtherJetsTCR-SF-processes.txt
cutflowProcessFiles: AHZ-lephad/config/OtherJetsTCR/visualization/processes/OtherJetsTCR-SF-processes.txt
cutflowCutFiles: AHZ-lephad/config/OtherJetsTCR/visualization/cuts/cuts-os.txt
plotlabel.region: "OS LFR"
makePlots: CutOSB*PassISO/*
