# -*- mode: config -*-

[config]
include: common/config/master/visualize-default.cfg

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-AHZ-lephad-OtherJetsTCR.root
outputDir: results/AHZ-lephad-OtherJetsTCR-ss
histogramProcesses: AHZ-lephad/config/OtherJetsTCR/visualization/processes/OtherJetsTCR-processes.txt
cutflowProcessFiles: AHZ-lephad/config/OtherJetsTCR/visualization/processes/OtherJetsTCR-processes.txt
cutflowCutFiles: AHZ-lephad/config/OtherJetsTCR/visualization/cuts/cuts-ss.txt
plotlabel.region: "SS LFR"
makePlots: CutSSB*ISO/*,CutTauBasic/*,CutTauEta/*,CutLepTau/*,Cut*SSBveto/*,Cut*SSBtag/*
