# -*- mode: config -*-

[config]
include: common/config/master/visualize-default.cfg

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-AHZ-lephad-OtherJetsTCR-opt.root
outputDir: results/AHZ-lephad-OtherJetsTCR-opt-ss
histogramProcesses: AHZ-lephad/config/OtherJetsTCR/visualization/processes/histogram-processes-opt.txt
cutflowProcessFiles: AHZ-lephad/config/OtherJetsTCR/visualization/processes/cutflow-processes-opt.txt
cutflowCutFiles: AHZ-lephad/config/OtherJetsTCR/visualization/cuts/cuts-opt-ss.txt
plotlabel.region: "SS LFR"
makePlots: CutSSB*MET50PassISO/*
