# -*- mode: config -*-

[config]
include: bsmtautau_lephad/config-WjetsFakeRegion/master/master_ss.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_wfr_applyff.root
aliases.UseWjetsFF: true

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_wfr_applyff.root
outputDir: results/bsmtautau_lephad_ss_wfr_applyff
histogramProcesses: bsmtautau_lephad/config-WjetsFakeRegion/applyFF/visualization/processes/plot-processes.txt
cutflowProcessFiles: bsmtautau_lephad/config-WjetsFakeRegion/applyFF/visualization/processes/plot-processes.txt
