# -*- mode: config -*-

[config]
include: bsmtautau_lephad/config-WjetsFakeRegion/applyFF/master/master.cfg

[prepare]

[initialize]

[analyze]

[visualize]
outputDir: results/bsmtautau_lephad_tcr_applyff
histogramProcesses: bsmtautau_lephad/config-SignalControlRegion/visualization/processes/plot-processes.txt
cutflowProcessFiles: bsmtautau_lephad/config-SignalControlRegion/visualization/processes/plot-processes.txt
plotlabel.region: "TCR"
makePlots: CutTCRBt*/*
