# -*- mode: config -*-

[config]
include: bsmtautau_lephad/config-WjetsFakeRegion/master/master.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_wfr_applyff.root
cuts: bsmtautau_lephad/config-WjetsFakeRegion/applyFF/cuts/cuts.def
aliases.UseWjetsFF: true

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_wfr_applyff.root
outputDir: results/bsmtautau_lephad_wfr_applyff
histogramProcesses: bsmtautau_lephad/config-WjetsFakeRegion/applyFF/visualization/processes/plot-processes.txt
cutflowProcessFiles: bsmtautau_lephad/config-WjetsFakeRegion/applyFF/visualization/processes/plot-processes.txt
cutflowCutFiles: bsmtautau_lephad/config-WjetsFakeRegion/applyFF/visualization/cuts/cutflow-cuts.txt
#makePlots: CutBveto*OSPass*/*
makePlots: CutBveto*OSPass*/*, CutBtag*OSPass*/*
