# -*- mode: config -*-

[prepare]

# name of the output file
outputFile:  sampleFolders/prepared/samples-prepared-ZjetsFF-Example.root
#sampleFolderName: samples

# paths and names of the input data files
dataFileList: nTuple/config/samples/inputFileLists/ZjetsFF-Example-dataFileList.txt
dataFileListTreeName: CAFExampleTree
#dataPaths: /afs/cern.ch/user/d/dshope/public/forCAFExample/ZjetsFF_nTuples/data/:CAFExampleTree
#dataFilePattern: *.root*
#dataFolderPattern: data/$(channel)/all

# input cross section files (and map)
XsecFiles: common/config/samples/XSec/XS_13TeV.csv
XsecWhitelist: nTuple/config/samples/whitelist/ZjetsFF-Example-whitelist.txt
XsecMap: nTuple/config/samples/maps/ZjetsFF-Example.map
XsecUnit: nb
channelPlaceholder: channel

# some debugging options:
# printFolderTags: rdt
# printXsec: true

# channels to run over
channels: ee,mm

# energy and luminosity
luminosity: 36074.56
luminosityUnit: pb
energy: 13
#energyUnit: TeV

# patch files to apply
patches: nTuple/config/patches/ZjetsFF-Example-prepare-patch.txt