# -*- mode: config -*-

[visualize]

# name of the input file
inputFile: sampleFolders/analyzed/samples-analyzed-ZjetsFF-Example.root

# name of the output file
outputFile: sampleFolders/visualized/samples-visualized-ZjetsFF-Example.root

# name of the output folder
outputDir: results/ZjetsFF_Example

# channels to run over
channels: ee,mm, sf

patches: nTuple/config/patches/visualizeZjetsFF-patch.txt

#verbose: true

#showData: false

#fakeData.source:
#fakeData.channels:
#fakeData.target:

#doNFs: false
#nfConfig:
#NF.doNFplots: true
#NF. ... :

makePlots: *
#morePlots:
#summaryCuts:
#plotter. ... :
#useEXIF:
#embedPDFfonts:
#plotFormats:
#histogramScheme:
histogramProcesses: nTuple/config/visualization/processes/ZjetsFF-Example-plots.txt
plotter.style.showRatio: true
#skipAllPlots: true
#skipPlotsSilent: true
#showPlotLabels:
#plotlabel:
#makeLinPlots:
#summaryLinearOnly:
makeLogPlots: false

#makeComparePlots:
#plotFormats:
#compPlotter. ... :

#cutprinter. ... :

makeCutflows: true
cutflowFormats: txt, tex, html
#cutflowprinter.style.precision: 3
#cutflowprinter.style.default.showRaw: true

cutflowProcessFiles: nTuple/config/visualization/processes/ZjetsFF-Example-cutflows.txt
cutflowCutFiles: nTuple/config/visualization/cutflow/ZjetsFF-Example-cutflows.txt

#makeEventlists: true
#eventlistProcessFiles:

#eventlistprinter. ... :

#variation:

#systematicBands: