# -*- mode: config -*-

[initialize]
mcFilenamePrefix: *
mcFilenameSuffix: */*.root*
dataFolderPattern: data/$(channel)/$(campaign)
dataFilePattern: */*.root*
treeName: NOMINAL
initialize: true
initializer.useCountHistogram: True
initializer.countHistogramName: h_metadata
initializer.countHistogramBinNumber: 8
initializer.verbose: True
verbose: True
printSamplesFailed: True
printFolderTags: tdr2
