# -*- mode: config -*-

[prepare]
XsecMap: common/config/samples/maps/default.map
#XsecWhitelist: bsmtautau_lephad/config-Common/samples/whitelists/whitelist.txt
XsecFiles: common/config/samples/XSec/XS.csv
XsecUnit: pb
luminosityUnit: pb
energy: 13
energyUnit: TeV
sampleFolderName: samples
channelPlaceholder: channel
printFolderTags: tdr2
