# -*- mode: config -*-

[visualize]
channelConfig: common/config/channels/channels.txt
visualizeCampaignConfig: common/config/campaigns/campaigns.txt
visualizeCampaigns: c16ade
patches: common/config/visualization/style/style.txt
channels: ehad, muhad
makePlots: *
skipPlotsSilent: true
plotformat: pdf
makeLogPlots: True
makeCutflows: True
cutflowFormats: html, tex, txt
cutprinter.standalone: True
plotter: TQHWWPlotter
plotter.style.min: 0.01
plotter.style.showUnderflow: False
plotter.style.showOverflow: True
plotter.style.showEventYields: True
plotter.style.showEventYields.showErrors: False
plotter.style.nLegendCols: 2
plotter.style.legend.textSize: 0.015
plotter.style.showRatio: True
plotter.style.forceRatioLimits: True
plotter.style.ratioMin: 0.51
plotter.style.ratioMax: 1.49
plotter.geometry.sub.margins.bottom: 0.12
plotter.geometry.sub.xAxis.titleOffset: 0.7
plotter.labels.drawInfo: True
plotter.labels.atlas: "Internal"
plotter.labels.atlas.xOffset: 0.13
plotter.labels.atlas.scale: 0.9
plotlabel.analysis: "BSM #rightarrow $(channel)"
lumiDigit: 3
