# -*- mode: config -*-

[config]
include: configLeptonFakeRegion/htautau_lephad_lfr.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_lfr_applyff.root
cuts: configLeptonFakeRegion/applyFF/htautau_lephad_lfr_applyff_cuts.def
#customObservables.snippets: BSMTriggerDecision, ScaleFactor, TruthTauSelector, LeptonFakes, MTtot, MatTransCorrection, LPXKfactor
UseLeptonFF: true

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_lfr_applyff.root
#outputFile: sampleFolders/visualized/samples-visualized-htautau_lephad_lfr_applyff.root
outputDir: results/htautau_lephad_lfr_applyff
histogramProcesses: configLeptonFakeRegion/applyFF/htautau_lephad_lfr_applyff_processes.style
cutflowProcessFiles: configLeptonFakeRegion/applyFF/htautau_lephad_lfr_applyff_processes.style
cutflowCutFiles: configLeptonFakeRegion/applyFF/htautau_lephad_lfr_applyff_cuts.txt
makePlots: CutB*BDTSL*PassISO/*
plotter.style.ratioMax: 1.39
