# -*- mode: config -*-

[config]
include: configLeptonFakeRegion/htautau_lephad_lfr.cfg

[prepare]

[initialize]
#outputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_lfr_applyff.root
#postInit_patches: configLeptonFakeRegion/applyFF/htautau_lephad_lfr_applyff.tags

[analyze]
#inputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_lfr_applyff.root
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_lfr_applyff.root
cuts: configLeptonFakeRegion/applyFF/htautau_lephad_lfr_applyff_cuts.def
#histograms: configLeptonFakeRegion/applyFF/htautau_lephad_lfr_applyff_histograms.txt
customObservables.snippets: BSMTriggerDecision, ScaleFactor, isoReweight, mTtot, TopReweight
#patches: configLeptonFakeRegion/applyFF/htautau_lephad_lfr_applyff.tags

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_lfr_applyff.root
#outputFile: sampleFolders/visualized/samples-visualized-htautau_lephad_lfr_applyff.root
outputDir: results/htautau_lephad_lfr_applyff
histogramProcesses: configLeptonFakeRegion/applyFF/htautau_lephad_lfr_applyff_processes.style
cutflowProcessFiles: configLeptonFakeRegion/applyFF/htautau_lephad_lfr_applyff_processes.style
cutflowCutFiles: configLeptonFakeRegion/applyFF/htautau_lephad_lfr_applyff_cuts.txt
makePlots: CutB*BDTSL*PassISO/*
plotter.style.ratioMax: 1.39
