# -*- mode: config -*-

config.Include: configCommon/htautau_lephad_common_mc16c.cfg, configLeptonFakeRegion/htautau_lephad_lfr_applyff.cfg


##########################################################################
makeSampleFile.sampleFile: input/htautau_lephad_lfr_applyff_mc16c.root:samples


##########################################################################
#runAnalysis.inputFile: input/htautau_lephad_lfr_applyff_mc16c.root:samples
#runAnalysis.outputFile: output/htautau_lephad_lfr_applyff_mc16c/nominal.root:samples


##########################################################################
#readAnalysis.inputFile: output/htautau_lephad_lfr_applyff_mc16c/nominal.root:samples
readAnalysis.outputDir: results/htautau_lephad_lfr_applyff_mc16c
readAnalysis.histogramProcesses: configLeptonFakeRegion/htautau_lephad_lfr_processes_mc16c.style
readAnalysis.cutflowProcessFiles: configLeptonFakeRegion/htautau_lephad_lfr_processes_mc16c.style
