# -*- mode: config -*-

[config]
include: config-Common/master/master_campaigns.cfg


[c16a]
mcFileList: config-Common/samples/inputFileLists/FileList_sys_mc16a.txt


[c16d]
mcFileList: config-Common/samples/inputFileLists/FileList_sys_mc16d.txt


[c16e]
mcFileList: config-Common/samples/inputFileLists/FileList_sys_mc16e.txt
