# -*- mode: config -*-

[c16a]
dataFileList: inputs/FileLists/htautau_lephad_common_filelist_data1516.txt
mcFileList: inputs/FileLists/htautau_lephad_common_filelist_nom_mc16a.txt
luminosity: 36207.66


[c16d]
dataFileList: inputs/FileLists/htautau_lephad_common_filelist_data17.txt
mcFileList: inputs/FileLists/htautau_lephad_common_filelist_nom_mc16d.txt
luminosity: 44307.4


[c16e]
dataFileList: inputs/FileLists/htautau_lephad_common_filelist_data18.txt
mcFileList: inputs/FileLists/htautau_lephad_common_filelist_nom_mc16e.txt
luminosity: 58450.1
