# -*- mode: config -*-

[config]
include: bsmtautau_lephad/config-WjetsFakeRegion/applySF/bsmtautau_lephad_wfr_applysf.cfg

[prepare]

[initialize]

[analyze]

[visualize]
outputDir: results/bsmtautau_lephad_wfr_applysf_wjets
histogramProcesses: bsmtautau_lephad/config-Common/visualization/processes/plot-processes_wjets.txt
cutflowProcessFiles: bsmtautau_lephad/config-Common/visualization/processes/plot-processes_wjets.txt
plotlabel.region: "WFR: W+jets"
