# -*- mode: config -*-

#########################################
##
##  Configuration file for WFR Cont ID
##
#########################################

config.Include: configWjetsFakeRegion/htautau_lephad_wfr.cfg


################################################################################
runAnalysis.inputFile: input/htautau_lephad_wfr.root:samples
runAnalysis.outputFile: output/htautau_lephad_wfr_contid/nominal.root:samples
runAnalysis.cuts: configWjetsFakeRegion/htautau_lephad_wfr_contid_cuts.def
runAnalysis.histograms: configWjetsFakeRegion/htautau_lephad_wfr_contid_histograms.txt


#################################################################################
readAnalysis.inputFile: output/htautau_lephad_wfr_contid/nominal.root:samples
readAnalysis.makePlots: CutB*BDT*/*TauPt*
readAnalysis.plotter.style.showEventYields: False
readAnalysis.cutflowCutFiles: configWjetsFakeRegion/htautau_lephad_wfr_contid_cuts.txt
readAnalysis.plotter.style.ratioMin: 0.5
readAnalysis.plotter.style.ratioMax: 1.5
