# -*- mode: config -*-

[config]
include: configCommon/htautau_lephad_common.cfg

[prepare]

[initialize]

[analyze]
#inputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_wfr.root
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_wfr.root
cuts: configWjetsFakeRegion/htautau_lephad_wfr_cuts.def
histograms: configWjetsFakeRegion/htautau_lephad_wfr_histograms.txt
#customObservables.snippets: BSMTriggerDecision, ScaleFactor, TruthTauSelector, LeptonFakes, MTtot, LeptonFakesReweight, MatTransCorrection, LPXKfactor
UseLeptonFF: true
UseQCDSF: true

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_wfr.root
outputDir: results/htautau_lephad_wfr
histogramProcesses: configWjetsFakeRegion/htautau_lephad_wfr_processes.style
cutflowProcessFiles: configWjetsFakeRegion/htautau_lephad_wfr_processes.style
cutflowCutFiles: configWjetsFakeRegion/htautau_lephad_wfr_cuts.txt
plotlabel: "H/A#rightarrow#tau_{lep}#tau_{had} ($(channel)) WFR"
makePlots: CutBveto*OS*/*, CutBtag*OS*/*

#nfConfig: normalization/normVBF.txt
