# -*- mode: config -*-

[config]
include: configCommon/htautau_lephad_common.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_wfr.root
cuts: configWjetsFakeRegion/htautau_lephad_wfr_cuts.def
histograms: configWjetsFakeRegion/htautau_lephad_wfr_histograms.txt
aliases.UseLeptonFF: true
aliases.UseQCDSF: true

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_wfr.root
outputDir: results/htautau_lephad_wfr
histogramProcesses: configWjetsFakeRegion/htautau_lephad_wfr_processes.style
cutflowProcessFiles: configWjetsFakeRegion/htautau_lephad_wfr_processes.style
cutflowCutFiles: configWjetsFakeRegion/htautau_lephad_wfr_cuts.txt
plotlabel.region: "WFR"
makePlots: CutBveto*OS*/*, CutBtag*OS*/*
