# -*- mode: config -*-

[config]
include: configCommon/htautau_lephad_common_mc16a.cfg, configWjetsFakeRegion/htautau_lephad_wfr.cfg

[prepare]
outputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_wfr_mc16a.root

[initialize]
inputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_wfr_mc16a.root
outputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_wfr_mc16a.root

[analyze]

[visualize]
outputFile: sampleFolders/visualized/samples-visualized-htautau_lephad_wfr_mc16a.root
outputDir: results/htautau_lephad_wfr_mc16a
histogramProcesses: configWjetsFakeRegion/htautau_lephad_wfr_processes_mc16a.style
cutflowProcessFiles: configWjetsFakeRegion/htautau_lephad_wfr_processes_mc16a.style
