# -*- mode: config -*-

config.Include: ConfigCommon/htautau_lephad_common_mc16a.cfg, ConfigWjetsControlRegion/htautau_lephad_wcr_mc16a.cfg, ConfigWjetsControlRegion/htautau_lephad_wcr_contid.cfg


##########################################################################
#runAnalysis.inputFile: input/htautau_lephad_wcr_contid_mc16a.root:samples
#runAnalysis.outputFile: output/htautau_lephad_wcr_contid_mc16a/nominal.root:samples


##########################################################################
#readAnalysis.inputFile: output/htautau_lephad_wcr_contid_mc16a/nominal.root:samples
readAnalysis.outputDir: results/htautau_lephad_wcr_contid_mc16a
