# -*- mode: config -*-

#########################################
##
##  Configuration file for SR.
##  This includes all regions that require
##      full fake factor knowledge:
##      SR, VR, TCR, WCR-(test FF)
##
#########################################

[config]
include: bsmtautau_lephad/config-Common/master/master.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_sr.root
cuts: bsmtautau_lephad/config-SignalControlRegion/cuts/cuts.def
histograms: bsmtautau_lephad/config-SignalControlRegion/histograms/histograms.txt
ntuples: TMVA/dumpNtuples/ntuples.txt
aliases.UseLeptonFF: true
aliases.UseQCDSF: true
aliases.UseWjetsFF: true
aliases.UseWjetsSF: true
aliases.UseTopSF: true

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_sr.root
outputDir: results/bsmtautau_lephad_sr
histogramProcesses: bsmtautau_lephad/config-SignalControlRegion/visualization/processes/plot-processes_sr.txt
cutflowProcessFiles: bsmtautau_lephad/config-SignalControlRegion/visualization/processes/plot-processes_sr.txt
cutflowCutFiles: bsmtautau_lephad/config-SignalControlRegion/visualization/cuts/cutflow-cuts.txt
plotlabel.region: "SR"
makePlots: CutBv*/*, CutBt*/*
#makePlots: CutBv*/Tau*, CutBv*/Lep*, CutBv*/*Pt
