# -*- mode: config -*-

[config]
include: bsmtautau_lephad/config-SignalControlRegion/master/master.cfg

[prepare]

[initialize]

[analyze]

[visualize]
outputDir: results/bsmtautau_lephad_vr
histogramProcesses: bsmtautau_lephad/config-SignalControlRegion/visualization/processes/plot-processes.txt
cutflowProcessFiles: bsmtautau_lephad/config-SignalControlRegion/visualization/processes/plot-processes.txt
plotlabel.region: "VR"
makePlots: CutVRBv*/*
