# -*- mode: config -*-

[analyze]

aliases.Lep0isEle: "(fabs([lep_ID_0])==11)"
aliases.Lep1isEle: "(fabs([lep_ID_1])==11)"
aliases.Lep2isEle: "(fabs([lep_ID_2])==11)"
aliases.Lep0isMu: "(fabs([lep_ID_0])==13)"
aliases.Lep1isMu: "(fabs([lep_ID_1])==13)"
aliases.Lep2isMu: "(fabs([lep_ID_2])==13)"


###### MC weights, SFs ######

## ele: reco, id, plv, chargeMisID
aliases.Ele0SF: "{$(Lep0isEle)? [lep_SF_El_Reco_AT_0]*[lep_SF_El_ID_LooseAndBLayerLH_AT_0]*[lep_SF_El_PLVTight_0]*[lep_SF_El_ChargeMisID_LooseAndBLayerLH_FCLoose_AT_0] : 1}"
aliases.Ele1SF: "{$(Lep0isEle)? [lep_SF_El_Reco_AT_1]*[lep_SF_El_ID_LooseAndBLayerLH_AT_1]*[lep_SF_El_PLVTight_1]*[lep_SF_El_ChargeMisID_LooseAndBLayerLH_FCLoose_AT_1] : 1}"
aliases.Ele2SF: "{$(Lep0isEle)? [lep_SF_El_Reco_AT_2]*[lep_SF_El_ID_LooseAndBLayerLH_AT_2]*[lep_SF_El_PLVTight_2]*[lep_SF_El_ChargeMisID_LooseAndBLayerLH_FCLoose_AT_2] : 1}"
## mu: TTVA, id, plv
aliases.Mu0SF: "{$(Lep0isMu)? [lep_SF_Mu_TTVA_AT_0]*[lep_SF_Mu_ID_Medium_AT_0]*[lep_SF_Mu_PLVTight_0] : 1}"
aliases.Mu1SF: "{$(Lep0isMu)? [lep_SF_Mu_TTVA_AT_1]*[lep_SF_Mu_ID_Medium_AT_1]*[lep_SF_Mu_PLVTight_1] : 1}"
aliases.Mu2SF: "{$(Lep0isMu)? [lep_SF_Mu_TTVA_AT_2]*[lep_SF_Mu_ID_Medium_AT_2]*[lep_SF_Mu_PLVTight_2] : 1}"

aliases.MCweight: "[weight_mc]*[weight_pileup]*[jvtSF_customOR]*[bTagSF_weight_DL1r_77]"
#aliases.MCweight: "(36074.6*([RunYear] ==2015||[RunYear]==2016)+43813.7*([RunYear] ==2017)+ 58450.1*([RunYear] ==2018))*[weight_mc]*[weight_pileup]*[jvtSF_customOR]*[bTagSF_weight_DL1r_77]*[scale_nom]"

aliases.nomFinWght: "{$(MCweight)*$(Ele0SF)*$(Mu0SF)*$(Ele1SF)*$(Mu1SF)}"

###### objects definitions ######

aliases.Ele0Eta: "((fabs([lep_EtaBE2_0])<1.37)||(fabs([lep_EtaBE2_0])>1.52&&fabs([lep_EtaBE2_0])<2.47))"
aliases.Ele1Eta: "((fabs([lep_EtaBE2_1])<1.37)||(fabs([lep_EtaBE2_1])>1.52&&fabs([lep_EtaBE2_1])<2.47))"
aliases.Ele2Eta: "((fabs([lep_EtaBE2_2])<1.37)||(fabs([lep_EtaBE2_2])>1.52&&fabs([lep_EtaBE2_2])<2.47))"
aliases.Mu0Eta: "(fabs([lep_Eta_0])<2.5)"
aliases.Mu1Eta: "(fabs([lep_Eta_1])<2.5)"
aliases.Mu2Eta: "(fabs([lep_Eta_2])<2.5)"

aliases.Ele0Medium: "((fabs([lep_ID_0])==11) && [lep_isTightLH_0]==1&&[lep_plvWP_Tight_0]==1 && (fabs([lep_Z0SinTheta_0])<0.5)&&[lep_sigd0PV_0]<5 && [lep_chargeIDBDTLoose_0]>0 && [lep_ambiguityType_0]==0 && ([lep_Pt_0]/1000>20) && $(Ele0Eta))"
aliases.Ele1Medium: "((fabs([lep_ID_1])==11) && [lep_isTightLH_1]==1&&[lep_plvWP_Tight_1]==1 && (fabs([lep_Z0SinTheta_1])<0.5)&&[lep_sigd0PV_1]<5 && [lep_chargeIDBDTLoose_1]>0 && [lep_ambiguityType_1]==0 && ([lep_Pt_1]/1000>20) && $(Ele1Eta))"
aliases.Ele2Medium: "((fabs([lep_ID_2])==11) && [lep_isTightLH_2]==1&&[lep_plvWP_Tight_2]==1 && (fabs([lep_Z0SinTheta_2])<0.5)&&[lep_sigd0PV_2]<5 && [lep_chargeIDBDTLoose_2]>0 && [lep_ambiguityType_2]==0 && ([lep_Pt_2]/1000>20) && $(Ele2Eta))"
aliases.Mu0Medium: "((fabs([lep_ID_0])==13) && [lep_isMedium_0]==1&&[lep_plvWP_Tight_0]==1 && (fabs([lep_Z0SinTheta_0])<0.5)&&[lep_sigd0PV_0]<3 && ([lep_Pt_0]/1000>20) && $(Mu0Eta))"
aliases.Mu1Medium: "((fabs([lep_ID_1])==13) && [lep_isMedium_1]==1&&[lep_plvWP_Tight_1]==1 && (fabs([lep_Z0SinTheta_1])<0.5)&&[lep_sigd0PV_1]<3 && ([lep_Pt_1]/1000>20) && $(Mu1Eta))"
aliases.Mu2Medium: "((fabs([lep_ID_2])==13) && [lep_isMedium_2]==1&&[lep_plvWP_Tight_2]==1 && (fabs([lep_Z0SinTheta_2])<0.5)&&[lep_sigd0PV_2]<3 && ([lep_Pt_2]/1000>20) && $(Mu2Eta))"

aliases.Lep0Medium: "{$(Ele0Medium) || $(Mu0Medium)}"
aliases.Lep1Medium: "{$(Ele1Medium) || $(Mu1Medium)}"
aliases.Lep2Medium: "{$(Ele2Medium) || $(Mu2Medium)}"

aliases.2lepSS: "[lep_ID_0]*[lep_ID_1]>0"
aliases.2lepOS: "[lep_ID_0]*[lep_ID_1]<0"

aliases.Tau0Eta: "((fabs([tau_eta_0])<1.37)||(fabs([tau_eta_0])>1.52&&fabs([tau_eta_0])<2.5))"
aliases.Tau1Eta: "((fabs([tau_eta_1])<1.37)||(fabs([tau_eta_1])>1.52&&fabs([tau_eta_1])<2.5))"

aliases.Tau0Medium: "[tau_passEleBDT_0]&&[tau_passMuonOLR_0] && ([tau_numTrack_0]==1||[tau_numTrack_0]==3) && [tau_pt_0]/1000>25 && $(Tau0Eta) && [tau_passJetIDRNNMed_0]"
aliases.Tau1Medium: "[tau_passEleBDT_1]&&[tau_passMuonOLR_1] && ([tau_numTrack_1]==1||[tau_numTrack_1]==3) && [tau_pt_1]/1000>25 && $(Tau1Eta) && [tau_passJetIDRNNMed_1]"
