# -*- mode: config -*-

[analyze]

# name of the input file
inputFile: sampleFolders/initialized/samples-initialized-Rel21_PxAOD_Validation.root

# name of the output file
outputFile: sampleFolders/analyzed/samples-analyzed-Rel21_PxAOD_Validation.root

# channels to run over
channels: em,me

#maxEvents: 1

#progressInterval: 5.

# experiminetal on-the-fly initialization (used for grid production)
#initializerLists: files.txt

useMultiChannelVisitor: true


# global properties
#useTransientTree: false
#useAthenaAccessMode: true
#loadStore: false

#doData: false

#MVA:

#xAODdumping.cuts

#memoryGraph

#initializerLists:

#purgeSamples: true

purgeRemainder: true

#showChannels: true

#checkRun: false

#printCounterValues: true
#printHistogramsASCII:

#reduceMCVObservables: true

#restrict:

# define the cuts
cuts: xAOD/config/cuts/Rel21_PxAOD_Validation-cuts.def
#templatedCuts.templateFilepath: 
#templatedCuts.inputsDir: 
#nullifyCuts:
#cutbased.makeCutflow: false

patches: xAOD/config/patches/Rel21_PxAOD_Validation-analyze-patch.txt

# add any observables
customObservables.directories: xAOD/observables/
customObservables.snippets: MjjMaxObservable, MjjVectorObservable

#printObservables: true

#algorithms:

#xAODdumping.outputDir:

# book histograms
histograms: xAOD/config/histograms/Rel21_PxAOD_Validation-histograms.cfg
#multidimHistograms: 
#makeHistograms: false
#printHistograms: true

# book graphs
#graphs:
#makeGraphs: false
#printGraphs: true

# book event lists
#eventlists:
#makeEventLists: false

# book ntuple dumping
#ntuples:
#dumpNtuples: false
#printNtuples: true

# include aliases
[config]
include: xAOD/config/aliases/Rel21_PxAOD_Validation-aliases.cfg
