# -*- mode: config -*-

[analyze]

# name of the input file
inputFile: sampleFolders/initialized/samples-initialized-xAOD-Example.root

# name of the output file
outputFile: sampleFolders/analyzed/samples-analyzed-xAOD-Example.root

# channels to run over
channels: ee,mm

useMultiChannelVisitor: true

purgeRemainder: true

# define the cuts
cuts: xAOD/config/cuts/xAOD-Example-cuts.def

#patches:

# add any observables
customObservables.directories: common/observables, xAOD/observables
customObservables.snippets: HWWLeptonIDObservable, HWWZBosonPairFakeIndex, TransMassW, HWWInvMass2L, HWWTriggerWeight, HWWMuonIsoWeight, HWWMuonTTVAWeight, HWWMuonRecoWeight, HWWElectronRecoWeight, HWWElectronIDWeight, HWWElectronIsoWeight, HWWJVTWeight, HWWBTagWeight, HWWPRWWeight, HWWMCWeight

# book histograms
histograms: xAOD/config/histograms/xAOD-Example-histograms.txt


# todo: remove this part and set default values in observable snippets

#----------------------------------------------------------
# Lepton specifications
lepIDSelectionTag: 2L
lepIDZCandSelectionTag: 2L
muonIsolationWP: FCTight
electronIsolationWP: FCTight

ElectronID: MediumLH
ElectronIDLowPt: TightLH
MuonQuality: Tight
MuonQualityLowPt: Tight

# This option is used by the triggerWeight observable
# for using all 3 leptons when calculating the trigger efficiency SF weight
nLeptonTriggerSFWeights: 3
# only use single lepton triggers (as opposed to dilepton by default)
triggerCombination: singleLepton

# todo: remove until here

# include aliases
[config]
include: xAOD/config/aliases/xAOD-Example-aliases.cfg