# -*- mode: config -*-

[analyze]

# name of the input file
inputFile: sampleFolders/initialized/samples-initialized-xAOD-Example.root

# name of the output file
outputFile: sampleFolders/analyzed/samples-analyzed-xAOD-Example.root

# channels to run over
channels: ee,mm

useMultiChannelVisitor: true

purgeRemainder: true

# define the cuts
cuts: xAOD/config/cuts/xAOD-Example-cuts.def

patches: xAOD/config/patches/xAOD-Example-analyze-patch.txt

# add any observables
customObservables.directories: xAOD/observables
customObservables.snippets: HWWZBosonPairFakeIndex, PassWZVeto, HWWLeptonIDObservable, HWWInvMass2L, HWWweight

# book histograms
histograms: xAOD/config/histograms/xAOD-Example-histograms.txt

# include aliases
[config]
include: xAOD/config/aliases/xAOD-Example-aliases.cfg
