# -*- mode: config -*-

[initialize]

# name of the input file
inputFile: sampleFolders/prepared/samples-prepared-xAOD-Example.root

# name of the output file
outputFile: sampleFolders/initialized/samples-initialized-xAOD-Example.root

# channels to run over
channels: ee,mm
channelPlaceholder: channel

# import options specific to different campaigns and announce the ones that should be processed
campaignsConfig: xAOD/config/master/campaigns-xAOD-Example.cfg
campaigns: c16a,c16d,c16e

# some debugging options for the sample initializer
# initialize: false
printSamplesFailed: true
verbose: true

# preInit patch files to apply
preInit_patches: xAOD/config/patches/xAOD-Example-preinitialize-patch.txt

# postInit patch files to apply
postInit_patches: xAOD/config/patches/xAOD-Example-postinitialize-patch.txt
