# -*- mode: config -*-

[initialize]

# name of the input file
inputFile: sampleFolders/prepared/samples-prepared-GridScanner-Example.root

# name of the output file
outputFile: sampleFolders/initialized/samples-initialized-GridScanner-Example.root

# paths and names of the input data files
# dataFileList: xAOD/config/samples/inputFileLists/GridScanner-Example-dataFileList.txt
# dataFileListTreeName: CollectionTree
# dataPaths: /eos/user/d/dshope/forCAFExample/GridScanner_Example/data/:CollectionTree
# additional input file configurations - these are already the defaults
# dataFilePattern: *.root*
# dataFolderPattern: data/$(channel)/all

# paths and names of the input mc files to initialize
# mcPaths: /eos/user/b/bejaeger/PxAODs-for-TQGridScanner-Example:CollectionTree
# additional input file configurations - these are already the defaults
# mcFilenameSuffix: *.root*
# mcFilenamePrefix: *
mcFileList: xAOD/config/samples/inputFileLists/GridScanner-Example-mcFileList.txt
# some debugging options for the sample initializer
# initialize: false
printSamplesFailed: true
verbose: true

# channels to run over
channels: em,me
channelPlaceholder: channel

# preInit patch files to apply
# preInit_patches: xAOD/config/patches/GridScanner-Example-preinitialize-patch.txt

# postInit patch files to apply
postInit_patches: xAOD/config/patches/GridScanner-Example-postinitialize-patch.txt
