# -*- mode: config -*-

[prepare]

# name of the output file
outputFile:  sampleFolders/prepared/samples-prepared-GridScanner-Example.root

# input cross section files
XsecFiles: common/config/samples/XSec/XS_13TeV.csv
XsecWhitelist: xAOD/config/samples/whitelists/GridScanner-Example-whitelist.txt
XsecMap: xAOD/config/samples/maps/GridScanner-Example.map
XsecUnit: nb

# channels to run over
channels: em,me
channelPlaceholder: channel

# energy and luminosity
luminosity: 36074.56
luminosityUnit: pb
energy: 13
#energyUnit: TeV

# patch files to apply
patches: xAOD/config/patches/GridScanner-Example-prepare-patch.txt
