# -*- mode: config -*-

[prepare]

# name of the output file
outputFile:  sampleFolders/prepared/samples-prepared-Rel21_PxAOD_Validation.root
#sampleFolderName: samples

# paths and names of the input data files
#dataPaths: 
#dataFilePattern: *.root*
#dataFolderPattern: data/$(channel)

# input cross section files (and map)
XsecFiles: common/config/definitions/samples/XSec/XS_13TeV.csv
XsecWhitelist: xAOD/config/definitions/samples/whitelist/Rel21_PxAOD_Validation-whitelist.txt
XsecMap: xAOD/config/definitions/samples/maps/Rel21_PxAOD_Validation.map
XsecUnit: nb
channelPlaceholder: channel

# some debugging options:
# printFolderTags: rdt
# printXsec: true

# channels to run over
channels: em,me

# energy and luminosity
luminosity: 36074.56
luminosityUnit: pb
energy: 13
#energyUnit: TeV

# patch files to apply
patches: xAOD/config/patches/Rel21_PxAOD_Validation-prepare-patch.txt