# -*- mode: config -*-

[visualize]

# name of the input file
inputFile: sampleFolders/analyzed/samples-analyzed-Rel21_PxAOD_Validation.root

# name of the output file
outputFile: sampleFolders/visualized/samples-visualized-Rel21_PxAOD_Validation.root

# name of the output folder
outputDir: results/Rel21_PxAOD_Validation

# channels to run over
channels: em,me,df

patches: xAOD/config/patches/visualizeRel21_PxAOD_Validation-patch.txt

#verbose: true

#showData: false

#fakeData.source:
#fakeData.channels:
#fakeData.target:

#doNFs: false
#nfConfig:
#NF.doNFplots: true
#NF. ... :

makePlots: *
#morePlots:
#summaryCuts:
#plotter. ... :
#useEXIF:
#embedPDFfonts:
#plotFormats:
#histogramScheme:
histogramProcesses: xAOD/config/visualization/processes/Rel21_PxAOD_Validation-plots.txt
#plotter.style.showRatio: true
#skipAllPlots: true
#skipPlotsSilent: true
#showPlotLabels:
#plotlabel:
#makeLinPlots:
#summaryLinearOnly:
makeLogPlots: false

#makeComparePlots:
#plotFormats:
#compPlotter. ... :

#cutprinter. ... :

makeCutflows: true
cutflowFormats: txt, tex, html
#cutflowprinter.style.precision: 3
#cutflowprinter.style.default.showRaw: true

#cutflowProcessFiles: xAOD/config/visualization/processes/Rel21_PxAOD_Validation-cutflows.txt
#cutflowCutFiles: xAOD/config/visualization/cutflow/Rel21_PxAOD_Validation-cutflows.txt

#makeEventlists: true
#eventlistProcessFiles:

#eventlistprinter. ... :

#variation:

#systematicBands: