# -*- mode: config -*-

[config]
include: bsmtautau_lephad/config-QCDLeptonFakeRegion/applyFF/master/master.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_qcdlfr_applyffsf.root
aliases.UseQCDSF: true

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_qcdlfr_applyffsf.root
outputDir: results/bsmtautau_lephad_qcdlfr_applyffsf
