# -*- mode: config -*-

[config]
include: configSignalControlRegion/htautau_lephad_sr_mc16a.cfg

[prepare]

[initialize]

[analyze]

[visualize]
outputFile: sampleFolders/visualized/samples-visualized-htautau_lephad_vr_mc16a.root
outputDir: results/htautau_lephad_vr_mc16a
histogramProcesses: configSignalControlRegion/htautau_lephad_vr_processes_mc16a.style
cutflowProcessFiles: configSignalControlRegion/htautau_lephad_vr_processes_mc16a.style
plotlabel: "H/A#rightarrow#tau_{lep}#tau_{had} VR ($(channel))"
makePlots: CutVRB*/*
