# -*- mode: config -*-

[config]
include: configSignalControlRegion/htautau_lephad_vr_mc16c.cfg

[prepare]

[initialize]

[analyze]

[visualize]
outputFile: sampleFolders/visualized/samples-visualized-htautau_lephad_vr_wjetsqcd_mc16c.root
outputDir: results/htautau_lephad_vr_wjetsqcd_mc16c
histogramProcesses: configSignalControlRegion/htautau_lephad_sr_processes_wjetsqcd_mc16c.style
cutflowProcessFiles: configSignalControlRegion/htautau_lephad_sr_processes_wjetsqcd_mc16c.style
plotlabel: "H/A#rightarrow#tau_{lep}#tau_{had} VR W+jets QCD ($(channel))"
