# -*- mode: config -*-

[config]
include: configCommon/htautau_lephad_common_mc16a.cfg, configSignalControlRegion/htautau_lephad_sr.cfg

[prepare]
outputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_sr_mc16a.root
XsecMap: configCommon/htautau_lephad_common_mc16a_sr.map

[initialize]
inputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_sr_mc16a.root
outputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_sr_mc16a.root

[analyze]

[visualize]
outputFile: sampleFolders/visualized/samples-visualized-htautau_lephad_sr_mc16a.root
outputDir: results/htautau_lephad_sr_mc16a
histogramProcesses: configSignalControlRegion/htautau_lephad_sr_processes_mc16a.style
cutflowProcessFiles: configSignalControlRegion/htautau_lephad_sr_processes_mc16a.style
#showData: false
