# -*- mode: config -*-

config.Include: ConfigSignalRegion/htautau_lephad_vr_mc16a.cfg


readAnalysis.outputDir: results/htautau_lephad_vr_wjetsqcd_mc16a

readAnalysis.plotter.labels.process: "H#rightarrow#tau_{lep}#tau_{had} VR W+jets QCD"
readAnalysis.histogramProcesses: ConfigSignalRegion/htautau_lephad_sr_processes_wjetsqcd_mc16a.style
readAnalysis.cutflowProcessFiles: ConfigSignalRegion/htautau_lephad_sr_processes_wjetsqcd_mc16a.style
