# -*- mode: config -*-

[config]
include: configSignalControlRegion/htautau_lephad_sr.cfg

[prepare]

[initialize]

[analyze]

[visualize]
outputDir: results/htautau_lephad_vr
histogramProcesses: configSignalControlRegion/htautau_lephad_sr_processes.style
cutflowProcessFiles: configSignalControlRegion/htautau_lephad_sr_processes.style
plotlabel: "H/A#rightarrow#tau_{lep}#tau_{had} ($(channel)) VR"
makePlots: CutVRBv*/*
