# -*- mode: config -*-

[config]
include: configSignalControlRegion/htautau_lephad_vr.cfg

[prepare]

[initialize]

[analyze]

[visualize]
outputFile: sampleFolders/visualized/samples-visualized-htautau_lephad_vr_wjets.root
outputDir: results/htautau_lephad_vr_wjets
histogramProcesses: configSignalControlRegion/htautau_lephad_sr_processes_wjets.style
cutflowProcessFiles: configSignalControlRegion/htautau_lephad_sr_processes_wjets.style
plotlabel: "H/A#rightarrow#tau_{lep}#tau_{had} VR W+jets ($(channel))"
