# -*- mode: config -*-

config.Include: ConfigCommon/htautau_lephad_common_mc16c.cfg, ConfigSignalRegion/htautau_lephad_sr.cfg


##########################################################################
makeSampleFile.sampleFile: input/htautau_lephad_sr_mc16c.root:samples
makeSampleFile.XsecMap: ConfigCommon/htautau_lephad_common_mc16c_sr.map


##########################################################################
readAnalysis.outputDir: results/htautau_lephad_sr_mc16c
readAnalysis.histogramProcesses: ConfigSignalRegion/htautau_lephad_sr_processes_mc16c.style
readAnalysis.cutflowProcessFiles: ConfigSignalRegion/htautau_lephad_sr_processes_mc16c.style
showData: false
