# -*- mode: config -*-

config.Include: ConfigSignalRegion/htautau_lephad_tcr_mc16c.cfg


readAnalysis.outputDir: results/htautau_lephad_tcr_qcd_mc16c

readAnalysis.plotter.labels.process: "H#rightarrow#tau_{lep}#tau_{had} TCR QCD"
readAnalysis.histogramProcesses: ConfigSignalRegion/htautau_lephad_sr_processes_qcd_mc16c.style
readAnalysis.cutflowProcessFiles: ConfigSignalRegion/htautau_lephad_sr_processes_qcd_mc16c.style
