# -*- mode: config -*-

[config]
include: configCommon/htautau_lephad_common_mc16c.cfg, configSignalControlRegion/htautau_lephad_sr.cfg

[prepare]
outputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_sr_mc16c.root
XsecMap: configCommon/htautau_lephad_common_mc16c_sr.map

[initialize]
inputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_sr_mc16c.root
outputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_sr_mc16c.root

[analyze] 

[visualize]
outputFile: sampleFolders/visualized/samples-visualized-htautau_lephad_sr_mc16c.root
outputDir: results/htautau_lephad_sr_mc16c
histogramProcesses: configSignalControlRegion/htautau_lephad_sr_processes_mc16c.style
cutflowProcessFiles: configSignalControlRegion/htautau_lephad_sr_processes_mc16c.style
showData: false
