# -*- mode: config -*-

[config]
include: configSignalControlRegion/htautau_lephad_vr.cfg

[prepare]

[initialize]

[analyze]

[visualize]
#outputFile: sampleFolders/visualized/samples-visualized-htautau_lephad_vr_wjetsqcd.root
outputDir: results/htautau_lephad_vr_wjetsqcd
histogramProcesses: configCommon/htautau_lephad_common_processes_wjetsqcd.style
cutflowProcessFiles: configCommon/htautau_lephad_common_processes_wjetsqcd.style
plotlabel: "H/A#rightarrow#tau_{lep}#tau_{had} VR W+jets QCD ($(channel))"
