# -*- mode: config -*-

[config]
include: configSignalControlRegion/htautau_lephad_tcr.cfg

[prepare]

[initialize]

[analyze]

[visualize]
#outputFile: sampleFolders/visualized/samples-visualized-htautau_lephad_tcr_qcd.root
outputDir: results/htautau_lephad_tcr_qcd
histogramProcesses: configCommon/htautau_lephad_common_processes_qcd.style
cutflowProcessFiles: configCommon/htautau_lephad_common_processes_qcd.style
plotlabel: "H/A#rightarrow#tau_{lep}#tau_{had} TCR QCD ($(channel))"
