# -*- mode: config -*-

[config]
include: bsmtautau_lephad/config-Common/master/master.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_lfr.root
cuts: bsmtautau_lephad/config-LeptonFakeRegion/cuts/cuts.def
histograms: bsmtautau_lephad/config-LeptonFakeRegion/histograms/histograms.txt
#aliases.UseTopSF: true

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_lfr.root
outputDir: results/bsmtautau_lephad_lfr
histogramProcesses: bsmtautau_lephad/config-LeptonFakeRegion/visualization/processes/plot-processes.txt
cutflowProcessFiles: bsmtautau_lephad/config-LeptonFakeRegion/visualization/processes/plot-processes.txt
cutflowCutFiles: bsmtautau_lephad/config-LeptonFakeRegion/visualization/cuts/cutflow-cuts.txt
plotlabel.region: "LFR"
makePlots: CutB*BDTSL*ISO/*
