# -*- mode: config -*-

#########################################
##
##  Configuration file for FLR studies.
##
#########################################

[config]
include: ConfigCommon/htautau_lephad_common.cfg


################################################################################
[prepare]
patches: ConfigFakeLeptonRegion/htautau_lephad_flr.tags
channels: muhad, ehad


[initialize]
channels: muhad, ehad
postInit_patches: ConfigFakeLeptonRegion/htautau_lephad_flr.tags


################################################################################
[analyze]
inputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_flr.root
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_flr-nominal.root
customObservables.directories: ConfigCommon/observables
customObservables.snippets: BSMTriggerDecision, ScaleFactor
cuts: ConfigFakeLeptonRegion/htautau_lephad_flr_cuts.def
channels: muhad, ehad
histograms: ConfigFakeLeptonRegion/htautau_lephad_flr_histograms.txt


################################################################################
[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_flr-nominal.root
makePlots: Cut*BDTSL*/*
channels: muhad, ehad
plotter.labels.process: "H#rightarrow#tau_{lep}#tau_{had} FLCR"
#" (e#tau_{had})"
cutflowCutFiles: ConfigFakeLeptonRegion/htautau_lephad_flr_cuts.txt
plotter.style.showUnderflow: True
plotter.style.showOverflow: True
