# -*- mode: config -*-

config.Include: ConfigCommon/htautau_lephad_common_mc16c.cfg, ConfigFakeLeptonRegion/htautau_lephad_flr_applyff.cfg


##########################################################################
makeSampleFile.sampleFile: input/htautau_lephad_flr_applyff_mc16c.root:samples


##########################################################################
#runAnalysis.inputFile: input/htautau_lephad_flr_applyff_mc16c.root:samples
#runAnalysis.outputFile: output/htautau_lephad_flr_applyff_mc16c/nominal.root:samples


##########################################################################
#readAnalysis.inputFile: output/htautau_lephad_flr_applyff_mc16c/nominal.root:samples
readAnalysis.outputDir: results/htautau_lephad_flr_applyff_mc16c
readAnalysis.histogramProcesses: ConfigFakeLeptonRegion/htautau_lephad_flr_processes_mc16c.style
readAnalysis.cutflowProcessFiles: ConfigFakeLeptonRegion/htautau_lephad_flr_processes_mc16c.style
