# -*- mode: config -*-

#########################################
##
##  Configuration file for FLR apply FF
##
#########################################

config.Include: ConfigFakeLeptonRegion/htautau_lephad_flr.cfg


################################################################################
makeSampleFile.style: ConfigFakeLeptonRegion/htautau_lephad_flr_applyff.tags


################################################################################
runAnalysis.inputFile: input/htautau_lephad_flr_applyff.root:samples
runAnalysis.outputFile: output/htautau_lephad_flr_applyff/nominal.root:samples
	### select lepton fake factor:
	### FFPT for pt parametrization
	### FFETA (default) for eta parametrization
	### FFPTDPHI for pt par and dphi corr
runAnalysis.myLeptonFF: FF2DPTDPHI
runAnalysis.addObservables: BSMTriggerDecision.py, ScaleFactor.py, isoReweight.py
runAnalysis.cuts: ConfigFakeLeptonRegion/htautau_lephad_flr_applyff_cuts.def


################################################################################
readAnalysis.inputFile: output/htautau_lephad_flr_applyff/nominal.root:samples
readAnalysis.makePlots: CutBveto*/*,CutBtag*/*
readAnalysis.cutflowCutFiles: ConfigFakeLeptonRegion/htautau_lephad_flr_applyff_cuts.txt
readAnalysis.plotter.style.min: 1.01
readAnalysis.plotter.style.ratioMin: 0.5
readAnalysis.plotter.style.ratioMax: 1.5
