# -*- mode: config -*-

config.Include: ConfigCommon/htautau_lephad_common_mc16a.cfg, ConfigFakeLeptonRegion/htautau_lephad_flr_applyff.cfg


##########################################################################
makeSampleFile.sampleFile: input/htautau_lephad_flr_applyff_mc16a.root:samples


##########################################################################
#runAnalysis.inputFile: input/htautau_lephad_flr_applyff_mc16a.root:samples
#runAnalysis.outputFile: output/htautau_lephad_flr_applyff_mc16a/nominal.root:samples


##########################################################################
#readAnalysis.inputFile: output/htautau_lephad_flr_applyff_mc16a/nominal.root:samples
readAnalysis.outputDir: results/htautau_lephad_flr_applyff_mc16a
readAnalysis.histogramProcesses: ConfigFakeLeptonRegion/htautau_lephad_flr_processes_mc16a.style
readAnalysis.cutflowProcessFiles: ConfigFakeLeptonRegion/htautau_lephad_flr_processes_mc16a.style
