# -*- mode: config -*-

[config]
include: ConfigCommon/htautau_lephad_common_mc16a.cfg, ConfigFakeLeptonRegion/htautau_lephad_flr.cfg


##########################################################################
[prepare]
outputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_flr_mc16a.root

[initialize]
inputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_flr_mc16a.root
outputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_flr_mc16a.root


##########################################################################
[analyze]
#inputFile: input/htautau_lephad_flr_mc16a.root:samples
#outputFile: output/htautau_lephad_flr_mc16a/nominal.root:samples


##########################################################################
[visualize]
#inputFile: output/htautau_lephad_flr_mc16a/nominal.root:samples
outputDir: results/htautau_lephad_flr_mc16a
histogramProcesses: ConfigFakeLeptonRegion/htautau_lephad_flr_processes_mc16a.style
cutflowProcessFiles: ConfigFakeLeptonRegion/htautau_lephad_flr_processes_mc16a.style
