# -*- mode: config -*-

[config]
include: ConfigCommon/htautau_lephad_common_mc16c.cfg, ConfigFakeLeptonRegion/htautau_lephad_flr.cfg


##########################################################################
[prepare]
outputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_flr_mc16c.root

[initialize]
inputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_flr_mc16c.root
outputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_flr_mc16c.root


##########################################################################
[analyze]
#inputFile: input/htautau_lephad_flr_mc16c.root:samples
#outputFile: output/htautau_lephad_flr_mc16c/nominal.root:samples


##########################################################################
[visualize]
#inputFile: output/htautau_lephad_flr_mc16c/nominal.root:samples
outputDir: results/htautau_lephad_flr_mc16c
histogramProcesses: ConfigFakeLeptonRegion/htautau_lephad_flr_processes_mc16c.style
cutflowProcessFiles: ConfigFakeLeptonRegion/htautau_lephad_flr_processes_mc16c.style
