# -*- mode: config -*-

#########################################
##
##  Configuration file for FLR studies.
##
#########################################

config.Include: ConfigCommon/htautau_lephad_common.cfg


################################################################################
makeSampleFile.style: ConfigFakeLeptonRegion/htautau_lephad_flr.tags
makeSampleFile.channels: muhad, ehad


################################################################################
runAnalysis.inputFile: input/htautau_lephad_flr.root:samples
runAnalysis.outputFile: output/htautau_lephad_flr/nominal.root:samples
runAnalysis.addObservables: BSMTriggerDecision.py, ScaleFactor.py
runAnalysis.cuts: ConfigFakeLeptonRegion/htautau_lephad_flr_cuts.def
runAnalysis.channels: muhad, ehad
runAnalysis.histograms: ConfigFakeLeptonRegion/htautau_lephad_flr_histograms.txt


################################################################################
readAnalysis.inputFile: output/htautau_lephad_flr/nominal.root:samples
readAnalysis.makePlots: Cut*BDTSL*/*
readAnalysis.channels: muhad, ehad
readAnalysis.plotter.labels.process: "H#rightarrow#tau_{lep}#tau_{had} FLCR"
#" (e#tau_{had})"
readAnalysis.cutflowCutFiles: ConfigFakeLeptonRegion/htautau_lephad_flr_cuts.txt
readAnalysis.plotter.style.showUnderflow: True
readAnalysis.plotter.style.showOverflow: True
