# This is a standard aliases definition file where only a small selection of aliases
# are specified for the GridScanner example

[analyze]

# CutChannels
aliases.fitsChannel: @Event$(cand).size() > 0

# CutOtherLep
aliases.nOtherElec: Event$(cand)[0].nOtherElectrons()
aliases.nOtherMuon: Event$(cand)[0].nOtherMuons()
aliases.lllFinalState: ($(nOtherElec) == 1 && $(nOtherMuon) == 0) || ($(nOtherElec) == 0 && $(nOtherMuon) == 1)

# Lepton Definitions
aliases.nLeps: "Tool:nLep(Event$(cand)[0])"
aliases.dilepCharge: Event$(cand)[0].charge()
aliases.nVetoMuon:       "Tool:nVetoMuon(Event$(cand)[0]  , Mode=1, Ele_LH=4, Isolation=1)"
aliases.nVetoEle:        "Tool:nVetoEle(Event$(cand)[0]   , Mode=2, Ele_LH=4, Isolation=1)"
aliases.nVetoLepton:     "Tool:nVetoLepton(Event$(cand)[0], Mode=3, Ele_LH=4, Isolation=1)"
aliases.VetoLepPt:       "Tool:VetoLepPt(Event$(cand)[0]  , Mode=7, Ele_LH=4, Isolation=1)"
aliases.VetoLepEta:      "Tool:VetoLepEta(Event$(cand)[0] , Mode=8, Ele_LH=4, Isolation=1)"
aliases.VetoLepPhi:      "Tool:VetoLepPhi(Event$(cand)[0] , Mode=9, Ele_LH=4, Isolation=1)"
aliases.nOtherJets:      "Tool:nOtherJets(Event$(cand)[0] , Mode=10)"

# CutLeptonsPt
aliases.lep0: 		Event$(cand)[0].part(0)
aliases.lep1: 		Event$(cand)[0].part(1)
aliases.otherPart0: Event$(cand)[0].otherPart(0)

# Lepton quantities
aliases.Mll: "((Event$(cand)[0].p4(0,1))).M()"
aliases.Ptll: "((Event$(cand)[0].p4(0,1))).Pt()"
aliases.DPhill: "acos( cos( fabs( Event$(cand)[0].part(0).phi() - Event$(cand)[0].part(1).phi() ) ) )"
aliases.mtt: "Tool:mtt(Event$(cand)[0])"

# Jet quantities
#runAnalysis.aliases.jet0: Event$(cand)[0].part(2)
#runAnalysis.aliases.jet1: Event$(cand)[0].part(3)
#runAnalysis.aliases.jet2: Event$(cand)[0].part(4)

aliases.DYjj: "fabs(Event$(cand)[0].part(2).rapidity() - Event$(cand)[0].part(3).rapidity())"
aliases.Mjj: "((Event$(cand)[0].p4(2,3))).M()"

# Event quantities
aliases.MT: "Event$(cand)[0].mt(0,1)"
aliases.MET: Event$(cand)[0].missingET().met()
