# -*- mode: config -*-

[prepare]

# name of the output file
outputFile:  sampleFolders/prepared/samples-run2-prepared-ZjetsFF-Example.root
#sampleFolderName: samples

# paths and names of the input data files
dataPaths: /afs/cern.ch/user/d/dshope/public/forCAFExample/ZjetsFF_nTuples/data/:CAFExampleTree
dataFilePattern: *.root*
#dataFolderPattern: data/$(channel)

# input cross section files (and map)
XsecFiles: config/definitions/samples/XSec/XS_13TeV_bkg_ZjetsFF_Example.csv
XsecWhitelist: config/definitions/samples/whitelist/ZjetsFF-Example-whitelist.txt
XsecPriorityColumn: priority
XsecPriorityMax: 1
XsecMap: config/definitions/samples/maps/ZjetsFF-Example.map
XsecUnit: nb
channelPlaceholder: channel
# read in the SumOfWeightsPerEvent externally
#averageweights.filename:XSec/DC14_SumOfWeightsPerEvent.csv
#averageweights.colname:Nominal
#averageWeightName: averageWeight
# some debugging options:
# printFolderTags: rdt
# printXsec: true

# channels to run over
channels: ee,mm

# energy and luminosity
luminosity: 36074.56
luminosityUnit: pb
energy: 13
#energyUnit: TeV

# patch files to apply
patches: config/patch/prepareZjetsFF-patch.txt