# -*- mode: config -*-

[initialize]

# name of the input file
inputFile: sampleFolders/prepared/samples-run2-prepared-ZjetsFF-Example.root

# name of the output file
outputFile: sampleFolders/initialized/samples-run2-initialized-ZjetsFF-Example.root

# paths and names of the input mc files to initialize
mcPaths: /afs/cern.ch/user/d/dshope/public/forCAFExample/ZjetsFF_nTuples/mc/:CAFExampleTree
mcFilenameSuffix: *.root*
mcFilenamePrefix: *

# some debugging options for the sample initializer
# initialize: false
printSamplesFailed: true
verbose: true

initializer.useCountHistogram: true

# purgeSamples: true

# channels to run over
channels: ee,mm

luminosity: 36074.56
luminosityUnit: pb

# preInit patch files to apply
preInit_patches: config/patches/initializeZjetsFF-patch.txt

# postInit patch files to apply
#postInit_patches: