# -*- mode: config -*-

[config]
include: ConfigCommon/htautau_lephad_common_mc16a.cfg, ConfigWjetsControlRegion/htautau_lephad_wcr.cfg


##########################################################################
[prepare]
outputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_wcr_mc16a.root

[initialize]
inputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_wcr_mc16a.root
outputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_wcr_mc16a.root



[analyze]

##########################################################################
[visualize]
outputFile: sampleFolders/visualized/samples-visualized-htautau_lephad_wcr_mc16a.root
outputDir: results/htautau_lephad_wcr_mc16a
histogramProcesses: ConfigWjetsControlRegion/htautau_lephad_wcr_processes_mc16a.style
cutflowProcessFiles: ConfigWjetsControlRegion/htautau_lephad_wcr_processes_mc16a.style
