# -*- mode: config -*-

#########################################
##
##  Configuration file for WCR Cont ID
##
#########################################

config.Include: ConfigWjetsControlRegion/htautau_lephad_wcr.cfg


################################################################################
runAnalysis.inputFile: input/htautau_lephad_wcr.root:samples
runAnalysis.outputFile: output/htautau_lephad_wcr_contid/nominal.root:samples
runAnalysis.cuts: ConfigWjetsControlRegion/htautau_lephad_wcr_contid_cuts.def
runAnalysis.histograms: ConfigWjetsControlRegion/htautau_lephad_wcr_contid_histograms.txt


#################################################################################
readAnalysis.inputFile: output/htautau_lephad_wcr_contid/nominal.root:samples
readAnalysis.makePlots: CutB*BDT*/*TauPt*
readAnalysis.plotter.style.showEventYields: False
readAnalysis.cutflowCutFiles: ConfigWjetsControlRegion/htautau_lephad_wcr_contid_cuts.txt
readAnalysis.plotter.style.ratioMin: 0.5
readAnalysis.plotter.style.ratioMax: 1.5
