# -*- mode: config -*-

[config]
include: ConfigCommon/htautau_lephad_common_mc16c.cfg, ConfigWjetsControlRegion/htautau_lephad_wcr.cfg


##########################################################################
[prepare]
outputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_wcr_mc16c.root

[initialize]
inputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_wcr_mc16c.root
outputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_wcr_mc16c.root



##########################################################################
[analyze]
#inputFile: input/htautau_lephad_wcr_mc16c.root:samples
#outputFile: output/htautau_lephad_wcr_mc16c/nominal.root:samples


##########################################################################
[visualize]
#inputFile: output/htautau_lephad_wcr_mc16c/nominal.root:samples
outputFile: sampleFolders/visualized/samples-visualized-htautau_lephad_wcr_mc16c.root
outputDir: results/htautau_lephad_wcr_mc16c
histogramProcesses: ConfigWjetsControlRegion/htautau_lephad_wcr_processes_mc16c.style
cutflowProcessFiles: ConfigWjetsControlRegion/htautau_lephad_wcr_processes_mc16c.style
