# -*- mode: config -*-

config.Include: ConfigCommon/htautau_lephad_common_mc16c.cfg, ConfigWjetsControlRegion/htautau_lephad_wcr.cfg


##########################################################################
makeSampleFile.sampleFile: input/htautau_lephad_wcr_mc16c.root:samples


##########################################################################
#runAnalysis.inputFile: input/htautau_lephad_wcr_mc16c.root:samples
#runAnalysis.outputFile: output/htautau_lephad_wcr_mc16c/nominal.root:samples


##########################################################################
#readAnalysis.inputFile: output/htautau_lephad_wcr_mc16c/nominal.root:samples
readAnalysis.outputDir: results/htautau_lephad_wcr_mc16c
readAnalysis.histogramProcesses: ConfigWjetsControlRegion/htautau_lephad_wcr_processes_mc16c.style
readAnalysis.cutflowProcessFiles: ConfigWjetsControlRegion/htautau_lephad_wcr_processes_mc16c.style
