# -*- mode: config -*-

#########################################
##
##  Configuration file for WCR studies.
##
#########################################

[config]
include: ConfigCommon/htautau_lephad_common.cfg


################################################################################
[prepare]
#patches: ConfigWjetsControlRegion/htautau_lephad_wcr.tags
channels: lephad, muhad, ehad


[initialize]
postInit_patches: ConfigWjetsControlRegion/htautau_lephad_wcr.tags
channels: lephad, muhad, ehad


################################################################################
[analyze]
inputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_wcr.root
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_wcr-nominal.root
customObservables.snippets: BSMTriggerDecision, TruthSelector, ScaleFactor, isoReweight
### select lepton fake factor:
### FFETA (default) for eta parametrization
### FFPT for pt parametrization
### FF2DPTDPHI for pt par and dphi corr
myLeptonFF: FF2DPTDPHI
cuts: ConfigWjetsControlRegion/htautau_lephad_wcr_cuts.def
channels: lephad, ehad, muhad
histograms: ConfigWjetsControlRegion/htautau_lephad_wcr_histograms.txt


#################################################################################
[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_wcr-nominal.root
#nfConfig: normalization/normVBF.txt
makePlots: CutBveto*OS*/*
	#, CutBtag*SS*/*
channels: ehad, muhad
plotter.labels.process: "H#rightarrow#tau_{lep}#tau_{had} W+jets CR"
#" (e#tau_{had})"
cutflowCutFiles: ConfigWjetsControlRegion/htautau_lephad_wcr_cuts.txt
#plotter.style.showUnderflow: True
#plotter.style.showOverflow: True


#################################################################################
#createSystematics.weightSystematicsFile: systematics/plot.systematics
#createSystematics.inputDir: output/fake_july
#createSystematics.nominalFile: nominal.root
#createSystematics.sampleFolder: :samples
#createSystematics.channel: lephad
#createSystematics.cuts: CutVBFCBSR,CutBOOSTCBSR
#createSystematics.outputDir: systematics
#createSystematics.outputFile: systematics_july.root
#createSystematics.tableName: systematics_table_july
