# -*- mode: config -*-

#########################################
##
##  Configuration file for WCR studies.
##
#########################################

config.Include: ConfigCommon/htautau_lephad_common.cfg


################################################################################
makeSampleFile.style: ConfigWjetsControlRegion/htautau_lephad_wcr.tags
makeSampleFile.channels: lephad, muhad, ehad


################################################################################
runAnalysis.inputFile: input/htautau_lephad_wcr.root:samples
runAnalysis.outputFile: output/htautau_lephad_wcr/nominal.root:samples
runAnalysis.addObservables: BSMTriggerDecision.py, TruthSelector.py, ScaleFactor.py, isoReweight.py
    ### select lepton fake factor:
    ### FFETA (default) for eta parametrization
    ### FFPT for pt parametrization
    ### FF2DPTDPHI for pt par and dphi corr
runAnalysis.myLeptonFF: FF2DPTDPHI
runAnalysis.cuts: ConfigWjetsControlRegion/htautau_lephad_wcr_cuts.def
runAnalysis.channels: lephad, ehad, muhad
runAnalysis.histograms: ConfigWjetsControlRegion/htautau_lephad_wcr_histograms.txt


#################################################################################
readAnalysis.inputFile: output/htautau_lephad_wcr/nominal.root:samples
#readAnalysis.nfConfig: normalization/normVBF.txt
readAnalysis.makePlots: CutBveto*OS*/*
	#, CutBtag*SS*/*
readAnalysis.channels: ehad, muhad
readAnalysis.plotter.labels.process: "H#rightarrow#tau_{lep}#tau_{had} W+jets CR"
#" (e#tau_{had})"
readAnalysis.cutflowCutFiles: ConfigWjetsControlRegion/htautau_lephad_wcr_cuts.txt
#readAnalysis.plotter.style.showUnderflow: True
#readAnalysis.plotter.style.showOverflow: True


#################################################################################
#createSystematics.weightSystematicsFile: systematics/plot.systematics
#createSystematics.inputDir: output/fake_july
#createSystematics.nominalFile: nominal.root
#createSystematics.sampleFolder: :samples
#createSystematics.channel: lephad
#createSystematics.cuts: CutVBFCBSR,CutBOOSTCBSR
#createSystematics.outputDir: systematics
#createSystematics.outputFile: systematics_july.root
#createSystematics.tableName: systematics_table_july
