# -*- mode: config -*-

config.Include: ConfigCommon/htautau_lephad_common_mc16a.cfg, ConfigWjetsControlRegion/htautau_lephad_wcr.cfg


##########################################################################
makeSampleFile.sampleFile: input/htautau_lephad_wcr_mc16a.root:samples


##########################################################################
readAnalysis.outputDir: results/htautau_lephad_wcr_mc16a
readAnalysis.histogramProcesses: ConfigWjetsControlRegion/htautau_lephad_wcr_processes_mc16a.style
readAnalysis.cutflowProcessFiles: ConfigWjetsControlRegion/htautau_lephad_wcr_processes_mc16a.style
