[analyze]

# CutChannels
aliases.fitsChannel: @Event$(cand).size() > 0

# CutVgammaVjet_overlap
aliases.Truth_hasFSRPhotonDR01: [SGAuxCDec:EventInfo:truth_hasFSRPhotonDR01]

# CutOtherLep
aliases.nOtherElec: Event$(cand)[0].nOtherElectrons()
aliases.nOtherMuon: Event$(cand)[0].nOtherMuons()
aliases.lllFinalState: ($(nOtherElec) == 1 && $(nOtherMuon) == 0) || ($(nOtherElec) == 0 && $(nOtherMuon) == 1)

# CutZMass
