[analyze]

# CutChannels
aliases.fitsChannel: @Event$(cand).size() > 0

# CutVgammaVjet_overlap
aliases.Truth_hasFSRPhotonDR01: [SGAuxCDec:EventInfo:truth_hasFSRPhotonDR01]

# CutOtherLep
aliases.nOtherElec: Event$(cand)[0].nOtherElectrons()
aliases.nOtherMuon: Event$(cand)[0].nOtherMuons()
aliases.lllFinalState: ($(nOtherElec) == 1 && $(nOtherMuon) == 0) || ($(nOtherElec) == 0 && $(nOtherMuon) == 1)

# CutZMass

# CutLeptonsPt
aliases.lep0: 		Event$(cand)[0].part(0)
aliases.lep1: 		Event$(cand)[0].part(1)
aliases.otherPart0: Event$(cand)[0].otherPart(0)

# CutWZVeto
aliases.PassWZVeto: "([ZBosonPairFakeIndex]==3 ? [PassWZVetoThirdLep]: ( [ZBosonPairFakeIndex]==2 ? [PassWZVetoSubleadLep]: [PassWZVetoLeadLep] ) )"

# CutFakeEl
# CutFakeMu
aliases.electron: 6
aliases.muon: 8
aliases.fakeLepCand_type: "([ZBosonPairFakeIndex]==3 ? [$(otherPart0).type()] : ( [ZBosonPairFakeIndex]==2 ? [$(lep1).type()]: [$(lep0).type()] ) )"

# CutEtaFakeElec
# CutEtaFakeMuon
aliases.fakeLepCand_eta: "([ZBosonPairFakeIndex]==3 ? [$(otherPart0).eta()] : ( [ZBosonPairFakeIndex]==2 ? [$(lep1).eta()] : [$(lep0).eta()])) "

# CutFakeElecID
# CutFakeMuonID
aliases.fakeLepCand_id: "([ZBosonPairFakeIndex]==3 ? [otherLep0ID]: ( [ZBosonPairFakeIndex]==2 ? [subleadLepID]: [leadLepID] ) )"

# CutFakeElecAntiID
# CutFakeMuonAntiID
aliases.fakeLepCand_antiid: "([ZBosonPairFakeIndex]==3 ? [otherLep0AntiID]: ( [ZBosonPairFakeIndex]==2 ? [subleadLepAntiID]: [leadLepAntiID] ) )"


###
### just For histograms
###
aliases.fakeLepCand_pt: "([ZBosonPairFakeIndex]==3 ? [$(otherPart0).pt()] : ( [ZBosonPairFakeIndex]==2 ? [$(lep1).pt()] : [$(lep0).pt()])) "
aliases.invMassOptZTag: "([ZBosonPairFakeIndex]==3 ? [invMassl0l1]: ( [ZBosonPairFakeIndex]==2 ? [invMassl0otherPart0]: [invMassl1otherPart0] ) )"