# -*- mode: config -*-

[config]
include: lqtaub_lephad/config-LeptonFakeRegion/applyFF/applySF/master/master.cfg, lqtaub_lephad/config-LeptonFakeRegion/applyFF/master/master_qcd.cfg

[prepare]

[initialize]

[analyze]

[visualize]
outputDir: results/lqtaub_lephad_lfr_applyffsf_qcd
