# -*- mode: config -*-

[config]
include: lqtaub_lephad/config-LeptonFakeRegion/applyFF/master/master.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-lqtaub_lephad_lfr_applyffsf.root
aliases.UseQCDSF: true

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-lqtaub_lephad_lfr_applyffsf.root
outputDir: results/lqtaub_lephad_lfr_applyffsf
