# -*- mode: config -*-

[config]
include: configWjetsFakeRegion/applyFF/htautau_lephad_wfr_applyff.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_wfr_applyffsf.root
cuts: configWjetsFakeRegion/applyFF/applySF/htautau_lephad_wfr_applyffsf_cuts.def
UseWjetsSF: true
UseTopSF: true

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_wfr_applyffsf.root
outputDir: results/htautau_lephad_wfr_applyffsf
histogramProcesses: configWjetsFakeRegion/applyFF/htautau_lephad_wfr_applyff_processes.style
cutflowProcessFiles: configWjetsFakeRegion/applyFF/htautau_lephad_wfr_applyff_processes.style
cutflowCutFiles: configWjetsFakeRegion/applyFF/htautau_lephad_wfr_applyff_cuts.txt
makePlots: CutBveto*OSPass*/*, CutBtag*OSPass*/*
