# -*- mode: config -*-

[config]
include: configWjetsFakeRegion/applyFF/htautau_lephad_wfr_applyff.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_wfr_applyffsf.root
cuts: configWjetsFakeRegion/applyFF/applySF/htautau_lephad_wfr_applyffsf_cuts.def
#histograms: configWjetsFakeRegion/applyFF/htautau_lephad_wfr_applyff_histograms.txt
#customObservables.snippets: BSMTriggerDecision, ScaleFactor, TruthSelector, isoReweight, ptReweight, mTtot, QCDReweight, TopReweight, TauReweight, LPXKfactor, WjetsReweight
UseWjetsSF: true
UseTopSF: true

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_wfr_applyffsf.root
#outputFile: sampleFolders/visualized/samples-visualized-htautau_lephad_wfr_applyff.root
outputDir: results/htautau_lephad_wfr_applyffsf
histogramProcesses: configWjetsFakeRegion/applyFF/htautau_lephad_wfr_applyff_processes.style
cutflowProcessFiles: configWjetsFakeRegion/applyFF/htautau_lephad_wfr_applyff_processes.style
cutflowCutFiles: configWjetsFakeRegion/applyFF/htautau_lephad_wfr_applyff_cuts.txt

#makePlots: CutBveto*OSPass*/*
makePlots: CutBveto*OSPass*/*, CutBtag*OSPass*/*


#################################################################################
#createSystematics.weightSystematicsFile: systematics/plot.systematics
#createSystematics.inputDir: output/fake_july
#createSystematics.nominalFile: nominal.root
#createSystematics.sampleFolder: :samples
#createSystematics.channel: lephad
#createSystematics.cuts: CutVBFCBSR,CutBOOSTCBSR
#createSystematics.outputDir: systematics
#createSystematics.outputFile: systematics_july.root
#createSystematics.tableName: systematics_table_july
