# -*- mode: config -*-

[config]
include: LQtaub-lephad/config/TCR-SYS/master/analyze-systematics-base.cfg

[initialize]
outputFile: sampleFolders/initialized/samples-initialized-LQtaub-lephad_common_sys.root

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-LQtaub-lephad-TCR-FF-SYS-TopReweight.root
sysFileName:LQtaub-lephad/auxData/variations/systematics-Top-Reweight.txt
doNominal: false
doData: false
showChannels: true

