# -*- mode: config -*-

[config]
include: LQtaub-lephad/config/TCR-SYS/master/analyze-systematics-base.cfg

[analyze]
doNominal: false
doData: false
showChannels: true
useMultiChannelVisitor: false #To do: Fails without this, fix

#patches: bsmtautau_lephad/config-Common/patches/analyze_systematics_clean-CP.txt 
sysFileName: LQtaub-lephad/auxData/variations/systematics-CP-jet-p4-sig.txt
outputFile: sampleFolders/analyzed/samples-analyzed-LQtaub-lephad-TCR-SYS-CP_jet_p4_sig.root 
