# -*- mode: config -*-

[config]
include: LQtaub-lephad/config/TCR-SYS/master/analyze-systematics-base.cfg

[analyze]
doNominal: false
doData: false
showChannels: true
useMultiChannelVisitor: false #Fails without this

#patches: LQtaub-lephad/config-Common/patches/analyze_systematics_clean-CP.txt 
sysFileName: LQtaub-lephad/auxData/variations/systematics-CP-lep-p4.txt
outputFile: sampleFolders/analyzed/samples-analyzed-LQtaub-lephad-TCR-SYS-CP_lep_p4.root 
