# -*- mode: config -*-

[prepare]

[initialize]

[analyze]
aliases.isElectron: "(lep_0 == 2)"
aliases.isMuon: "(lep_0 == 1)"

aliases.isInclusiveZ: "($(dsid) == 361106 || $(dsid) == 361107 || $(dsid) == 361108)"

aliases.ElectronISO: "lep_0_iso_Gradient"
aliases.MuonISO: "lep_0_iso_FCTight_FixedRad"
aliases.isPassISO: "(($(isElectron) && $(ElectronISO) == 1) || ($(isMuon) && $(MuonISO) == 1))"
aliases.isFailISO: "(($(isElectron) && $(ElectronISO) == 0) || ($(isMuon) && $(MuonISO) == 0))"
aliases.applyLFF: "({$(UseLeptonFF) ? [LeptonFakes] : 1} * {$(UseQCDSF) ? [LeptonFakesReweight] : 1})"
#aliases.applyLFF: 1
#aliases.applyLFF: [LeptonFakes] * [LeptonFakesReweight]
#aliases.applyLFF: [LeptonFakes]
#aliases.applyLFF: [LeptonFakesReweight]

aliases.TauBDTCut: 0.01

[visualize]
