# -*- mode: config -*-

[c16a]
dataPaths: inputs/data/data15/:NOMINAL, inputs/data/data16/:NOMINAL
mcPaths: inputs/mc/mc16a/nom:NOMINAL
luminosity: 36207.66


[c16d]
dataPaths: inputs/data/data17/:NOMINAL
mcPaths: inputs/mc/mc16d/nom/:NOMINAL
luminosity: 44307.4


[c16e]
dataPaths: inputs/data/data18/:NOMINAL
mcPaths: inputs/mc/mc16e/nom/:NOMINAL
luminosity: 58450.1
