# -*- mode: config -*-

config.Include: ConfigCommon/htautau_lephad_common_mc16c_input.cfg

makeSampleFile.dataFilePattern: data17_*.root
makeSampleFile.XsecMap: ConfigCommon/htautau_lephad_common_mc16c.map
makeSampleFile.luminosity: 43.5844

readAnalysis.luminosity: 43.5844
