# -*- mode: config -*-

[config]
include: configCommon/htautau_lephad_common_campaigns.cfg


[c16a]
#mcPaths: inputs/Paths/mc/mc16a/sys/
mcFileList: inputs/FileLists/htautau_lephad_common_filelist_sys_mc16a.txt


[c16d]
#mcPaths: inputs/Paths/mc/mc16d/sys/
mcFileList: inputs/FileLists/htautau_lephad_common_filelist_sys_mc16d.txt


[c16e]
#mcPaths: inputs/Paths/mc/mc16e/sys/
mcFileList: inputs/FileLists/htautau_lephad_common_filelist_sys_mc16e.txt
