# -*- mode: config -*-

[config]
include: configCommon/htautau_lephad_common_campaigns.cfg


[c16a]
mcPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG6/Htautau/lephad/190417/mc/mc16a/sys/:NOMINAL


[c16d]
mcPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG6/Htautau/lephad/190417/mc/mc16d/sys/:NOMINAL


[c16e]
mcPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG6/Htautau/lephad/190417/mc/mc16e/sys/:NOMINAL
