# -*- mode: config -*-

[config]
include: configCommon/htautau_lephad_common_campaigns.cfg


[c16a]
mcPaths: inputs/mc/mc16a/sys/


[c16d]
mcPaths: inputs/mc/mc16d/sys/


[c16e]
mcPaths: inputs/mc/mc16e/sys/
