# -*- mode: config -*-

config.Include: ConfigCommon/htautau_lephad_common_mc16a_input.cfg

makeSampleFile.dataFilePattern: data15_*.root, data16_*.root
makeSampleFile.XsecMap: ConfigCommon/htautau_lephad_common_mc16a.map
makeSampleFile.luminosity: 36.20766

readAnalysis.luminosity: 36.20766
