# -*- mode: config -*-

############################################
##
##	This is a common config file for makeSampleFile step.
##	Make sure to include it in higher level configs which
##		themselves should have these configs:
##		- makeSampleFile.sampleFile:
##		- makeSampleFile.mcPaths:
##		- makeSampleFile.mcFilenameSuffix:
##		- makeSampleFile.mcFilenamePrefix:
##		- makeSampleFile.XsecMap:
##		- makeSampleFile.luminosity:
##		- makeSampleFile.style:
##
##############################################

[config]
include: ConfigCommon/htautau_lephad_common_data_input.cfg

[prepare]
XsecFiles: ConfigCommon/htautau_lephad_common_xsec.csv
XsecUnit: pb
printFolderTags: tdr2
sampleFolderName: samples
channelPlaceholder: channel
luminosityUnit: fb
energy: 13
energyUnit: TeV

[initialize]
mcFilenameSuffix: */*.root*
mcFilenamePrefix: *
dataFolderPattern: data/$(channel)
initializer.verbose: True
initializer.useCountHistogram: True
initializer.countHistogramName: h_metadata
initializer.countHistogramBinNumber: 8
initializer.minSamples: 1
verbose: True
printSamplesFailed: True
channelPlaceholder: channel


##########################################################################
[analyze]
doData: true


##########################################################################
[visualize]
channelConfig: ConfigCommon/channels.txt
#logScale: True
makeLogPlots: True
makeCutflows: True
cutflowFormats: txt, tex, html
plotter.style.showEventYields: True
#plotter.style.showOptScan: True
cutprinter.standalone: True
plotformat: pdf
#systematics: "systematics/systematics_july.root:systematics>>::somename"
#plotter.errors.showSys: "somename"
plotter.labels.atlas: "Work in Progress"
plotter.labels.atlas.scale: 0.9
plotter.labels.drawInfo: True
plotter.style.showRatio: True
plotter.style.forceRatioLimits: True
plotter.style.min: 0.9
plotter.style.ratioMin: 0.0
plotter.style.ratioMax: 2.0
#plotter.labels.totalBkg: "Z MC Fakes"
#plotter.labels.data: "Z MC"
plotter.style.legend.textSize: 0.022
#plotter.style.logMinMin: 10
