# -*- mode: config -*-

[c16a]
dataPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG6/Htautau/lephad/190417/data/data15/:NOMINAL, /eos/atlas/atlascerngroupdisk/phys-higgs/HSG6/Htautau/lephad/190417/data/data16/:NOMINAL
mcPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG6/Htautau/lephad/190417/mc/mc16a/nom/:NOMINAL


[c16d]
dataPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG6/Htautau/lephad/190417/data/data17/:NOMINAL
mcPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG6/Htautau/lephad/190417/mc/mc16d/nom/:NOMINAL


[c16e]
dataPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG6/Htautau/lephad/190417/data/data18/:NOMINAL
mcPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG6/Htautau/lephad/190417/mc/mc16e/nom/:NOMINAL
