# -*- mode: config -*-

[c16a]
#dataPaths: inputs/Paths/data/data15/, inputs/Paths/data/data16/
#mcPaths: inputs/Paths/mc/mc16a/nom/
dataFileList: inputs/FileLists/htautau_lephad_common_filelist_data1516.txt
mcFileList: inputs/FileLists/htautau_lephad_common_filelist_nom_mc16a.txt
luminosity: 36207.66


[c16d]
#dataPaths: inputs/Paths/data/data17/
#mcPaths: inputs/Paths/mc/mc16d/nom/
dataFileList: inputs/FileLists/htautau_lephad_common_filelist_data17.txt
mcFileList: inputs/FileLists/htautau_lephad_common_filelist_nom_mc16d.txt
luminosity: 44307.4


[c16e]
#dataPaths: inputs/Paths/data/data18/
#mcPaths: inputs/Paths/mc/mc16e/nom/
dataFileList: inputs/FileLists/htautau_lephad_common_filelist_data18.txt
mcFileList: inputs/FileLists/htautau_lephad_common_filelist_nom_mc16e.txt
luminosity: 58450.1
