# -*- mode: config -*-

[config]
include: ConfigCommon/htautau_lephad_common_mc16a_input.cfg

[prepare]
XsecMap: ConfigCommon/htautau_lephad_common_mc16a.map
luminosity: 36.20766

[initialize]
dataFilePattern: data15_*.root, data16_*.root

[analyze]

[visualize]
luminosity: 36.20766
