# -*- mode: config -*-

[config]
include: configCommon/htautau_lephad_common_data_input.cfg

[prepare]
XsecFiles: configCommon/htautau_lephad_common_xsec.csv
XsecUnit: pb
luminosityUnit: fb
energy: 13
energyUnit: TeV
sampleFolderName: samples
channelPlaceholder: channel
printFolderTags: tdr2

[initialize]
channelPlaceholder: channel
mcFilenamePrefix: *
mcFilenameSuffix: */*.root*
dataFolderPattern: data/$(channel)
initializer.minSamples: 1
initializer.useCountHistogram: True
initializer.countHistogramName: h_metadata
initializer.countHistogramBinNumber: 8
initializer.verbose: True
verbose: True
printSamplesFailed: True
printFolderTags: tdr2

[analyze]
customObservables.directories: configCommon/observables
doData: true

[visualize]
channelConfig: configCommon/channels.txt
makePlots: *
skipPlotsSilent: true
plotformat: pdf
makeLogPlots: True
makeCutflows: True
cutflowFormats: html, tex, txt
cutprinter.standalone: True
plotter.style.min: 0.9
plotter.style.showUnderflow: True
plotter.style.showOverflow: True
plotter.style.showEventYields: True
plotter.style.legend.textSize: 0.022
plotter.style.showRatio: True
plotter.style.forceRatioLimits: True
plotter.style.ratioMin: 0.1
plotter.style.ratioMax: 1.9
plotter.labels.drawInfo: True
plotter.labels.atlas: "Work in Progress"
plotter.labels.atlas.scale: 0.9
plotlabel: "H/A#rightarrow#tau_{lep}#tau_{had} ($(channel))"
lumiDigit: 3

#systematics: "systematics/systematics_july.root:systematics>>::somename"
#plotter.errors.showSys: "somename"
