# -*- mode: config -*-

[config]
include: ConfigCommon/htautau_lephad_common_mc16c_input.cfg

[prepare]
XsecMap: ConfigCommon/htautau_lephad_common_mc16c.map
luminosity: 43.5844

[initialize]
dataFilePattern: data17_*.root

[visualize]
luminosity: 43.5844
