# -*- mode: config -*-

[prepare]
[initialize]
#mcPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG6/Htautau/lephad/180727/mc/mc16a/nom/:NOMINAL
mcPaths: /atlas/zorbas/BSM_TauTau/LepHad/180727/mc/mc16a/nom/:NOMINAL
[analyze]
[visualize]
