# -*- mode: config -*-

############################################
##
##	This is a common config file for makeSampleFile step.
##	Make sure to include it in higher level configs which
##		themselves should have these configs:
##		- makeSampleFile.sampleFile:
##		- makeSampleFile.mcPaths:
##		- makeSampleFile.mcFilenameSuffix:
##		- makeSampleFile.mcFilenamePrefix:
##		- makeSampleFile.XsecMap:
##		- makeSampleFile.luminosity:
##		- makeSampleFile.style:
##
##############################################

config.Include: ConfigCommon/htautau_lephad_common_data_input.cfg

makeSampleFile.mcFilenameSuffix: */*.root*
makeSampleFile.mcFilenamePrefix: *
makeSampleFile.XsecFiles: XSec/htautau_lephad_xsec.csv
makeSampleFile.channelPlaceholder: channel
makeSampleFile.initializer.verbose: True
makeSampleFile.initializer.useCountHistogram: True
makeSampleFile.initializer.countHistogramName: h_metadata
makeSampleFile.initializer.countHistogramBinNumber: 8
makeSampleFile.initializer.minSamples: 1
#makeSampleFile.verbose: True
makeSampleFile.printSamplesFailed: True
makeSampleFile.luminosityUnit: fb
makeSampleFile.energy: 13


##########################################################################
runAnalysis.doData: true


##########################################################################
readAnalysis.logScale: True
readAnalysis.makeCutflows: True
readAnalysis.plotter.style.showEventYields: True
#readAnalysis.plotter.style.showOptScan: True
readAnalysis.cutprinter.standalone: True
readAnalysis.plotformat: pdf
#readAnalysis.systematics: "systematics/systematics_july.root:systematics>>::somename"
#readAnalysis.plotter.errors.showSys: "somename"
readAnalysis.plotter.labels.atlas: "Work in Progress"
readAnalysis.plotter.labels.atlas.scale: 0.9
readAnalysis.plotter.labels.drawInfo: True
readAnalysis.plotter.style.forceRatioLimits: True
readAnalysis.plotter.style.min: 0.9
readAnalysis.plotter.style.ratioMin: 0.0
readAnalysis.plotter.style.ratioMax: 2.0
#readAnalysis.plotter.labels.totalBkg: "Z MC Fakes"
#readAnalysis.plotter.labels.data: "Z MC"
readAnalysis.plotter.style.legend.textSize: 0.022
#readAnalysis.plotter.style.logMinMin: 10
