# -*- mode: config -*-

[prepare]
XsecMap: configCommon/htautau_lephad_common.map
XsecWhitelist: configCommon/htautau_lephad_common_whitelist.txt
XsecFiles: configCommon/htautau_lephad_common_xsec.csv
XsecUnit: pb
luminosityUnit: pb
energy: 13
energyUnit: TeV
sampleFolderName: samples
channelPlaceholder: channel
campaignsConfig: configCommon/htautau_lephad_common_campaigns.cfg
campaigns: c16a, c16d, c16e
printFolderTags: tdr2


[initialize]
channelPlaceholder: channel
campaignsConfig: configCommon/htautau_lephad_common_campaigns.cfg
campaigns: c16a, c16d, c16e
mcFilenamePrefix: *
mcFilenameSuffix: */*.root*
dataFolderPattern: data/$(channel)/$(campaign)
dataFilePattern: data*_*.root
initializer.minSamples: 1
initializer.useCountHistogram: True
initializer.countHistogramName: h_metadata
initializer.countHistogramBinNumber: 8
initializer.verbose: True
verbose: True
printSamplesFailed: True
printFolderTags: tdr2


[analyze]
customObservables.directories: configCommon/observables
doData: true
printCuts: false
#useMultiChannelVisitor: true


[visualize]
channelConfig: configCommon/channels.txt
visualizeCampaignConfig: configCommon/campaigns.txt
visualizeCampaigns: c16a, c16d, c16e, c16ade
makePlots: *
skipPlotsSilent: true
plotformat: pdf
makeLogPlots: True
makeCutflows: True
cutflowFormats: html, tex, txt
cutprinter.standalone: True
plotter.style.min: 0.9
plotter.style.showUnderflow: True
plotter.style.showOverflow: True
plotter.style.showEventYields: True
#plotter.style.showEventYields.showErrors: True
plotter.style.nLegendCols: 2
plotter.style.legend.textSize: 0.015
plotter.style.showRatio: True
plotter.style.forceRatioLimits: True
plotter.style.ratioMin: 0.61
plotter.style.ratioMax: 1.39
plotter.geometry.sub.margins.bottom: 0.12
plotter.geometry.sub.xAxis.titleOffset: 0.7
plotter.labels.drawInfo: True
plotter.labels.atlas: "Work in progress"
plotter.labels.atlas.xOffset: 0.13
plotter.labels.atlas.scale: 0.9
plotlabel: "H/A#rightarrow#tau_{lep}#tau_{had} ($(channel))"
lumiDigit: 3
