# -*- mode: config -*-

[prepare]
[initialize]
#dataPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG6/Htautau/lephad/180727/data/merged/:NOMINAL
#dataPaths: /atlas/zorbas/BSM_TauTau/LepHad/180727/data/merged/:NOMINAL
dataPaths: /atlas/zorbas/BSM_TauTau/LepHad/190116/data/merged/:NOMINAL
[analyze]
[visualize]
