# -*- mode: config -*-

[c16a]
#dataPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG6/Htautau/lephad/190116/data/merged/data1516/:NOMINAL
#mcPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG6/Htautau/lephad/190116/mc/mc16a/nom/:NOMINAL
dataPaths: /atlas/zorbas/BSM_TauTau/LepHad/190116/data/merged/data1516/:NOMINAL
mcPaths: /atlas/zorbas/BSM_TauTau/LepHad/190116/mc/mc16a/nom/:NOMINAL


[c16d]
#dataPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG6/Htautau/lephad/190116/data/merged/data17/:NOMINAL
#mcPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG6/Htautau/lephad/190116/mc/mc16d/nom/:NOMINAL
dataPaths: /atlas/zorbas/BSM_TauTau/LepHad/190116/data/merged/data17/:NOMINAL
mcPaths: /atlas/zorbas/BSM_TauTau/LepHad/190116/mc/mc16d/nom/:NOMINAL


[c16e]
#dataPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG6/Htautau/lephad/190116/data/merged/data18/:NOMINAL
#mcPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG6/Htautau/lephad/190116/mc/mc16e/nom/:NOMINAL
dataPaths: /atlas/zorbas/BSM_TauTau/LepHad/190116/data/merged/data18/:NOMINAL
mcPaths: /atlas/zorbas/BSM_TauTau/LepHad/190116/mc/mc16e/nom/:NOMINAL
