# -*- mode: config -*-

[prepare]
[initialize]
#mcPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG6/Htautau/lephad/180727/mc/mc16c/nom/:NOMINAL
#mcPaths: /atlas/zorbas/BSM_TauTau/LepHad/180727/mc/mc16c/nom/:NOMINAL
# this is actually MC16d now
#mcPaths: /atlas/zorbas/BSM_TauTau/LepHad/190116/mc/mc16d/nom/:NOMINAL
mcPaths: /scratchfs/atlas/yehf/190116/mc/mc16d/nom/:NOMINAL
[analyze]
[visualize]
