# -*- mode: config -*-

[prepare]
outputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_common.root
XsecMap: configCommon/htautau_lephad_common.map
#XsecWhitelist: configCommon/htautau_lephad_common_whitelist.txt
XsecFiles: configCommon/htautau_lephad_common_xsec.csv
XsecUnit: pb
luminosityUnit: pb
energy: 13
energyUnit: TeV
sampleFolderName: samples
channelPlaceholder: channel
channels: ehad, muhad
campaignsConfig: configCommon/htautau_lephad_common_campaigns.cfg
campaigns: c16a, c16d, c16e
patches: configCommon/htautau_lephad_common_prepare.tags
printFolderTags: tdr2


[initialize]
inputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_common.root
outputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_common.root
channelPlaceholder: channel
channels: ehad, muhad
campaignsConfig: configCommon/htautau_lephad_common_campaigns.cfg
campaigns: c16a, c16d, c16e
mcFilenamePrefix: *
mcFilenameSuffix: */*.root*
mcPathsTreeName: NOMINAL
dataFolderPattern: data/$(channel)/$(campaign)
dataFilePattern: */*.root*
initializer.useCountHistogram: True
initializer.countHistogramName: h_metadata
initializer.countHistogramBinNumber: 8
initializer.verbose: True
verbose: True
printSamplesFailed: True
postInit_patches: configCommon/htautau_lephad_common_postinit.tags, configCommon/htautau_lephad_common_postinit_fakes_iso.tags, configCommon/htautau_lephad_common_postinit_fakes_id.tags, configCommon/htautau_lephad_common_postinit_fakes_truth.tags
printFolderTags: tdr2


[analyze]
inputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_common.root
customObservables.directories: configCommon/observables
customObservables.snippets: BSMTriggerDecision
doData: true
printCuts: false
useMultiChannelVisitor: true
### select lepton fake factor:
# LFFPeriod: Separated/Combined
# Separated: Use separated LFF in each data taking period
# Combined: Use a combined LFF
LFFPeriod: Combined
# LFFParam: LeptonPt/LeptonPtDphi
# LeptonPt: 1D LFF as a function of LeptonPt
# LeptonPtDphi: 2D LFF as a function of LeptonPt and Dphi
LFFParam: LeptonPtDphi
aliases.isovar: nominal

### select jets fake factor:
# WFFPeriod: Separated/Combined
# Separated: Use separated WFF in each data taking period
# Combined: Use a combined WFF
WFFPeriod: Combined
# WFFParam: TauPt/TauPtDphi
# TauPt: 1D WFF as a function of TauPt
# TauPtDphi: 2D WFF as a function of TauPt and Dphi
WFFParam: TauPtDphi
aliases.fakevar: nominal

aliases.ttbarweight: nominal


[visualize]
channelConfig: configCommon/channels.txt
visualizeCampaignConfig: configCommon/campaigns.txt
visualizeCampaigns: c16ade
#visualizeCampaigns: c16a, c16d, c16e, c16ade
patches: configCommon/htautau_lephad_common_visualize.tags
makePlots: *
skipPlotsSilent: true
plotformat: pdf
makeLogPlots: True
makeCutflows: True
cutflowFormats: html, tex, txt
cutprinter.standalone: True
plotter.style.min: 0.9
plotter.style.showUnderflow: False
plotter.style.showOverflow: True
plotter.style.showEventYields: True
#plotter.style.showEventYields.showErrors: True
plotter.style.nLegendCols: 2
plotter.style.legend.textSize: 0.015
plotter.style.showRatio: True
plotter.style.forceRatioLimits: True
plotter.style.ratioMin: 0.42
plotter.style.ratioMax: 1.58
plotter.geometry.sub.margins.bottom: 0.12
plotter.geometry.sub.xAxis.titleOffset: 0.7
plotter.labels.drawInfo: True
plotter.labels.atlas: "Work In Progress"
plotter.labels.atlas.xOffset: 0.13
plotter.labels.atlas.scale: 0.9
plotlabel: "H/A#rightarrow#tau_{lep}#tau_{had} ($(channel))"
lumiDigit: 3
