# -*- mode: config -*-

[c16a]
dataPaths: inputs/data/data15/, inputs/data/data16/
mcPaths: inputs/mc/mc16a/nom/
luminosity: 36207.66


[c16d]
dataPaths: inputs/data/data17/
mcPaths: inputs/mc/mc16d/nom/
luminosity: 44307.4


[c16e]
dataPaths: inputs/data/data18/
mcPaths: inputs/mc/mc16e/nom/
luminosity: 58450.1
