# -*- mode: config -*-

[analyze]

# name of the input file
inputFile: sampleFolders/initialized/samples-initialized-Minimal-Example.root

# name of the output file
outputFile: sampleFolders/analyzed/samples-analyzed-Minimal-Example.root

# define the cuts
cuts: minimal/config/cuts/Minimal-Example-cuts.def

# book histograms
histograms: minimal/config/histograms/Minimal-Example-histograms.txt

# channels to run over
channels: df