# -*- mode: config -*-

[initialize]

# name of the input file
inputFile: sampleFolders/prepared/samples-prepared-Minimal-Example.root

# name of the output file
outputFile: sampleFolders/initialized/samples-initialized-Minimal-Example.root

# the following line works
# mcPaths: /afs/cern.ch/work/k/kolehman/public/forCAFExample/:Output
# the following line fails
mcPaths: /afs/cern.ch/work/k/kolehman/public/forCAF-Example/:Output

# some debugging options for the sample initializer
# initialize: false
printSamplesFailed: true
verbose: true

# channels to run over
channels: df
channelPlaceholder: channel
