# -*- mode: config -*-

[initialize]

# name of the input file
inputFile: sampleFolders/prepared/samples-prepared-Minimal-Example.root

# name of the output file
outputFile: sampleFolders/initialized/samples-initialized-Minimal-Example.root

# path and name of the input mc file to initialize (eos, using xrootd)
mcFileList: minimal/config/samples/inputFileLists/Minimal-Example-mcFileList.txt
mcFileListTreeName: Output
# for using the same input file as above, but on afs (use just one or the other)
#mcPaths: /afs/cern.ch/user/d/dshope/public/forCAFExample/Minimal_Example/:Output

# some debugging options for the sample initializer
# initialize: false
printSamplesFailed: true
verbose: true

# channels to run over
channels: df
channelPlaceholder: channel
