# -*- mode: config -*-

[config]
include: LQtaub-lephad/config/common/master/visualize-common.cfg

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-LQtaub-lephad-AntiID-FF.root
outputDir: results/LQtaub-lephad-AntiID-FF
histogramProcesses: LQtaub-lephad/config/AntiID/visualization/processes/histogram-processes-FF.txt
cutflowProcessFiles: LQtaub-lephad/config/AntiID/visualization/processes/cutflow-processes-FF.txt
cutflowCutFiles: LQtaub-lephad/config/AntiID/visualization/cuts/cuts-FF.txt

plotlabel.region: "AntiID"
makePlots: CutOSBtag*BJetPt/*
