[analyze]

aliases.electron: 6
aliases.muon: 8
aliases.fitsChannel: @Event$(cand).size() > 0

################################
########    Candidate     ######
aliases.lep0: Event$(cand)[0].part(0)
aliases.lep1: Event$(cand)[0].part(1)
aliases.jet0: Event$(cand)[0].part(2)
aliases.jet1: Event$(cand)[0].part(3)
aliases.jet2: Event$(cand)[0].part(4)

#####################################
########  di-lepton quantities ######
aliases.Mll: "((Event$(cand)[0].p4(0,1))).M()"
aliases.Ptll: "((Event$(cand)[0].p4(0,1))).Pt()"
aliases.DPhill: "acos( cos( fabs( Event$(cand)[0].part(0).phi() - Event$(cand)[0].part(1).phi() ) ) )"

#####################################
########  jet quantities ######
aliases.nPAODJets: Event$(cand)[0].nJets()