# -*- mode: config -*-

[config]
include: configCommon/htautau_lephad_common.cfg

[prepare]
outputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_apply_ff_to_lfr.root
channels: ehad, muhad

[initialize]
inputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_apply_ff_to_lfr.root
outputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_apply_ff_to_lfr.root
postInit_patches: configApplyFFtoLeptonFakeRegion/htautau_lephad_lfr.tags
channels: ehad, muhad

[analyze]
inputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_apply_ff_to_lfr.root
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_apply_ff_to_lfr.root
cuts: configApplyFFtoLeptonFakeRegion/htautau_lephad_lfr_cuts.def
histograms: configApplyFFtoLeptonFakeRegion/htautau_lephad_lfr_histograms.txt
customObservables.snippets: BSMTriggerDecision, ScaleFactor, isoReweight, mTtot
channels: ehad, muhad

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_apply_ff_to_lfr.root
#outputFile: sampleFolders/visualized/samples-visualized-htautau_lephad_apply_ff_to_lfr.root
outputDir: results/htautau_lephad_apply_ff_to_lfr
histogramProcesses: configApplyFFtoLeptonFakeRegion/htautau_lephad_lfr_processes.style
cutflowProcessFiles: configApplyFFtoLeptonFakeRegion/htautau_lephad_lfr_processes.style
cutflowCutFiles: configApplyFFtoLeptonFakeRegion/htautau_lephad_lfr_cuts.txt
channels: ehad, muhad
plotlabel: "H/A#rightarrow#tau_{lep}#tau_{had} LFR ($(channel))"
makePlots: CutB*BDTSL*ISO/*
plotter.style.ratioMax: 2.19
