# -*- mode: config -*-

[config]
include: bsmtautau_lephad/config-QCDLeptonFakeRegion/master/master-os.cfg

[prepare]

[initialize]

[analyze]

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_qcdlfr_applyff.root
outputDir: results/bsmtautau_lephad_os_qcdlfr_applyff
histogramProcesses: bsmtautau_lephad/config-QCDLeptonFakeRegion/applyFF/visualization/processes/plot-processes.txt
cutflowProcessFiles: bsmtautau_lephad/config-QCDLeptonFakeRegion/applyFF/visualization/processes/plot-processes.txt
makePlots: CutOSB*PassISO/*
