# -*- mode: config -*-

[config]
include: LQtaub-lephad/config/common/master/analyze-common.cfg

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-LQtaub-lephad-OtherJetsSSR-bveto-FF.root
cuts: LQtaub-lephad/config/OtherJetsSSR/cuts/cuts-bveto-FF.def
histograms: LQtaub-lephad/config/OtherJetsSSR/histograms/histograms-bveto-FF.txt
#ntuples: LQtaub-lephad/config/OtherJetsSSR/ntuples/ntuples-FF.txt

aliases.ApplyTopSF: true

aliases.ApplyMultiJetsLFF: true
aliases.MultiJetsLFFPeriod: Combined
