# -*- mode: config -*-

[config]
include: LQtaub-lephad/config/common/master/visualize-common.cfg

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-LQtaub-lephad-OtherJetsSSR-FF-closure.root
outputDir: results/LQtaub-lephad-OtherJetsSSR-FF-closure
histogramProcesses: LQtaub-lephad/config/OtherJetsSSR/visualization/processes/histogram-processes-FF-closure.txt
cutflowProcessFiles: LQtaub-lephad/config/OtherJetsSSR/visualization/processes/cutflow-processes-FF-closure.txt
cutflowCutFiles: LQtaub-lephad/config/OtherJetsSSR/visualization/cuts/cuts-FF-closure.txt
plotlabel.region: "Same-sign Region"
makePlots: CutSS*PassTauID/*
