# -*- mode: config -*-

[config]
include: LQtaub-lephad/config/common/master/visualize-common.cfg

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-LQtaub-lephad-OtherJetsSSR-bveto-FF.root
outputDir: results/LQtaub-lephad-OtherJetsSSR-bveto-FF
histogramProcesses: LQtaub-lephad/config/OtherJetsSSR/visualization/processes/histogram-processes-bveto-FF.txt
cutflowProcessFiles: LQtaub-lephad/config/OtherJetsSSR/visualization/processes/cutflow-processes-bveto-FF.txt
cutflowCutFiles: LQtaub-lephad/config/OtherJetsSSR/visualization/cuts/cuts-bveto-FF.txt
plotlabel.region: "Same-sign Region, bveto"
makePlots: CutSS*ID/*
