# -*- mode: config -*-

[config]
include: LQtaub-lephad/config/ZCR/master/analyze-FF.cfg


[analyze]
inputFile: sampleFolders/initialized/samples-initialized-LQtaub-lephad-common_sys.root
doNominal: false
doData: false
showChannels: true

aliases.ApplyExtrapolationSF: false
aliases.ApplyMultiJetsSF: false
aliases.ApplyTopResidualSF: false
