# -*- mode: config -*-

[config]
include: AHZ-lephad/config/common/master/analyze-common.cfg

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-AHZ-lephad-MultiJetsLFR-FF-SF-closure.root
cuts: AHZ-lephad/config/MultiJetsLFR/cuts/cuts-FF.def
histograms: AHZ-lephad/config/MultiJetsLFR/histograms/histograms-FF.txt

aliases.ApplyTopSF: true

aliases.ApplyMultiJetsLFF: true
aliases.MultiJetsLFFPeriod: Combined

aliases.ApplyMultiJetsLFFReweightSYS: true
aliases.MultiJetsLFFReweightSYSPeriod: Combined

