# -*- mode: config -*-

[config]
include: common/config/master/visualize-default.cfg

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-AHZ-lephad-MultiJetsLFR-FF-SF-closure.root
outputDir: results/AHZ-lephad-MultiJetsLFR-FF-SF-closure-os
histogramProcesses: AHZ-lephad/config/MultiJetsLFR/visualization/processes/histogram-processes-FF-closure.txt
cutflowProcessFiles: AHZ-lephad/config/MultiJetsLFR/visualization/processes/cutflow-processes-FF-closure.txt
cutflowCutFiles: AHZ-lephad/config/MultiJetsLFR/visualization/cuts/cuts-FF-closure-os.txt
plotlabel.region: "OS LFR"
makePlots: CutOSB*PassISO/*
