# -*- mode: config -*-

[config]
include: LQtaub-lephad/config/common/aliases/aliases.cfg

[analyze]
inputFile: sampleFolders/initialized/samples-initialized-LQtaub-lephad-common.root
customObservables.directories: LQtaub-lephad/observables
customObservables.snippets: BSMTriggerDecision, ScaleFactor, TruthTauSelector, HiggsPt, MTtot, Pzeta, LPXKfactor, MatTransCorrection, MultiJetsLFF, MultiJetsSF, OtherJetsTFF, OtherJetsTFR, OtherJetsSF, TopSF, ExtrapolationSys, MultiJetsTFF
channels: ehad, muhad
doData: true
printObservables: false
printCuts: false
useMultiChannelVisitor: true
purgeRemainder: true
patches: LQtaub-lephad/config/common/patches/analyze-sample-patch.txt 
