# -*- mode: config -*-

[config]
include:LQtaub-lephad/config/common/master/campaigns-nominal.cfg

[c16a]
mcFileList: LQtaub-lephad/config/common/samples/inputFileLists/FileList_sys_mc16a.txt

[c16d]
mcFileList: LQtaub-lephad/config/common/samples/inputFileLists/FileList_sys_mc16d.txt

[c16e]
mcFileList: LQtaub-lephad/config/common/samples/inputFileLists/FileList_sys_mc16e.txt

