# -*- mode: config -*-
[config]
include: common/config/master/visualize-default.cfg


[visualize]
patches: LQtaub-lephad/config/common/visualization/style/style.txt
plotlabel.analysis: "pp #rightarrow b+$(channel)"
