# -*- mode: config -*-

#########################################
##
##  Configuration file for SR.
##  This includes all regions that require
##      full fake factor knowledge:
##      SR, VR, TCR, WCR-(test FF)
##
#########################################

[config]
include: configSignalControlRegion/htautau_lephad_sr.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_sr.root
cuts: configSignalControlRegion/syst/htautau_lephad_sr_sys_cuts.def
aliases.UseLeptonFF: true
aliases.UseQCDSF: true
aliases.UseWjetsFF: true
aliases.UseWjetsSF: true
aliases.UseTopSF: true
aliases.UseExtrapoSF: true

showChannels: true
#doNominal: false
doData: false

sfSystematics: iso, fake, material
#sfSystematics: lpx, top, weight

sfSystematicsList.iso: configSignalControlRegion/syst/lists/iso.txt
sfSystematicsList.fake: configSignalControlRegion/syst/lists/fake.txt
#sfSystematicsList.material: configSignalControlRegion/syst/lists/material.txt
sfSystematicsList.lpx: configSignalControlRegion/syst/lists/lpx.txt
sfSystematicsList.top: configSignalControlRegion/syst/lists/top.txt
sfSystematicsList.weight: configSignalControlRegion/syst/lists/weight.txt
#p4SystematicsList: configSignalControlRegion/syst/lists/p4.txt

[visualize]
outputDir: results/htautau_lephad_sr_sys

systematicsBands: systematicsBands/SRsys_band_c16ade_ehad.root:systematics>>::ehad, systematicsBands/SRsys_band_c16ade_muhad.root:systematics>>::muhad
