# -*- mode: config -*-

[config]
include: configCommon/htautau_lephad_common.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_anti_id.root
cuts: configAntiIDRegion/htautau_lephad_anti_id_cuts.def
histograms: configAntiIDRegion/htautau_lephad_anti_id_histograms.txt
aliases.UseLeptonFF: true
aliases.UseQCDSF: true

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_anti_id.root
outputDir: results/htautau_lephad_anti_id
histogramProcesses: configAntiIDRegion/htautau_lephad_anti_id_processes.style
cutflowProcessFiles: configAntiIDRegion/htautau_lephad_anti_id_processes.style
cutflowCutFiles: configAntiIDRegion/htautau_lephad_anti_id_cuts.txt
plotlabel.region: "WFR"
#makePlots: Cut*Bveto*OS*/*, Cut*Btag*OS*/*
makePlots: Cut*Bveto*1pOS*/*
