# -*- mode: config -*-

[config]
include: AHZ-lephad/config/common/master/analyze-common.cfg

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-AHZ-lephad-OtherJetsTFR-FF.root
cuts: AHZ-lephad/config/OtherJetsTFR/cuts/cuts-FF.def
histograms: AHZ-lephad/config/OtherJetsTFR/histograms/histograms-FF.txt
#ntuples: AHZ-lephad/config/OtherJetsTFR/ntuples/ntuples-FF.txt

aliases.ApplyTopSF: true

aliases.ApplyMultiJetsLFF: true
aliases.MultiJetsLFFPeriod: Combined
