# -*- mode: config -*-

[config]
include: AHZ-lephad/config/common/master/analyze-common.cfg

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-AHZ-lephad-OtherJetsTFR-MC.root
cuts: AHZ-lephad/config/OtherJetsTFR/cuts/cuts-MC.def
histograms: AHZ-lephad/config/OtherJetsTFR/histograms/histograms-MC.txt

aliases.ApplyTopSF: true
