# -*- mode: config -*-

[config]
include: AHZ-lephad/config/common/master/analyze-common.cfg

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-AHZ-lephad-OtherJetsTFR-opt.root
cuts: AHZ-lephad/config/OtherJetsTFR/cuts/cuts-opt.def
histograms: AHZ-lephad/config/OtherJetsTFR/histograms/histograms-opt.txt

aliases.ApplyMultiJetsLFF: true
aliases.MultiJetsLFFPeriod: Combined
