# -*- mode: config -*-

[config]
include: AHZ-lephad/config/common/master/analyze-common.cfg

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-AHZ-lephad-OtherJetsTFR-opt-score.root
cuts: AHZ-lephad/config/OtherJetsTFR/cuts/cuts-opt-score.def
histograms: AHZ-lephad/config/OtherJetsTFR/histograms/histograms-opt-score.txt
ntuples: AHZ-lephad/config/OtherJetsTFR/ntuples/ntuples-opt-score.txt

aliases.ApplyMultiJetsLFF: true
aliases.MultiJetsLFFPeriod: Combined
