# -*- mode: config -*-

[config]
include: common/config/master/visualize-default.cfg

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-AHZ-lephad-OtherJetsTFR-MC.root
outputDir: results/AHZ-lephad-OtherJetsTFR-MC-ss
histogramProcesses: AHZ-lephad/config/OtherJetsTFR/visualization/processes/histogram-processes-MC.txt
cutflowProcessFiles: AHZ-lephad/config/OtherJetsTFR/visualization/processes/cutflow-processes-MC.txt
cutflowCutFiles: AHZ-lephad/config/OtherJetsTFR/visualization/cuts/cuts-MC-ss.txt
plotlabel.region: "Tau Fake Region, MC ss"
makePlots: CutSS*MT*PassTauID/*
