# -*- mode: config -*-

[config]
include: common/config/master/visualize-default.cfg

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-AHZ-lephad-OtherJetsTFR-FF-closure.root
outputDir: results/AHZ-lephad-OtherJetsTFR-FF-closure-ss
histogramProcesses: AHZ-lephad/config/OtherJetsTFR/visualization/processes/histogram-processes-FF-closure.txt
cutflowProcessFiles: AHZ-lephad/config/OtherJetsTFR/visualization/processes/cutflow-processes-FF-closure.txt
cutflowCutFiles: AHZ-lephad/config/OtherJetsTFR/visualization/cuts/cuts-FF-closure-ss.txt
plotlabel.region: "Tau Fake Region, FF ss"
makePlots: CutSS*PassTauID/*
