# -*- mode: config -*-

[config]
include: common/config/master/visualize-default.cfg

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-AHZ-lephad-OtherJetsTFR-opt.root
outputDir: results/AHZ-lephad-OtherJetsTFR-opt-ss
histogramProcesses: AHZ-lephad/config/OtherJetsTFR/visualization/processes/histogram-processes-opt.txt
cutflowProcessFiles: AHZ-lephad/config/OtherJetsTFR/visualization/processes/cutflow-processes-opt.txt
cutflowCutFiles: AHZ-lephad/config/OtherJetsTFR/visualization/cuts/cuts-opt-ss.txt
plotlabel.region: "Tau Fake Region, opt ss"
makePlots: CutSSNoMT*PassTauID/*
