# -*- mode: config -*-

[config]
include: bsmtautau_lephad/config-WjetsFakeRegion/applyFF/master/master.cfg

[prepare]

[initialize]

[analyze]

[visualize]
outputDir: results/bsmtautau_lephad_wfr_applyff_wjetsqcd
histogramProcesses: bsmtautau_lephad/config-Common/visualization/processes/plot-processes_wjetsqcd.txt
cutflowProcessFiles: bsmtautau_lephad/config-Common/visualization/processes/plot-processes_wjetsqcd.txt
plotlabel.region: "WFR: W+jets QCD"
