# -*- mode: config -*-

[config]
include: configCommon/htautau_lephad_common.cfg

[prepare]
#outputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_anti_id.root
#channels: ehad, muhad

[initialize]
#inputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_anti_id.root
#outputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_anti_id.root
#postInit_patches: configAntiIDRegion/htautau_lephad_anti_id.tags
#channels: ehad, muhad

[analyze]
#inputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_anti_id.root
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_anti_id.root
cuts: configAntiIDRegion/htautau_lephad_anti_id_cuts.def
histograms: configAntiIDRegion/htautau_lephad_anti_id_histograms.txt
#customObservables.snippets: BSMTriggerDecision, ScaleFactor, TruthTauSelector, LeptonFakes, MTtot, LeptonFakesReweight, MatTransCorrection, LPXKfactor
UseQCDSF: true
channels: ehad, muhad


[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_anti_id.root
#outputFile: sampleFolders/visualized/samples-visualized-htautau_lephad_anti_id.root
outputDir: results/htautau_lephad_anti_id
histogramProcesses: configAntiIDRegion/htautau_lephad_anti_id_processes.style
cutflowProcessFiles: configAntiIDRegion/htautau_lephad_anti_id_processes.style
cutflowCutFiles: configAntiIDRegion/htautau_lephad_anti_id_cuts.txt
#nfConfig: normalization/normVBF.txt
channels: ehad, muhad
plotlabel: "H/A#rightarrow#tau_{lep}#tau_{had} WFR ($(channel))"
#makePlots: Cut*Bveto*OS*/*, Cut*Btag*OS*/*
makePlots: Cut*Bveto*1pOS*/*

