# -*- mode: config -*-

[config]
include: configCommon/htautau_lephad_common.cfg

[prepare]
channels: ehad, muhad, lephad

[initialize]
preMCInit_patches: configApplyBackWjetsFakeRegion/htautau_lephad_wfr_applywff.tags
channels: ehad, muhad, lephad

[analyze]
inputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_wfr_applywff.root
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_wfr_applywff-nominal.root
cuts: configApplyBackWjetsFakeRegion/htautau_lephad_wfr_applywff_cuts.def
histograms: configApplyBackWjetsFakeRegion/htautau_lephad_wfr_applywff_histograms.txt
customObservables.snippets: BSMTriggerDecision, ScaleFactor, TruthSelector, isoReweight
channels: ehad, muhad, lephad
aliases.isovar: nominal
### select lepton fake factor:
# FFETA (default) for eta parametrization
# FFPT for pt parametrization
# FF2DPTDPHI for pt par and dphi corr
myLeptonFF: FF2DPTDPHI

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_wfr_applywff-nominal.root
cutflowCutFiles: configApplyBackWjetsFakeRegion/htautau_lephad_wfr_applywff_cuts.txt
#nfConfig: normalization/normVBF.txt
channels: ehad, muhad, lephad
plotlabel: "H/A#rightarrow#tau_{lep}#tau_{had} WFR ($(channel))"
makePlots: CutBveto*OS*/*, CutBtag*SS*/*

#################################################################################
#createSystematics.weightSystematicsFile: systematics/plot.systematics
#createSystematics.inputDir: output/fake_july
#createSystematics.nominalFile: nominal.root
#createSystematics.sampleFolder: :samples
#createSystematics.channel: lephad
#createSystematics.cuts: CutVBFCBSR,CutBOOSTCBSR
#createSystematics.outputDir: systematics
#createSystematics.outputFile: systematics_july.root
#createSystematics.tableName: systematics_table_july
