# -*- mode: config -*-

[config]
include: configCommon/htautau_lephad_common_mc16c.cfg, configApplyBackWjetsFakeRegion/htautau_lephad_wfr_applywff.cfg

[prepare]
outputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_wfr_applywff_mc16c.root

[initialize]
inputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_wfr_applywff_mc16c.root
outputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_wfr_applywff_mc16c.root

[analyze]

[visualize]
outputFile: sampleFolders/visualized/samples-visualized-htautau_lephad_wfr_applywff_mc16c.root
outputDir: results/htautau_lephad_wfr_applywff_mc16c
histogramProcesses: configApplyBackWjetsFakeRegion/htautau_lephad_wfr_applywff_processes_mc16c.style
cutflowProcessFiles: configApplyBackWjetsFakeRegion/htautau_lephad_wfr_applywff_processes_mc16c.style
