# -*- mode: config -*-

[prepare]

[initialize]

[analyze]
aliases.isElectron: "(lep_0 == 2)"
aliases.isMuon: "(lep_0 == 1)"

aliases.isInclusiveZ: "($(dsid) == 361106 || $(dsid) == 361107 || $(dsid) == 361108)"

aliases.ElectronISO: "lep_0_iso_Gradient"
aliases.MuonISO: "lep_0_iso_FCTight_FixedRad"
aliases.isPassISO: "(($(isElectron) && $(ElectronISO) == 1) || ($(isMuon) && $(MuonISO) == 1))"
aliases.isFailISO: "(($(isElectron) && $(ElectronISO) == 0) || ($(isMuon) && $(MuonISO) == 0))"
aliases.applyLFF: "({$(UseLeptonFF) ? [LeptonFakes] : 1} * {$(UseQCDSF) ? [LeptonFakesReweight] : 1})"

aliases.TauID: "tau_0_jet_rnn_medium"
aliases.TauIDScoreCut: "0.01"
aliases.isPassID: "$(TauID) == 1"
aliases.isFailID: "$(TauID) == 0 && tau_0_jet_rnn_score_trans > $(TauIDScoreCut)"
aliases.applyWFF: "({$(UseWjetsFF) ? [JetFakes] : 1} * {$(UseWjetsSF) ? [JetFakesReweight] : 1})"

aliases.applyVSF: "{$(UseExtrapoSF) ? [ExtrapolationSys] : 1}"
aliases.NbJets: "n_bjets_DL1r_FixedCutBEff_70"
aliases.isBTagged: "jet_0_b_tagged_DL1r_FixedCutBEff_70 == 1"

[visualize]
