# -*- mode: config -*-

[config]
include: configFailIDRegion/htautau_lephad_sr.cfg

[prepare]

[initialize]

[analyze]

[visualize]
outputDir: results/htautau_lephad_vr_failid
histogramProcesses: configFailIDRegion/htautau_lephad_sr_processes.style
cutflowProcessFiles: configFailIDRegion/htautau_lephad_sr_processes.style
plotlabel.region: "VR"
makePlots: CutVRB*/*
