#####################
# Define histograms #

TH1F('leadLepPt', '', 30, 0., 150.) << ( [$(lep0).pt()]/1000. : 'p_{T}^{lead} [GeV]');
TH1F('subLeadLepPt', '', 30, 0., 150.) << ( [$(lep1).pt()]/1000. : 'p_{T}^{sublead} [GeV]');
TH1F('Ptll', '', 34, 0., 170.) << ( [$(Ptll)]/1000. : 'P_{t}^{ll} [GeV]' );
TH1F('Mll', '', 28, 10., 290.) << ( [$(Mll)]/1000. : 'm_{ll} [GeV]' );
TH1F('DPhill', '', 24, 0., 3.14) << ( [$(DPhill)] : '\#Delta \#phi^{ll} [rad]' );


TH1F('nPAODJets', '', 10, -0.5, 9.5) << ( [$(nPAODJets)] : 'nPAODJets');


# #################################################
# # and specify for which cut levels to fill them #


@CutChannels,CutLeadLeptonPt,CutMll,Cut2PAODJets: leadLepPt, subLeadLepPt,Ptll,Mll,DPhill,nPAODJets