[analyze]

aliases.fitsChannel: @Event$(cand).size() > 0
aliases.lep0: Event$(cand)[0].part(0)
aliases.lep1: Event$(cand)[0].part(1)
aliases.nOtherLep: Event$(cand)[0].nOtherLeptons()
aliases.nOtherElec: Event$(cand)[0].nOtherElectrons()
aliases.nOtherMuon: Event$(cand)[0].nOtherMuons()
aliases.elFake0: Event$(cand)[0].otherElectron(0)
aliases.muFake0: Event$(cand)[0].otherMuon(0)
aliases.otherPart0: Event$(cand)[0].otherPart(0)

aliases.elFake0_d0sig: [CPFD:Event$(cand)[0].otherPart(0):d0sig]
aliases.muFake0_d0sig: [CPFD:Event$(cand)[0].otherPart(0):d0sig]
aliases.elFake0_d0: [CPFD:Event$(cand)[0].otherPart(0):d0]
aliases.muFake0_d0: [CPFD:Event$(cand)[0].otherPart(0):d0]

aliases.elFakelead_d0sig: [CPFD:Event$(cand)[0].otherPart(0):d0sig]
aliases.muFakelead_d0sig: [CPFD:Event$(cand)[0].otherPart(0):d0sig]
aliases.elFakelead_d0: [CPFD:Event$(cand)[0].otherPart(0):d0]
aliases.muFakelead_d0: [CPFD:Event$(cand)[0].otherPart(0):d0]

aliases.elFakesublead_d0sig: [CPFD:Event$(cand)[0].otherPart(0):d0sig]
aliases.muFakesublead_d0sig: [CPFD:Event$(cand)[0].otherPart(0):d0sig]
aliases.elFakesublead_d0: [CPFD:Event$(cand)[0].otherPart(0):d0]
aliases.muFakesublead_d0: [CPFD:Event$(cand)[0].otherPart(0):d0]

aliases.elFake0_passGradient: [CPCD:Event$(cand)[0].otherPart(0):passIsoGradient]
aliases.muFake0_passGradient: [CPCD:Event$(cand)[0].otherPart(0):passIsoGradient]

aliases.Mll: "((Event$(cand)[0].p4(0,1))).M()"

aliases.lep0_truthType: "( ($(isEM)|| $(isEE)) ? [CPID:Event$(cand)[0].part(0):truthType] : [CPID:Event$(cand)[0].part(0):hwwTruthType])"
aliases.lep1_truthType: "( ($(isME)|| $(isEE)) ? [CPID:Event$(cand)[0].part(1):truthType] : [CPID:Event$(cand)[0].part(1):hwwTruthType])"
aliases.lep0_truthOrigin: "( ($(isEM)|| $(isEE)) ? [CPID:Event$(cand)[0].part(0):firstEgMotherTruthOrigin] : [CPID:Event$(cand)[0].part(0):hwwTruthOrigin])"
aliases.lep1_truthOrigin: "( ($(isME)|| $(isEE)) ? [CPID:Event$(cand)[0].part(1):firstEgMotherTruthOrigin] : [CPID:Event$(cand)[0].part(1):hwwTruthOrigin])"

aliases.elFake0_truthType: [CPID:Event$(cand)[0].otherPart(0):truthType]
aliases.muFake0_truthType: [CPID:Event$(cand)[0].otherPart(0):hwwTruthType]
aliases.elFake0_truthOrigin: [CPID:Event$(cand)[0].otherPart(0):firstEgMotherTruthOrigin]
aliases.muFake0_truthOrigin: [CPID:Event$(cand)[0].otherPart(0):hwwTruthOrigin]

# Fake Flavour (given result of ZTagging)
aliases.FakeFlavor: "( ([ZBosonPairFakeIndex]==3) ? [FakeFlavorZjets_otherLep] : ( ([ZBosonPairFakeIndex]==2) ? [FakeFlavorZjets_subleadLep] : ( ([ZBosonPairFakeIndex]==1) ? [FakeFlavorZjets_leadLep] : [FakeFlavorZjets] ) ) )"
aliases.FakeFlavorMCTC: "( ([ZBosonPairFakeIndex]==3) ? [FakeFlavorZjetsMCTC_otherLep] : ( ([ZBosonPairFakeIndex]==2) ? [FakeFlavorZjetsMCTC_subleadLep] : ( ([ZBosonPairFakeIndex]==1) ? [FakeFlavorZjetsMCTC_leadLep] : [FakeFlavorZjetsMCTC] ) ) )"

# isolation variables
aliases.elFake0_ptcone20: [CPFD:Event$(cand)[0].otherPart(0):ptvarcone20]
aliases.elFake0_ptcone30: [CPFD:Event$(cand)[0].otherPart(0):ptvarcone30]
aliases.elFake0_ptcone40: [CPFD:Event$(cand)[0].otherPart(0):ptvarcone40]
aliases.elFake0_etcone20: [CPFD:Event$(cand)[0].otherPart(0):topoetcone20]
aliases.elFake0_etcone30: [CPFD:Event$(cand)[0].otherPart(0):topoetcone30]
aliases.elFake0_etcone40: [CPFD:Event$(cand)[0].otherPart(0):topoetcone40]

aliases.muFake0_ptcone20: [CPFD:Event$(cand)[0].otherPart(0):ptvarcone20]
aliases.muFake0_ptcone30: [CPFD:Event$(cand)[0].otherPart(0):ptvarcone30]
aliases.muFake0_ptcone40: [CPFD:Event$(cand)[0].otherPart(0):ptvarcone40]
aliases.muFake0_etcone20: [CPFD:Event$(cand)[0].otherPart(0):topoetcone20]
aliases.muFake0_etcone30: [CPFD:Event$(cand)[0].otherPart(0):topoetcone30]
aliases.muFake0_etcone40: [CPFD:Event$(cand)[0].otherPart(0):topoetcone40]

# Vgamma/Vjets Overlap Removal
aliases.Truth_hasFSRPhoton: [SGAuxCDec:EventInfo:truth_hasFSRPhoton]
aliases.Truth_hasFSRPhotonDR01: [SGAuxCDec:EventInfo:truth_hasFSRPhotonDR01]

##Electroweak suppresion
aliases.PassWZVeto: "[PassWZVeto]>0"
aliases.PassZZVeto: "[PassZZVeto]>0"

aliases.GRLCut: "{($(isData)) ? [GRLSelection] : 1.}"

#####################################
########  ParticleType  alias  ######

aliases.Unknown: 0
aliases.UnknownElectron: 1
aliases.IsoElectron: 2
aliases.NonIsoElectron: 3
aliases.BkgElectron: 4
aliases.UnknownMuon: 5
aliases.IsoMuon: 6
aliases.NonIsoMuon: 7
aliases.BkgMuon: 8
aliases.UnknownTau: 9
aliases.IsoTau: 10
aliases.NonIsoTau: 11
aliases.BkgTau: 12
aliases.UnknownPhoton: 13
aliases.IsoPhoton: 14
aliases.NonIsoPhoton: 15
aliases.BkgPhoton: 16
aliases.Hadron: 17
aliases.Neutrino: 18
aliases.NuclFrag: 19
aliases.NonPrimary: 20
aliases.GenParticle: 21
aliases.SUSYParticle: 22
aliases.BBbarMesonPart: 23
aliases.BottomMesonPart: 24
aliases.CCbarMesonPart: 25
aliases.CharmedMesonPart: 26
aliases.BottomBaryonPart: 27
aliases.CharmedBaryonPart: 28
aliases.StrangeBaryonPart: 29
aliases.LightBaryonPart: 30
aliases.StrangeMesonPart: 31
aliases.LightMesonPart: 32
aliases.BJet: 33
aliases.CJet: 34
aliases.LJet: 35
aliases.GJet: 36
aliases.TauJet: 37
aliases.UnknownJet: 38


#######################################
########  ParticleOrigin  alias  ######

aliases.NonDefined: 0

aliases.SingleElec: 1
aliases.SingleMuon: 2
aliases.SinglePhot: 3
aliases.SingleTau: 4

aliases.PhotonConv: 5
aliases.DalitzDec: 6
aliases.ElMagProc: 7
aliases.Mu: 8
aliases.TauLep: 9
aliases.top: 10
aliases.QuarkWeakDec: 11
aliases.WBoson: 12
aliases.ZBoson: 13
aliases.Higgs: 14
aliases.HiggsMSSM: 15
aliases.HeavyBoson: 16
aliases.WBosonLRSM: 17
aliases.NuREle: 18
aliases.NuRMu: 19
aliases.NuRTau: 20
aliases.LQ: 21

aliases.SUSY: 22
aliases.LightMeson: 23
aliases.StrangeMeson: 24
aliases.CharmedMeson: 25
aliases.BottomMeson: 26
aliases.CCbarMeson: 27
aliases.JPsi: 28
aliases.BBbarMeson: 29
aliases.LightBaryon: 30
aliases.StrangeBaryon: 31
aliases.CharmedBaryon: 32
aliases.BottomBaryon: 33
aliases.PionDecay: 34
aliases.KaonDecay: 35
aliases.BremPhot: 36
aliases.PromptPhot: 37
aliases.UndrPhot: 38
aliases.ISRPhot: 39
aliases.FSRPhot: 40
aliases.NucReact: 41
aliases.PiZero: 42
aliases.DiBoson: 43
aliases.ZorHeavyBoson: 44
aliases.QCD: 45


############################################
########  Flavor Composition alias  ########

aliases.NotClassified: -3

aliases.EL_NonDefined_Origin: -2
aliases.MU_NonDefined_Origin: -1

aliases.Prompt: 0

aliases.ChargeFlip: 1

aliases.EL_HFb: 2
aliases.MU_HFb: 3

aliases.EL_HFc: 4
aliases.MU_HFc: 5

aliases.EL_LFgamma: 6
aliases.EL_pi0: 7

aliases.EL_Kaon: 8
aliases.MU_Kaon: 9

aliases.EL_LFrest: 10
aliases.MU_LFrest: 11


############################################
########  Run1 classifier alias  ########
aliases.notClassified: -3
aliases.bottomLeptonic:  1
aliases.bottomHadronic:  2
aliases.charmLeptonic:   3
aliases.charmHadronic:   4
aliases.strangeLeptonic: 5
aliases.strangeHadronic: 6
aliases.lightLeptonic:   7
aliases.lightHadronic:   8
aliases.otherLeptonic:   9
aliases.otherHadronic:  10

# truth isolated lepton
aliases.Prompt_lep0: "( ( ($(lep0_truthType) == $(IsoElectron)) || ($(lep0_truthType) == $(IsoMuon)) ) && ( $(lep0_truthOrigin) == $(ZBoson) ) )"
aliases.Prompt_lep1: "( ( ($(lep1_truthType) == $(IsoElectron)) || ($(lep1_truthType) == $(IsoMuon)) ) && ( $(lep1_truthOrigin) == $(ZBoson) ) )"
aliases.Prompt_elFake0: "( ($(elFake0_truthType) == $(IsoElectron)) && ( $(elFake0_truthOrigin) == $(ZBoson) ) )"
aliases.Prompt_muFake0: "( ($(muFake0_truthType) == $(IsoMuon)) && ( $(muFake0_truthOrigin) == $(ZBoson) ) )"

# for truthMatch cuts without ZTagger implemented
aliases.Prompt_leading: "$(Prompt_lep0) && $(Prompt_lep1)"

# for truthMatch cuts with ZTagger implemented
aliases.Prompt_Zcands_otherE: "( ([ZBosonPairFakeIndex]==3) ? ($(Prompt_lep0) && $(Prompt_lep1)) : ( ([ZBosonPairFakeIndex]==2) ? ($(Prompt_lep0) && $(Prompt_elFake0)) : ( ([ZBosonPairFakeIndex]==1) ? ($(Prompt_lep1) && $(Prompt_elFake0)) : 1 ) ) )"
aliases.Prompt_Zcands_otherM: "( ([ZBosonPairFakeIndex]==3) ? ($(Prompt_lep0) && $(Prompt_lep1)) : ( ([ZBosonPairFakeIndex]==2) ? ($(Prompt_lep0) && $(Prompt_muFake0)) : ( ([ZBosonPairFakeIndex]==1) ? ($(Prompt_lep1) && $(Prompt_muFake0)) : 1 ) ) )"

aliases.elFake_pT: "( ([ZBosonPairFakeIndex]==3) ? [Event$(cand)[0].otherPart(0).pt()/1000] : ( ([ZBosonPairFakeIndex]==2) ? [Event$(cand)[0].part(1).pt()/1000] : ( ([ZBosonPairFakeIndex]==1) ? [Event$(cand)[0].part(0).pt()/1000] : 1 ) ) )"
aliases.muFake_pT: "( ([ZBosonPairFakeIndex]==3) ? [Event$(cand)[0].otherPart(0).pt()/1000] : ( ([ZBosonPairFakeIndex]==2) ? [Event$(cand)[0].part(1).pt()/1000] : ( ([ZBosonPairFakeIndex]==1) ? [Event$(cand)[0].part(0).pt()/1000] : 1 ) ) )"

aliases.elFake_eta: "( ([ZBosonPairFakeIndex]==3) ? [Event$(cand)[0].otherPart(0).eta()] : ( ([ZBosonPairFakeIndex]==2) ? [Event$(cand)[0].part(1).eta()] : ( ([ZBosonPairFakeIndex]==1) ? [Event$(cand)[0].part(0).eta()] : 1 ) ) )"
aliases.muFake_eta: "( ([ZBosonPairFakeIndex]==3) ? [Event$(cand)[0].otherPart(0).eta()] : ( ([ZBosonPairFakeIndex]==2) ? [Event$(cand)[0].part(1).eta()] : ( ([ZBosonPairFakeIndex]==1) ? [Event$(cand)[0].part(0).eta()] : 1 ) ) )"

aliases.elFake_d0: "( ([ZBosonPairFakeIndex]==3) ? $(elFake0_d0) : ( ([ZBosonPairFakeIndex]==2) ? $(elFakesublead_d0) : ( ([ZBosonPairFakeIndex]==1) ? $(elFakelead_d0) : 1 ) ) )"
aliases.muFake_d0: "( ([ZBosonPairFakeIndex]==3) ? $(muFake0_d0) : ( ([ZBosonPairFakeIndex]==2) ? $(muFakesublead_d0) : ( ([ZBosonPairFakeIndex]==1) ? $(muFakelead_d0) : 1 ) ) )"

aliases.elFake_d0sig: "( ([ZBosonPairFakeIndex]==3) ? $(elFake0_d0sig) : ( ([ZBosonPairFakeIndex]==2) ? $(elFakesublead_d0sig) : ( ([ZBosonPairFakeIndex]==1) ? $(elFakelead_d0sig) : 1 ) ) )"
aliases.muFake_d0sig: "( ([ZBosonPairFakeIndex]==3) ? $(muFake0_d0sig) : ( ([ZBosonPairFakeIndex]==2) ? $(muFakesublead_d0sig) : ( ([ZBosonPairFakeIndex]==1) ? $(muFakelead_d0sig) : 1 ) ) )"