# -*- mode: config -*-

[prepare]

# name of the output file
outputFile:  sampleFolders/prepared/samples-prepared-Minimal-Example.root

# input cross section files
XsecFiles: minimal/config/samples/XSec/minimal_XS_13TeV.csv
XsecUnit: nb

# energy and luminosity
luminosity: 36074.56
luminosityUnit: pb
energy: 13
energyUnit: TeV

# channels to run over
channels: df
channelPlaceholder: channel
