# -*- mode: config -*-

[visualize]

# name of the input file
inputFile: sampleFolders/analyzed/samples-analyzed-Minimal-Example.root

# name of the output file
outputFile: sampleFolders/visualized/samples-visualized-Minimal-Example.root

# name of the output folder
outputDir: results/Minimal_Example

patches: minimal/config/visualization/style/Minimal-Example-style.txt

makePlots: CutChannels/Mjj
histogramProcesses: minimal/config/visualization/processes/Minimal-Example-plot-processes.txt
makeLogPlots: false

makeCutflows: true
cutflowFormats: txt, tex, html
cutflowProcessFiles: minimal/config/visualization/processes/Minimal-Example-cutflow-processes.txt
cutflowCutFiles: minimal/config/visualization/cuts/Minimal-Example-cutflow-cuts.txt

# configure plotter for nice plots
plotter.labels.atlas: Internal
plotter.blocks.x.0: 1
plotter.blocks.y.0: 0.75

# channels to run over
channels: df

channelConfig: minimal/config/channels/minimal-channels.txt
