# -*- mode: config -*-

[config]
include: bsmtautau_lephad/config-Common/master/master.cfg

[prepare]

[initialize]

[analyze]

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_qcdlfr.root
outputDir: results/bsmtautau_lephad_os_qcdlfr
histogramProcesses: bsmtautau_lephad/config-QCDLeptonFakeRegion/visualization/processes/plot-processes.txt
cutflowProcessFiles: bsmtautau_lephad/config-QCDLeptonFakeRegion/visualization/processes/plot-processes.txt
cutflowCutFiles: bsmtautau_lephad/config-QCDLeptonFakeRegion/visualization/cuts/cuts-os.txt
plotlabel.region: "OS LFR"
makePlots: CutOSB*ISO/*
