# -*- mode: config -*-

#########################################
##
##  Configuration file for SR.
##  This includes all regions that require
##      full fake factor knowledge:
##      SR, VR, TCR, WCR-(test FF)
##
#########################################

config.Include: ConfigCommon/htautau_lephad_common.cfg


################################################################################
makeSampleFile.style: ConfigSignalRegion/htautau_lephad_sr.tags
makeSampleFile.channels: muhad, ehad, lephad


################################################################################
runAnalysis.inputFile: input/htautau_lephad_sr.root:samples
runAnalysis.outputFile: output/htautau_lephad_sr/nominal.root:samples
runAnalysis.addObservables: BSMTriggerDecision.py, TruthSelector.py, BSMLepHad_TopSys.py, ScaleFactor.py, ptReweight.py, isoReweight.py, mTtot.py, higgsPt.py
    # Pzeta.py,
### FAKE FACTORS:
    ### select lepton fake factor:
    ### FFETA (default) for eta parametrization
    ### FFPT for pt parametrization
    ### FFPTDPHI for pt par and dphi corr
    ### FFETAPTDPHI for pt, eta, dphi corr
runAnalysis.myLeptonFF: FF2DPTDPHI
    ### select wjets fake factor:
    ### FFW (default) for W ff
    ### FFWDPHI for W ff dphi corr (dphi corr bveto only)
    ### FFWPTDPHI for 2D ff = pt * dphi / <dphi>
    ### FFQCD for QCD ff
    ### FFQCDR for QCD ff times rQCD (this would be qcd part, but in this way need to run two times for w part also)
    ### FFWDPHIR for W ff times (1-rqcd)
    ### FFCOMB for combined, the way we did in old analysis
runAnalysis.myWjetsFF: FFWPTDPHI
runAnalysis.cuts: ConfigSignalRegion/htautau_lephad_sr_cuts.def
runAnalysis.channels: ehad, muhad, lephad
runAnalysis.histograms: ConfigSignalRegion/htautau_lephad_sr_histograms.txt


################################################################################
readAnalysis.inputFile: output/htautau_lephad_sr/nominal.root:samples
#readAnalysis.nfConfig: normalization/normVBF.txt
readAnalysis.makePlots: CutBv*/*
### I switch between ehad and muhad
  # because I want to put appropriate
  # label on the plots
readAnalysis.channels: muhad, ehad, lephad
readAnalysis.plotter.labels.process: "H#rightarrow#tau_{lep}#tau_{had} SR"
readAnalysis.cutflowCutFiles: ConfigSignalRegion/htautau_lephad_sr_cuts.txt
#readAnalysis.systematics: "output/htautau_lephad_sr/ehad_bveto_systematics.root:systematics>>::syst"
#readAnalysis.systematics: "output/htautau_lephad_sr/ehad_btag_systematics.root:systematics>>::syst"
#readAnalysis.systematics: "output/htautau_lephad_sr/muhad_bveto_systematics.root:systematics>>::syst"
#readAnalysis.systematics: "output/htautau_lephad_sr/muhad_btag_systematics.root:systematics>>::syst"
readAnalysis.plotter.style.ratioMin: 0.5
readAnalysis.plotter.style.ratioMax: 1.5
readAnalysis.plotter.style.showUnderflow: True
readAnalysis.plotter.style.showOverflow: True


################################################################################
#createSystematics.weightSystematicsFile: systematics/plot.systematics
#createSystematics.inputDir: output/fake_july
#createSystematics.nominalFile: nominal.root
#createSystematics.sampleFolder: :samples
#createSystematics.channel: lephad
#createSystematics.cuts: CutVBFCBSR,CutBOOSTCBSR
#createSystematics.outputDir: systematics
#createSystematics.outputFile: systematics_july.root
#createSystematics.tableName: systematics_table_july
