# -*- mode: config -*-

config.Include: ConfigSignalRegion/htautau_lephad_wcr_mc16a.cfg


readAnalysis.outputDir: results/htautau_lephad_wcr_sr_wjets_mc16a

readAnalysis.plotter.labels.process: "H#rightarrow#tau_{lep}#tau_{had} WCR W+jets"
readAnalysis.histogramProcesses: ConfigSignalRegion/htautau_lephad_sr_processes_wjets_mc16a.style
readAnalysis.cutflowProcessFiles: ConfigSignalRegion/htautau_lephad_sr_processes_wjets_mc16a.style
