# -*- mode: config -*-

[config]
include: LQtaub-lephad/config/OtherJetsSSR-SYS/master/analyze-systematics-base.cfg

[initialize]
outputFile: sampleFolders/initialized/samples-initialized-LQtaub-lephad_common_sys.root

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-LQtaub-lephad-OtherJetsSSR-FF-SYS-TopResidual.root
sysFileName:LQtaub-lephad/auxData/variations/systematics-Top-Residual.txt
doNominal: false
doData: false
showChannels: true

aliases.ApplyTopResidualSF: true
