# -*- mode: config -*-

[config]
include: LQtaub-lephad/config/common/master/analyze-common.cfg

[analyze]
inputFile: sampleFolders/initialized/samples-initialized-LQtaub-lephad-common_sys.root
outputFile: sampleFolders/analyzed/samples-analyzed-LQtaub-lephad-OtherJetsSSR-FF-SYS-NOMINAL.root
cuts: LQtaub-lephad/config/OtherJetsSSR/cuts/cuts-FF.def

histograms: LQtaub-lephad/config/OtherJetsSSR/histograms/histograms.txt

aliases.ApplyMultiJetsLFF = true
aliases.MultiJetsLFFPeriod: Combined

aliases.ApplyOtherJetsTFF: false

aliases.ApplyOtherJetsSF: false

aliases.ApplyMCFakesSF: false

aliases.ApplyTopSF: true
