# -*- mode: config -*-

[prepare]

# name of the output file
outputFile:  sampleFolders/prepared/samples-prepared-flatNTuple-Example.root
#sampleFolderName: samples

# input cross section files
XsecFiles: common/config/samples/XSec/XS_13TeV.csv
XsecWhitelist: flatNTuple/config/samples/whitelists/flatNTuple-Example-whitelist.txt
XsecMap: flatNTuple/config/samples/maps/flatNTuple-Example.map
XsecUnit: nb

# some debugging options:
# printFolderTags: rdt
# printXsec: true

# channels to run over
channels: ee,mm
channelPlaceholder: channel

# energy and luminosity
luminosity: 36074.56
luminosityUnit: pb
energy: 13
#energyUnit: TeV

# patch files to apply
patches: flatNTuple/config/patches/flatNTuple-Example-prepare-patch.txt