# -*- mode: config -*-

[config]
include: configLeptonFakeRegion/applyFF/htautau_lephad_lfr_applyff.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_lfr_applyffsf.root
cuts: configLeptonFakeRegion/applyFF/applySF/htautau_lephad_lfr_applyffsf_cuts.def
customObservables.snippets: BSMTriggerDecision, ScaleFactor, TruthTauSelector, LeptonFakes, MTtot, LeptonFakesReweight, MatTransCorrection, LPXKfactor

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_lfr_applyffsf.root
outputDir: results/htautau_lephad_lfr_applyffsf
