# -*- mode: config -*-

[initialize]

# name of the input file
inputFile: sampleFolders/prepared/samples-prepared-xAOD-Example.root

# name of the output file
outputFile: sampleFolders/initialized/samples-initialized-xAOD-Example.root

# paths and names of the input data files
dataFileList: xAOD/config/samples/inputFileLists/xAOD-Example-dataFileList.txt
dataFileListTreeName: CollectionTree
#dataPaths: /eos/user/d/dshope/forCAFExample/xAOD_Example/data/:CollectionTree
# additional input file configurations - these are already the defaults
#dataFilePattern: *.root*
#dataFolderPattern: data/$(channel)/all

# paths and names of the input mc files to initialize
mcFileList: xAOD/config/samples/inputFileLists/xAOD-Example-mcFileList.txt
mcFileListTreeName: CollectionTree
#mcPaths: /eos/user/d/dshope/forCAFExample/xAOD_Example/mc/:CollectionTree
# additional input file configurations - these are already the defaults
#mcFilenameSuffix: *.root*
#mcFilenamePrefix: *

# some debugging options for the sample initializer
# initialize: false
printSamplesFailed: true
verbose: true

# channels to run over
channels: ee,mm
channelPlaceholder: channel

# preInit patch files to apply
preInit_patches: xAOD/config/patches/xAOD-Example-preinitialize-patch.txt

# postInit patch files to apply
postInit_patches: xAOD/config/patches/xAOD-Example-postinitialize-patch.txt
