# -*- mode: config -*-

[visualize]

# name of the input file
inputFile: sampleFolders/analyzed/samples-analyzed-xAOD-Example.root

# name of the output file
outputFile: sampleFolders/visualized/samples-visualized-xAOD-Example.root

# name of the output folder
outputDir: results/xAOD_Example

# channels to run over
channels: ee,mm, sf

patches: xAOD/config/visualization/style/xAOD-Example-style.txt

makePlots: *
histogramProcesses: xAOD/config/visualization/processes/xAOD-Example-plot-processes.txt
plotter.style.showRatio: true
makeLogPlots: false

makeCutflows: true
cutflowFormats: txt, tex, html

cutflowProcessFiles: xAOD/config/visualization/processes/xAOD-Example-cutflow-processes.txt
cutflowCutFiles: xAOD/config/visualization/cuts/xAOD-Example-cutflow-cuts.txt
