# -*- mode: config -*-

[config]
include: AHZ-lephad/config/SYS/master/analyze-systematics-base.cfg

[analyze]
doNominal: false
doData: false
showChannels: true
useMultiChannelVisitor: false #Fails without this

#patches: AHZ-lephad/config-Common/patches/analyze_systematics_clean-CP.txt 
sysFileName: AHZ-lephad/auxData/variations/systematics-CP-lep-p4.txt
outputFile: sampleFolders/analyzed/samples-analyzed-AHZ-lephad-SR-FF-SYS-CP_lep_p4.root 
