# -*- mode: config -*-

[config]
include: AHZ-lephad/config/SYS/master/analyze-systematics-base.cfg

[initialize]
outputFile: sampleFolders/initialized/samples-initialized-AHZ-lephad_common_sys.root

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-AHZ-lephad-SR-FF-SYS-CP_lep_weight.root
sysFileName:AHZ-lephad/auxData/variations/systematics-CP-lep-weight.txt
doNominal: false
doData: false
showChannels: true

