# -*- mode: config -*-

[config]
include: AHZ-lephad/config/common/master/initialize-FF-common.cfg

[initialize]
outputFile: sampleFolders/initialized/samples-initialized-AHZ-lephad-common_sys.root
campaignsConfig: AHZ-lephad/config/common/master/campaigns-nominal_sys.cfg

