# -*- mode: config -*-

[config]
include: lqtaub_lephad/config-TopControlRegion/master/master.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-lqtaub_lephad_tcr_applysf.root
cuts: lqtaub_lephad/config-TopControlRegion/applySF/cuts/cuts.def
aliases.UseLQTopSF: true

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-lqtaub_lephad_tcr_applysf.root
outputDir: results/lqtaub_lephad_tcr_applysf
histogramProcesses: lqtaub_lephad/config-TopControlRegion/applySF/visualization/processes/plot-processes.txt
cutflowProcessFiles: lqtaub_lephad/config-TopControlRegion/applySF/visualization/processes/plot-processes.txt
cutflowCutFiles: lqtaub_lephad/config-TopControlRegion/applySF/visualization/cuts/cutflow-cuts.txt
makePlots: CutTCRBt*/*
