# -*- mode: config -*-

[config]
include: configLeptonFakeRegion/applyFF/htautau_lephad_lfr_applyff.cfg

[prepare]

[initialize]
#outputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_lfr_applyff.root
#postInit_patches: configLeptonFakeRegion/applyFF/htautau_lephad_lfr_applyff.tags

[analyze]
#inputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_lfr_applyff.root
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_lfr_applyffsf.root
cuts: configLeptonFakeRegion/applyFFSF/htautau_lephad_lfr_applyffsf_cuts.def
#histograms: configLeptonFakeRegion/applyFF/htautau_lephad_lfr_applyff_histograms.txt
customObservables.snippets: BSMTriggerDecision, ScaleFactor, isoReweight, mTtot, QCDReweight
#patches: configLeptonFakeRegion/applyFF/htautau_lephad_lfr_applyff.tags

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_lfr_applyffsf.root
#outputFile: sampleFolders/visualized/samples-visualized-htautau_lephad_lfr_applyff.root
outputDir: results/htautau_lephad_lfr_applyffsf
