# -*- mode: config -*-

[config]
include: ML-leptau/config/common/aliases/aliases.cfg

[analyze]
inputFile: sampleFolders/initialized/samples-initialized-ML-leptau-common.root
#customObservables.directories: ML-leptau/observables
#customObservables.snippets: BSMTriggerDecision, ScaleFactor, TruthTauSelector, HiggsPt, MTtot, Pzeta, LPXKfactor, MatTransCorrection, MultiJetsLFF, MultiJetsSF, OtherJetsTFF, OtherJetsTFR, OtherJetsSF, TopSF, ExtrapolationSys, MultiJetsTFF, TopResidualSys, MCFakesSF, TruthLepSelector, TruthZjetsSelector, ZjetsSF, TTBarPDFDoWeight, TTBarPDFUpWeight, STopPDFDoWeight, STopPDFUpWeight
channels: ehad
doData: true
printObservables: false
printCuts: false
useMultiChannelVisitor: true
purgeRemainder: true
#patches: ML-leptau/config/common/patches/analyze-sample-patch.txt 
