# -*- mode: config -*-

#[config]
#include: common/config/master/initialize-default.cfg

[initialize]
mcFilenamePrefix: *
mcFilenameSuffix: *.root*
dataFolderPattern: data/$(channel)/$(campaign)
dataFilePattern: */*.root*
treeName: leptau
initialize: true
initializer.useSummarytree: true
initializer.summaryTree.name: leptau
initializer.summaryTree.expression: 1/scale_nom
initializer.verbose: True
verbose: True
printSamplesFailed: True
printFolderTags: tdr2

inputFile: sampleFolders/prepared/samples-prepared-ML-leptau-common.root
outputFile: sampleFolders/initialized/samples-initialized-ML-leptau-common.root
campaignsConfig: ML-leptau/config/common/master/campaigns-nominal.cfg
channels: ehad
campaigns: c16a

#postInit_patches: ML-leptau/config/common/patches/initialize-post-pool-patch.txt, ML-leptau/config/common/patches/initialize-post-FF-patch.txt
postInit_patches: ML-leptau/config/common/patches/initialize-post-patch.txt

