# -*- mode: config -*-

#[config]
#include: common/config/master/prepare-default.cfg

[prepare]
XsecMap: ML-leptau/config/common/samples/maps/HHML.map
XsecFiles: ML-leptau/config/common/samples/XSec/XS.csv
XsecUnit: pb
luminosityUnit: pb
energy: 13
energyUnit: TeV
sampleFolderName: samples
channelPlaceholder: channel
printFolderTags: tdr2

outputFile: sampleFolders/prepared/samples-prepared-ML-leptau-common.root
campaignsConfig: ML-leptau/config/common/master/campaigns-nominal.cfg
campaigns: c16a
channels: ehad

patches: common/config/patches/prepare-xsec-patch.txt, ML-leptau/config/common/patches/prepare-patch.txt 
