# -*- mode: config -*-
[config]
include: common/config/master/visualize-default.cfg


[visualize]
channels: ehad
patches: ML-leptau/config/common/visualization/style/style.txt
plotlabel.analysis: "pp #rightarrow 2lepSS + \tau_{had}"
#plotlabel.analysis: "pp #rightarrow b+$(channel)"
