# -*- mode: config -*-

#########################################
##
##  Configuration file for SR.
##  This includes all regions that require
##      full fake factor knowledge:
##      SR, VR, TCR, WCR-(test FF)
##
#########################################

[config]
include: lqtaub_lephad/config-SignalControlRegion/master/master.cfg

[prepare]

[initialize]
outputFile: sampleFolders/initialized/samples-initialized-lqtaub_lephad_common_sys.root
campaignsConfig: lqtaub_lephad/config-Common/master/master_campaigns_sys.cfg
#postInit_patches: lqtaub_lephad/config-Common/lqtaub_lephad_common_postinit.tags, lqtaub_lephad/config-Common/lqtaub_lephad_common_postinit_clean.tags
#initialize: false

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-lqtaub_lephad_sr_sys.root
doNominal: false
doData: false
showChannels: true
sfSystematicsList.lff: lqtaub_lephad/config-SignalControlRegion/syst/lists/sf-lff.tq
sfSystematicsList.lsf: lqtaub_lephad/config-SignalControlRegion/syst/lists/sf-lsf.tq
sfSystematicsList.wff: lqtaub_lephad/config-SignalControlRegion/syst/lists/sf-wff.tq
sfSystematicsList.wsf: lqtaub_lephad/config-SignalControlRegion/syst/lists/sf-wsf.tq
sfSystematicsList.vsf: lqtaub_lephad/config-SignalControlRegion/syst/lists/sf-vsf.tq
sfSystematicsList.material: lqtaub_lephad/config-SignalControlRegion/syst/lists/sf-material.tq
sfSystematicsList.lpx: lqtaub_lephad/config-SignalControlRegion/syst/lists/sf-lpx.tq
sfSystematicsList.top: lqtaub_lephad/config-SignalControlRegion/syst/lists/sf-top.tq
sfSystematicsList.weight: lqtaub_lephad/config-SignalControlRegion/syst/lists/sf-weight.tq
p4SystematicsList.all: lqtaub_lephad/config-SignalControlRegion/syst/lists/p4-all.tq

[visualize]
outputDir: results/lqtaub_lephad_sr_sys

#systematicsBands: systematicsBands/SRsys_band_c16ade_ehad.root:systematics>>::ehad, systematicsBands/SRsys_band_c16ade_muhad.root:systematics>>::muhad
systematicsBands: systband_ehad_iso.root:systematics>>::ehad
