# -*- mode: config -*-

[config]
include: lqtaub_lephad/config-SignalControlRegion/master/master_tcr.cfg, lqtaub_lephad/config-SignalControlRegion/syst/master/master.cfg

[prepare]

[initialize]

[analyze]

[visualize]
outputDir: results/lqtaub_lephad_tcr_sys
