# -*- mode: config -*-

#########################################
##
##  Configuration file for SR.
##  This includes all regions that require
##      full fake factor knowledge:
##      SR, VR, TCR, WCR-(test FF)
##
#########################################

[config]
include: configSignalControlRegion/syst/htautau_lephad_sr_nom.cfg

[prepare]

[initialize]
outputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_common_sys.root
campaignsConfig: configCommon/htautau_lephad_common_campaigns_sys.cfg
#postInit_patches: configCommon/htautau_lephad_common_postinit.tags, configCommon/htautau_lephad_common_postinit_clean.tags
#initialize: false

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_sr_sys.root
doNominal: false
doData: false
p4SystematicsList.all: configSignalControlRegion/syst/lists/p4.tq
sfSystematicsList.iso: configSignalControlRegion/syst/lists/iso.tq
sfSystematicsList.fake: configSignalControlRegion/syst/lists/fake.tq
sfSystematicsList.material: configSignalControlRegion/syst/lists/material.tq
sfSystematicsList.lpx: configSignalControlRegion/syst/lists/lpx.tq
sfSystematicsList.top: configSignalControlRegion/syst/lists/top.tq
sfSystematicsList.weight: configSignalControlRegion/syst/lists/weight.tq

[visualize]
outputDir: results/htautau_lephad_sr_sys

#systematicsBands: systematicsBands/SRsys_band_c16ade_ehad.root:systematics>>::ehad, systematicsBands/SRsys_band_c16ade_muhad.root:systematics>>::muhad
systematicsBands: systband_ehad_iso.root:systematics>>::ehad
