# -*- mode: config -*-

#########################################
##
##  Configuration file for SR.
##  This includes all regions that require
##      full fake factor knowledge:
##      SR, VR, TCR, WCR-(test FF)
##
#########################################

[config]
include: configSignalControlRegion/syst/htautau_lephad_sr_nom.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_sr_sys.root
doNominal: false
doData: false
sfSystematicsList.iso: configSignalControlRegion/syst/lists/iso.txt
sfSystematicsList.fake: configSignalControlRegion/syst/lists/fake.txt
sfSystematicsList.material: configSignalControlRegion/syst/lists/material.txt
sfSystematicsList.lpx: configSignalControlRegion/syst/lists/lpx.txt
sfSystematicsList.top: configSignalControlRegion/syst/lists/top.txt
sfSystematicsList.weight: configSignalControlRegion/syst/lists/weight.txt

[visualize]
outputDir: results/htautau_lephad_sr_sys

#systematicsBands: systematicsBands/SRsys_band_c16ade_ehad.root:systematics>>::ehad, systematicsBands/SRsys_band_c16ade_muhad.root:systematics>>::muhad
systematicsBands: systband_ehad_iso.root:systematics>>::ehad
