# -*- mode: config -*-

#########################################
##
##  Configuration file for SR.
##  This includes all regions that require
##      full fake factor knowledge:
##      SR, VR, TCR, WCR-(test FF)
##
#########################################

[config]
include: configSignalControlRegion/htautau_lephad_sr.cfg

[prepare]
#outputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_sr.root
#XsecWhitelist: configCommon/htautau_lephad_common_whitelist_sr.txt
#channels: ehad, muhad

[initialize]
#inputFile: sampleFolders/prepared/samples-prepared-htautau_lephad_sr.root
#outputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_sr.root
#postInit_patches: configSignalControlRegion/htautau_lephad_sr.tags
#channels: ehad, muhad

[analyze]
#inputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_sr.root
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_sr.root
cuts: configSignalControlRegion/syst/htautau_lephad_sr_sys_cuts.def
#histograms: configSignalControlRegion/syst/htautau_lephad_sr_sys_histograms.txt
customObservables.snippets: BSMTriggerDecision, ScaleFactor, TruthTauSelector, LeptonFakes, JetFakes, TopTheorySys, MTtot, HiggsPt, LeptonFakesReweight, extrapolationReweight, TopReweight, MatTransCorrection, LPXKfactor, JetFakesReweight
#, Pzeta
channels: ehad, muhad

[visualize]
outputDir: results/htautau_lephad_sr_sys

systematicsBands: systematicsBands/SRsys_band_c16ade_ehad.root:systematics>>::ehad, systematicsBands/SRsys_band_c16ade_muhad.root:systematics>>::muhad

################################################################################
#createSystematics.weightSystematicsFile: systematics/plot.systematics
#createSystematics.inputDir: output/fake_july
#createSystematics.nominalFile: nominal.root
#createSystematics.sampleFolder: :samples
#createSystematics.channel: lephad
#createSystematics.cuts: CutVBFCBSR,CutBOOSTCBSR
#createSystematics.outputDir: systematics
#createSystematics.outputFile: systematics_july.root
#createSystematics.tableName: systematics_table_july
