# -*- mode: config -*-

[config]
include: lqtaub_lephad/config-Common/master/master.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-lqtaub_lephad_wfr.root
cuts: lqtaub_lephad/config-WjetsFakeRegion/cuts/cuts.def
histograms: lqtaub_lephad/config-WjetsFakeRegion/histograms/histograms.txt
aliases.UseLeptonFF: true
aliases.UseQCDSF: true

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-lqtaub_lephad_wfr.root
outputDir: results/lqtaub_lephad_wfr
histogramProcesses: lqtaub_lephad/config-WjetsFakeRegion/visualization/processes/plot-processes.txt
cutflowProcessFiles: lqtaub_lephad/config-WjetsFakeRegion/visualization/processes/plot-processes.txt
cutflowCutFiles: lqtaub_lephad/config-WjetsFakeRegion/visualization/cuts/cutflow-cuts.txt
plotlabel.region: "WFR"
makePlots: Cut*SB*p*ID/*, CutTCRBtag*p/*
