# -*- mode: config -*-

# This file configures the merge command that is printed after all submitted jobs
# with submit.py have finished successfully.
# Refer e.g. to 'tqmerge --help' to see what possible arguments are available

[merge]
downmerge: generalize
