# -*- mode: config -*-

[config]
include: lqtaub_lephad/config-Common/master/master.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-lqtaub_lephad_lsr.root
cuts: lqtaub_lephad/config-LowIDScoreRegion/cuts/cuts.def
histograms: lqtaub_lephad/config-LowIDScoreRegion/histograms/histograms.txt
aliases.UseLeptonFF: true
aliases.UseQCDSF: true

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-lqtaub_lephad_lsr.root
outputDir: results/lqtaub_lephad_lsr
histogramProcesses: lqtaub_lephad/config-LowIDScoreRegion/visualization/processes/plot-processes.txt
cutflowProcessFiles: lqtaub_lephad/config-LowIDScoreRegion/visualization/processes/plot-processes.txt
cutflowCutFiles: lqtaub_lephad/config-LowIDScoreRegion/visualization/cuts/cutflow-cuts.txt
plotlabel.region: "LowIDScore CR"
#makePlots: Cut*LowIDScore/*, CutTCRB*p/*, CutVRB*p/*
makePlots: CutB*PassISO/*
