
# Common tags to the plot categories below
[common]

# -----------------------------
# Input sample folder
input:  /eos/user/b/bejaeger/SampleFolder-for-plotComparison-Example/samples-analyzed-ggf-PFlowValid-merged.root:samples
# Apply style
patches: ../tools/plotComparisons/style-plotComparisons.txt

# --------------------------
# speficy what should be compared, options:
# 'processes': compare distributions at fixed cut for different processes
# 'cuts': compare distributions at different cuts for fixed process
# 'variables': compare different distributions/variables at fixed cut and for fixed process
compare: processes

# ---------------------------
# What cuts and observables to plot? 
cuts: CutMET, CutChannels
observables: MT, nbJet, nbJetAll, MET, nOtherJets, nJetTight, leadLepPt

# ---------------------
# Plot and style settings (optional and just exemplary here)

# rebinning of individual histograms
rebin.leadLepPt: 2
rebin.MET: 2

# custom range settings
xrange.leadLepPt: 0, 200

# custom axis title
xlabel.leadLepPt: "Leading Lepton p_{T} [GeV]"

# normalize plot
normed: True

# text below ATLAS label
label: ggF Signal

# don't draw ratio plot (will be overwritten below in PFlowVsEMTopoRatio)
drawRatio: False

# More possible settings (the given ones are the default values)
# plotFormat: pdf, png
# logX: True
# logY: True
# legend.textSize: 0.04
# geometry.legend.xlow: 0.52
# geometry.legend.xlow: 0.85
# geometry.legend.ylow: 0.7
# geometry.legend.yhigh: <automatic>


# Plot PFlow vs EMTopo by specifying sample paths
[PFlowVsEMTopo]

# ---------------------------
# Define processes to plot
# basePath is prepended to samplePaths
basePath: sig/[em+me]/mh125
samplePaths: ggf/345324PFlow, ggf/345324EMTopo

# ------------------------------
# Plot and output settings
outputFolder: results/PFlowValidation/PFlowVsEMTopo


[PFlowVsEMTopoRatio]

# ---------------------------
# Define processes to plot
# basePath is prepended to samplePaths
basePath: sig/[em+me]/mh125
samplePaths: ggf/345324PFlow, ggf/345324EMTopo

# ------------------------------
# Plot and output settings
outputFolder: results/PFlowValidation/PFlowVsEMTopoRatio
# Additionally draw ratio plot as subplot
drawRatio: True
# specify index of path that should be shown as the numerator
# in the ratio plot (if more than two paths are specified the
# ratio will be done w.r.t this numerator)
ratio.indexOfNumerator: 0
ratio.yrange: 0.9, 1.14
ratio.ylabel: PFlow / EMTopo
