# -*- mode: config -*-

### use same input sample file as nominal

###
runAnalysis.inputFile:   input/htautau_lephad_sr.root:samples
runAnalysis.outputFile:  output/htautau_lephad_sr_AC/nominal_mc.root:samples
#runAnalysis.doData: false
runAnalysis.addObservables: BSMTriggerDecision.py, TruthSelector.py, mTtot.py, higgsPt.py, lepmetMT.py
runAnalysis.cuts: ConfigSignalRegion/htautau_lephad_cuts_sr_AC.def
runAnalysis.channels: muhad, ehad
runAnalysis.histograms: ConfigSignalRegion/htautau_lephad_sr_histograms.txt


###


#readAnalysis.inputFile: debug.root:samples
readAnalysis.inputFile: output/htautau_lephad_sr_AC/nominal_mc.root:samples
readAnalysis.outputDir:  results/htautau-lephad-sr-AC
readAnalysis.logScale: False
#readAnalysis.makePlots: CutBveto1p/*,CutBveto3p/*,CutBtag1p/*,CutBtag3p/*
readAnalysis.makeCutflows: True
readAnalysis.channels: muhad, ehad
readAnalysis.plotter.style.showEventYields: False
#readAnalysis.plotter.style.showOptScan: True
readAnalysis.plotter.labels.process: "H#rightarrow#tau_{lep}#tau_{had} SR (#mu#tau_{had})"
#" (e#tau_{had})"
readAnalysis.histogramProcesses: ConfigSignalRegion/htautau_lephad_sr_AC_processes.style
readAnalysis.cutflowProcessFiles: ConfigSignalRegion/htautau_lephad_sr_AC_processes.style
readAnalysis.cutflowCutFiles: ConfigSignalRegion/htautau_lephad_sr_AC_cuts.txt
readAnalysis.cutprinter.standalone: True
readAnalysis.plotformat: pdf
#readAnalysis.systematics: "output/htautau_lephad_sr/ehad_systematics.root:systematics>>::ehad"
#readAnalysis.systematics: "output/htautau_lephad_sr/muhad_systematics.root:systematics>>::muhad"
#readAnalysis.plotter.errors.showSys: "muhad"
readAnalysis.plotter.labels.atlas: "Work in Progress"
readAnalysis.plotter.labels.atlas.scale: 0.9
readAnalysis.plotter.labels.drawInfo: True
readAnalysis.plotter.style.forceRatioLimits: True
readAnalysis.plotter.style.min: 0.9
readAnalysis.plotter.style.ratioMin: 0.5
readAnalysis.plotter.style.ratioMax: 1.5
#readAnalysis.plotter.labels.totalBkg: "Z MC Fakes"
#readAnalysis.plotter.labels.data: "Z MC"
readAnalysis.plotter.style.legend.textSize: 0.022
#readAnalysis.plotter.style.showUnderflow: True
readAnalysis.plotter.style.showOverflow: True
#readAnalysis.plotter.style.logMinMin: 10

#createSystematics.weightSystematicsFile: systematics/plot.systematics
#createSystematics.inputDir: output/fake_july
#createSystematics.nominalFile: nominal.root
#createSystematics.sampleFolder: :samples
#createSystematics.channel: lephad
#createSystematics.cuts: CutVBFCBSR,CutBOOSTCBSR
#createSystematics.outputDir: systematics
#createSystematics.outputFile: systematics_july.root
#createSystematics.tableName: systematics_table_july
