# -*- mode: config -*-

[config]
include: AHZ-lephad/config/common/master/analyze-common.cfg

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-AHZ-lephad-nominal.root
cuts: AHZ-lephad/config/nominal/cuts/cuts.def
histograms: AHZ-lephad/config/nominal/histograms/histograms.txt
ntuples: AHZ-lephad/config/nominal/ntuples/mva.cfg
