# -*- mode: config -*-

[config]
include: bsmtautau_lephad/config-WjetsFakeRegion/applyFF/master/master.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_wfr_applyffsf.root
aliases.UseWjetsSF: true
aliases.UseTopSF: true

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_wfr_applyffsf.root
outputDir: results/bsmtautau_lephad_wfr_applyffsf
