# -*- mode: config -*-

[config]
include: bsmtautau_lephad/config-WjetsFakeRegion/applyFF/master/master.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_wfr_applyffsf.root
cuts: bsmtautau_lephad/config-WjetsFakeRegion/applyFF/applySF/cuts/cuts.def
aliases.UseWjetsSF: true
aliases.UseTopSF: true

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_wfr_applyffsf.root
outputDir: results/bsmtautau_lephad_wfr_applyffsf
histogramProcesses: bsmtautau_lephad/config-WjetsFakeRegion/applyFF/visualization/processes/plot-processes.txt
cutflowProcessFiles: bsmtautau_lephad/config-WjetsFakeRegion/applyFF/visualization/processes/plot-processes.txt
cutflowCutFiles: bsmtautau_lephad/config-WjetsFakeRegion/applyFF/visualization/cuts/cutflow-cuts.txt
makePlots: CutBveto*OSPass*/*, CutBtag*OSPass*/*
