# -*- mode: config -*-

[config]
include: LQtaub-lephad/config/common/master/analyze-common.cfg

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-LQtaub-lephad-SR-alternateFR.root
cuts: LQtaub-lephad/config/SR/cuts/cuts-alternateFR.def
histograms: LQtaub-lephad/config/SR/histograms/histograms.txt
ntuples: LQtaub-lephad/config/SR/ntuples/ntuples-alternateFR.txt

aliases.ApplyMultiJetsLFF = true
aliases.MultiJetsLFFPeriod: Combined

aliases.ApplyOtherJetsTFF: false
aliases.OtherJetsTFFPeriod: Combined

aliases.ApplyOtherJetsSF: false
aliases.OtherJetsSFPeriod: Combined

