# -*- mode: config -*-

[config]
include: common/config/master/visualize-default.cfg

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-LQtaub-lephad-SR-alternateFR.root
outputDir: results/LQtaub-lephad-SR-alternateFR-os
histogramProcesses: LQtaub-lephad/config/SR/visualization/processes/histogram-processes-alternateFR-os.txt
cutflowProcessFiles: LQtaub-lephad/config/SR/visualization/processes/cutflow-processes-alternateFR-os.txt
cutflowCutFiles: LQtaub-lephad/config/SR/visualization/cuts/cuts-alternateFR-os.txt
plotlabel.region: "OS SR"
makePlots: CutOS*MT/*
