# -*- mode: config -*-

[config]
include: bsmtautau_lephad/config-QCDLeptonFakeRegion/applyFF/master/master-ss.cfg

[prepare]

[initialize]

[analyze]

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-bsmtautau_lephad_qcdlfr_applyffsf.root
outputDir: results/bsmtautau_lephad_ss_qcdlfr_applyffsf
