# -*- mode: config -*-

#########################################
##
##  Configuration file for SR.
##  This includes all regions that require
##      full fake factor knowledge:
##      SR, VR, TCR, WCR-(test FF)
##
#########################################

[config]
include: configCommon/htautau_lephad_common.cfg

[prepare]

[initialize]

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_sr_failid_check.root
cuts: configFailIDRegion/htautau_lephad_sr_cuts.def
histograms: configFailIDRegion/htautau_lephad_sr_histograms.txt
aliases.UseLeptonFF: true
aliases.UseQCDSF: true
aliases.UseWjetsFF: true
aliases.UseTopSF: false

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_sr_failid_check.root
outputDir: results/htautau_lephad_sr_failid_check
histogramProcesses: configFailIDRegion/htautau_lephad_sr_processes.style
cutflowProcessFiles: configFailIDRegion/htautau_lephad_sr_processes.style
cutflowCutFiles: configFailIDRegion/htautau_lephad_sr_cuts.txt
plotlabel.region: "SR"
makePlots: CutBv*/*, CutBt*/*
