# -*- mode: config -*-

[config]
include: common/config/master/visualize-default.cfg

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-LQtaub-lephad-MultiJetsLFR-FF.root
outputDir: results/LQtaub-lephad-MultiJetsLFR-FF-ss
histogramProcesses: LQtaub-lephad/config/MultiJetsLFR/visualization/processes/histogram-processes-FF.txt
cutflowProcessFiles: LQtaub-lephad/config/MultiJetsLFR/visualization/processes/cutflow-processes-FF.txt
cutflowCutFiles: LQtaub-lephad/config/MultiJetsLFR/visualization/cuts/cuts-FF-ss.txt
plotlabel.region: "SS LFR"
makePlots: CutSSB*ISO/*
