# -*- mode: config -*-

[config]
include: LQtaub-lephad/config/common/master/visualize-common.cfg

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-LQtaub-lephad-MultiJetsLFR-FF-closure.root
outputDir: results/LQtaub-lephad-MultiJetsLFR-FF-closure
histogramProcesses: LQtaub-lephad/config/MultiJetsLFR/visualization/processes/histogram-processes-FF-closure.txt
cutflowProcessFiles: LQtaub-lephad/config/MultiJetsLFR/visualization/processes/cutflow-processes-FF-closure.txt
cutflowCutFiles: LQtaub-lephad/config/MultiJetsLFR/visualization/cuts/cuts-FF-closure.txt
plotlabel.region: "LFR"
makePlots: CutSSBtag*PassISO/*
