# -*- mode: config -*-

[config]
include: LQtaub-lephad/config/common/master/visualize-common.cfg

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-LQtaub-lephad-MultiJetsLFR-FF.root
outputDir: results/LQtaub-lephad-MultiJetsLFR-FF
histogramProcesses: LQtaub-lephad/config/MultiJetsLFR/visualization/processes/histogram-processes-FF.txt
cutflowProcessFiles: LQtaub-lephad/config/MultiJetsLFR/visualization/processes/cutflow-processes-FF.txt
cutflowCutFiles: LQtaub-lephad/config/MultiJetsLFR/visualization/cuts/cuts-FF.txt
plotlabel.region: "LFR"
makePlots: CutSSBtag*ISO/*
