# -*- mode: config -*-

[prepare]

# name of the output file
#outputFile:  prepare/samples-run2-bare-flavorComposition-Zjets-v17b.root:samples
outputFile:  prepare/samples-run2-bare-flavorComposition-Zjets-v17b.root

# paths and names of the input files
mcPaths: /eos/user/k/kbecker/PAODs/V17/TestZjets/:CollectionTree

mcFilenameSuffix: *.root*
mcFilenamePrefix: *

# some debugging options for the sample initializer
# initialize: false
printSamplesFailed: true
verbose: true

# input cross section files (and map)
XsecFiles:XSec/XS_13TeV_bkg.csv, XSec/XS_13TeV_sig.csv
XsecWhitelist: XSec/flavorComposition-Zjets-whitelist.txt
XsecPriorityColumn: priority
XsecPriorityMax: 1
XsecMap: maps/run2-mc15.map
XsecUnit: nb
channelPlaceholder: channel
# read in the SumOfWeightsPerEvent externally
#averageweights.filename:XSec/DC14_SumOfWeightsPerEvent.csv
#XSec/DC14_SumOfWeightsPerEvent.csv
#averageweights.colname:Nominal
# some debugging options:
# printFolderTags: rdt
# printXsec: true

# channels to run over
channels: ee,mm

# energy and luminosity
luminosity: 36074.56
luminosityUnit: pb
energy: 13

# style files to apply
style: style/run2-makeFlavorComposition.txt

