# -*- mode: config -*-

[config]
include: configWjetsFakeRegion/applyFF/htautau_lephad_wfr_applyff.cfg

[prepare]

[initialize]

[analyze]

[visualize]
outputDir: results/htautau_lephad_tcr_applyff
histogramProcesses: configSignalControlRegion/htautau_lephad_sr_processes.style
cutflowProcessFiles: configSignalControlRegion/htautau_lephad_sr_processes.style
plotlabel.region: "TCR"
makePlots: CutTCRBt*/*
