# -*- mode: config -*-

[config]
include: configWjetsFakeRegion/htautau_lephad_wfr.cfg

[prepare]

[initialize]
outputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_wfr_applyff.root
postInit_patches: configWjetsFakeRegion/applyFF/htautau_lephad_wfr_applyff.tags

[analyze]
inputFile: sampleFolders/initialized/samples-initialized-htautau_lephad_wfr_applyff.root
outputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_wfr_applyff.root
cuts: configWjetsFakeRegion/applyFF/htautau_lephad_wfr_applyff_cuts.def
histograms: configWjetsFakeRegion/applyFF/htautau_lephad_wfr_applyff_histograms.txt
customObservables.snippets: BSMTriggerDecision, ScaleFactor, TruthSelector, isoReweight, ptReweight
#patches: configWjetsFakeRegion/applyFF/htautau_lephad_wfr_applyff.tags

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-htautau_lephad_wfr_applyff.root
#outputFile: sampleFolders/visualized/samples-visualized-htautau_lephad_wfr_applyff.root
outputDir: results/htautau_lephad_wfr_applyff
histogramProcesses: configWjetsFakeRegion/applyFF/htautau_lephad_wfr_applyff_processes.style
cutflowProcessFiles: configWjetsFakeRegion/applyFF/htautau_lephad_wfr_applyff_processes.style



#################################################################################
#createSystematics.weightSystematicsFile: systematics/plot.systematics
#createSystematics.inputDir: output/fake_july
#createSystematics.nominalFile: nominal.root
#createSystematics.sampleFolder: :samples
#createSystematics.channel: lephad
#createSystematics.cuts: CutVBFCBSR,CutBOOSTCBSR
#createSystematics.outputDir: systematics
#createSystematics.outputFile: systematics_july.root
#createSystematics.tableName: systematics_table_july
