# -*- mode: config -*-

[config]
include: configWjetsFakeRegion/applyFF/htautau_lephad_wfr_applyff.cfg

[prepare]

[initialize]

[analyze]

[visualize]
#outputFile: sampleFolders/visualized/samples-visualized-htautau_lephad_wfr_applyff_wjetsqcd.root
outputDir: results/htautau_lephad_wfr_applyff_wjetsqcd
histogramProcesses: configWjetsFakeRegion/applyFF/htautau_lephad_wfr_applyff_processes_wjetsqcd.style
cutflowProcessFiles: configWjetsFakeRegion/applyFF/htautau_lephad_wfr_applyff_processes_wjetsqcd.style
plotlabel: "H/A#rightarrow#tau_{lep}#tau_{had} WFR W+jets QCD ($(channel))"
