# -*- mode: config -*-

[config]
include: ML-leptau/config/common/master/analyze-common.cfg

[analyze]
outputFile: sampleFolders/analyzed/samples-analyzed-ML-leptau-SR-FF-NOMINAL.root
cuts: ML-leptau/config/SR/cuts/cuts-FF.def

histograms: ML-leptau/config/SR/histograms/histograms.txt

# To turn on remove data from joblists or uncomment data lines in pathc files
#ntuples: ML-leptau/config/SR/ntuples/ntuples-FF.txt


#aliases.ApplyMultiJetsLFF = true
#aliases.MultiJetsLFFPeriod: Combined
#
#aliases.ApplyOtherJetsTFF: false
#
#aliases.ApplyOtherJetsSF: false
#
#aliases.ApplyMCFakesSF: true
#
#aliases.ApplyTopSF: true
