# -*- mode: config -*-

[config]
include: ML-leptau/config/common/master/visualize-common.cfg

[visualize]
inputFile: sampleFolders/analyzed/samples-analyzed-ML-leptau-SR-FF-NOMINAL.root
outputDir: results/ML-leptau-SR-FF-os
histogramProcesses: ML-leptau/config/SR/visualization/processes/histogram-processes-FF-os.txt
cutflowProcessFiles: ML-leptau/config/SR/visualization/processes/cutflow-processes-FF-os.txt
cutflowCutFiles: ML-leptau/config/SR/visualization/cuts/cuts-FF-os.txt
visualizeCampaigns: c16ade

plotlabel.region: "SR"
#makePlots: CutOSBtag*BJetPt/*
