# -*- mode: config -*-

## use the same input sample file as nominal analysis

###
#config.Include: definitions/htautau_lephad_aliases.cfg
runAnalysis.inputFile:   input/htautau_lephad_sr.root:samples
runAnalysis.outputFile:  output/htautau_lephad_sr_contid/nominal_full.root:samples
#runAnalysis.doData: false
### FAKE FACTORS:
    ### select wjets fake factor:
    ### FFPT (default) for pt parametrization
    ### FFDPHI for pt par and dphi corr (dphi corr bveto only)
runAnalysis.myWjetsFF: FFWPTDPHI
    ### select lepton fake factor:
    ### FFETA (default) for eta parametrization
    ### FFPT for pt parametrization
    ### FFPTDPHI for pt par and dphi corr
    ### FFETAPTDPHI for pt, eta/<eta>, dphicorr, but only in ehad
runAnalysis.myLeptonFF: FF2DPTDPHI
###
runAnalysis.addObservables: BSMTriggerDecision.py, BSMLepHad_TopSys.py, TruthSelector.py, ScaleFactor.py, ptReweight.py, isoReweight.py, mTtot.py, higgsPt.py, ptReweightBDT.py
runAnalysis.cuts: ConfigSignalRegion/htautau_lephad_cuts_srcontid_mc.def
runAnalysis.doData: true
runAnalysis.channels: muhad, ehad
runAnalysis.histograms: ConfigSignalRegion/htautau_lephad_sr_histograms.txt


###

#readAnalysis.inputFile: debug.root:samples
readAnalysis.inputFile: output/htautau_lephad_sr_contid/nominal_full.root:samples
#readAnalysis.outputDir:  results/htautau-lephad-vr-contid-lepffeta-wjets
readAnalysis.outputDir:  results/htautau-lephad-r21-sr-contid-tag1
readAnalysis.logScale: True
readAnalysis.makePlots: CutBveto1pBDT*/*,CutBveto3pBDT*/*
#readAnalysis.makePlots: CutBtag1pBDT*/*,CutBtag3pBDT*/*
#readAnalysis.makePlots: CutBveto1pBDT*/*MTTOT1,CutBveto3pBDT*/*MTTOT1
#readAnalysis.makePlots: CutBtag1p*/*MTTOT1,CutBtag3p*/*MTTOT1
#readAnalysis.makePlots: CutVRBtag1p*/*,CutVRBtag3p*/*
#readAnalysis.makePlots: CutVRBtag1pBDT*/*,CutVRBtag3pBDT*/*
#readAnalysis.makePlots: CutVRBveto1p*/*,CutVRBveto3p*/*
#readAnalysis.makePlots: CutVRBveto1pBDT*/*,CutVRBveto3pBDT*/*
readAnalysis.makeCutflows: True
readAnalysis.channels: muhad
	#, ehad
readAnalysis.plotter.style.showEventYields: True
#readAnalysis.plotter.style.showOptScan: True
readAnalysis.plotter.labels.process: "H#rightarrow#tau_{lep}#tau_{had} SR (#mu#tau_{had})"
#" (e#tau_{had})"
readAnalysis.histogramProcesses: ConfigSignalRegion/htautau_lephad_sr_processes.style
readAnalysis.cutflowProcessFiles: ConfigSignalRegion/htautau_lephad_sr_processes.style
readAnalysis.cutflowCutFiles: ConfigSignalRegion/htautau_lephad_srcontid_cuts.txt
readAnalysis.cutprinter.standalone: True
readAnalysis.plotformat: pdf
#readAnalysis.systematics: "output/htautau_lephad_sr_contid/ehad_bveto_systematics.root:systematics>>::syst"
#readAnalysis.systematics: "output/htautau_lephad_sr_contid/ehad_btag_systematics.root:systematics>>::syst"
#readAnalysis.systematics: "output/htautau_lephad_sr_contid/muhad_bveto_systematics.root:systematics>>::syst"
#readAnalysis.systematics: "output/htautau_lephad_sr_contid/muhad_btag_systematics.root:systematics>>::syst"
readAnalysis.plotter.errors.showSys: "syst"
readAnalysis.plotter.labels.atlas: "Work in Progress"
readAnalysis.plotter.labels.atlas.scale: 0.9
readAnalysis.plotter.labels.drawInfo: True
readAnalysis.plotter.style.forceRatioLimits: True
readAnalysis.plotter.style.min: 0.9
readAnalysis.plotter.style.ratioMin: 0.5
readAnalysis.plotter.style.ratioMax: 1.5
#readAnalysis.plotter.labels.totalBkg: "Z MC Fakes"
#readAnalysis.plotter.labels.data: "Z MC"
readAnalysis.plotter.style.legend.textSize: 0.022
#readAnalysis.plotter.style.showUnderflow: True
readAnalysis.plotter.style.showOverflow: True
#readAnalysis.plotter.style.logMinMin: 10

#createSystematics.weightSystematicsFile: systematics/plot.systematics
#createSystematics.inputDir: output/fake_july
#createSystematics.nominalFile: nominal.root
#createSystematics.sampleFolder: :samples
#createSystematics.channel: lephad
#createSystematics.cuts: CutVBFCBSR,CutBOOSTCBSR
#createSystematics.outputDir: systematics
#createSystematics.outputFile: systematics_july.root
#createSystematics.tableName: systematics_table_july
