# -*- mode: config -*-






[prepare]

# name of the output file
outputFile:  prepared/samples-run2-prepared-ZjetsFF-Example.root
#sampleFolderName: samples

# paths and names of the input data files
dataPaths: /afs/cern.ch/user/d/dshope/public/forCAFExample/ZjetsFF_nTuples/data/:CAFExampleTree
dataFilePattern: *.root*
#dataFolderPattern: data/$(channel)

# input cross section files (and map)
XsecFiles: XSec/XS_13TeV_bkg_ZjetsFF_Example.csv
XsecWhitelist: XSec/ZjetsFF-Example-whitelist.txt
XsecPriorityColumn: priority
XsecPriorityMax: 1
XsecMap: maps/ZjetsFF-Example.map
XsecUnit: nb
channelPlaceholder: channel
# read in the SumOfWeightsPerEvent externally
#averageweights.filename:XSec/DC14_SumOfWeightsPerEvent.csv
#averageweights.colname:Nominal
#averageWeightName: averageWeight
# some debugging options:
# printFolderTags: rdt
# printXsec: true

# channels to run over
channels: ee,mm

# energy and luminosity
luminosity: 36074.56
luminosityUnit: pb
energy: 13
#energyUnit: TeV

# patch files to apply
patches: patch/prepareZjetsFF-patch.txt






[initialize]

# name of the input file
inputFile: prepared/samples-run2-prepared-ZjetsFF-Example.root

# name of the output file
outputFile: initialized/samples-run2-initialized-ZjetsFF-Example.root

# paths and names of the input mc files to initialize
mcPaths: /afs/cern.ch/user/d/dshope/public/forCAFExample/ZjetsFF_nTuples/mc/:CAFExampleTree
mcFilenameSuffix: *.root*
mcFilenamePrefix: *

# some debugging options for the sample initializer
# initialize: false
printSamplesFailed: true
verbose: true

initializer.useCountHistogram: true

# purgeSamples: true

# channels to run over
channels: ee,mm

luminosity: 36074.56
luminosityUnit: pb

# preInit patch files to apply
#preInit_patches:

# postInit patch files to apply
#postInit_patches:






[analyze]

# name of the input file
inputFile: initialized/samples-run2-initialized-ZjetsFF-Example.root

# name of the output file
outputFile: analyzed/samples-run2-analyzed-ZjetsFF-Example.root

# channels to run over
channels: ee,mm

#maxEvents: 1

#progressInterval: 5.

# experiminetal on-the-fly initialization (used for grid production)
#initializerLists: files.txt

useMultiChannelVisitor: true


# global properties
#useTransientTree: false
#useAthenaAccessMode: true
#loadStore: false

#doData: false

#MVA:

#xAODdumping.cuts

#memoryGraph

#initializerLists:

#purgeSamples: true

purgeRemainder: true

#showChannels: true

#checkRun: false

#printCounterValues: true
#printHistogramsASCII:

#reduceMCVObservables: true

#restrict:

# define the cuts
cuts: cuts/run2-ZjetsFF-Example.def
#templatedCuts.templateFilepath: 
#templatedCuts.inputsDir: 
#nullifyCuts:
#cutbased.makeCutflow: false

patches: patch/analyzeZjetsFF-patch.txt

# add any observables
#addObservables: 

#printObservables: true

#algorithms:

#xAODdumping.outputDir:

# book histograms
histograms: definitions/run2-histograms-ZjetsFF-Example.cfg
#multidimHistograms: 
#makeHistograms: false
#printHistograms: true

# book graphs
#graphs:
#makeGraphs: false
#printGraphs: true

# book event lists
#eventlists:
#makeEventLists: false

# book ntuple dumping
#ntuples:
#dumpNtuples: false
#printNtuples: true

# include aliases
config.Include: definitions/run2-aliases-ZjetsFF-Example.cfg






[visualize]

# name of the input file
inputFile: analyzed/samples-run2-analyzed-ZjetsFF-Example.root

# name of the output file
outputFile: visualized/samples-run2-visualized-ZjetsFF-Example.root

# name of the output folder
outputDir: results/ZjetsFF_Example

# channels to run over
channels: ee,mm, sf

patches: patch/visualizeZjetsFF-patch.txt

#verbose: true

showData: false

#fakeData.source:
#fakeData.channels:
#fakeData.target:

#doNFs: false
#nfConfig:
#NF.doNFplots: true
#NF. ... :

makePlots: *
#morePlots:
#summaryCuts:
#plotter. ... :
#useEXIF:
#embedPDFfonts:
#plotFormats:
#histogramScheme:
histogramProcesses: style/process_def/ZjetsFF-Example-plots.txt
#skipAllPlots: true
#skipPlotsSilent: true
#showPlotLabels:
#plotlabel:
#makeLinPlots:
#summaryLinearOnly:
makeLogPlots: false

#makeComparePlots:
#plotFormats:
#compPlotter. ... :

#cutprinter. ... :

makeCutflows: true
cutflowFormats: txt, tex, html
#cutflowprinter.style.precision: 3
#cutflowprinter.style.default.showRaw: true

cutflowProcessFiles: style/process_def/ZjetsFF-Example-cutflows.txt
cutflowCutFiles: style/cut_def/ZjetsFF-Example-cutflows.txt

#makeEventlists: true
#eventlistProcessFiles:

#eventlistprinter. ... :

#variation:

#systematics: